@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
  color: #999999;
}

::-webkit-input-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: PingFangSC-Regular;
  background: #FAFAFA;
}

input,
textarea {
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

@media screen and (orientation: portrait) {
  /*竖屏 css*/
  .album-page {
    width: 100%;
    height: 100%;
    background: #333333;
    position: relative;
  }
  .album-page .album-page-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #333333;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
  }
  .album-page .album-page-section .section-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background: #333333;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
  }
  .album-page .album-page-section .section-wrapper .top-txt-vertical {
    height: 0.9rem;
    width: 100%;
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper .top-txt-vertical .top-txt-box {
    display: inline-block;
    height: 100%;
  }
  .album-page .album-page-section .section-wrapper .top-txt-vertical .top-txt-box span {
    display: inline-block;
    float: left;
    height: 0.75rem;
    font-family: PingFangSC-Medium;
    font-size: 0.65rem;
    line-height: 0.75rem;
    color: #FFFFFF;
  }
  .album-page .album-page-section .section-wrapper .top-txt-vertical .top-txt-box .sale-name {
    margin-right: 0.4rem;
  }
  .album-page .album-page-section .section-wrapper .top-txt-transverse {
    display: none;
  }
  .album-page .album-page-section .section-wrapper .img-box {
    width: 100%;
    height: 100%;
    position: relative;
    background: #333333;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li .pinch-zoom-container {
    height: 100% !important;
    width: 100% !important;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li .pinch-zoom-container .li_box {
    width: 100%;
    height: 42%;
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li .pinch-zoom-container .li_box img {
    width: 100%;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li .pinch-zoom-container .li_box .startUp-btn {
    width: 2.7rem;
    height: 2.7rem;
    background: url(../img/play.png) center center no-repeat;
    background-size: 2.5rem 2.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li .img-name {
    height: 0.8rem;
    position: absolute;
    bottom: 0.25rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li .img-name span {
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    background: #000000;
    border-radius: 0.2rem;
    padding: 0 0.25rem;
    font-size: 0.5rem;
    color: #ffffff;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical {
    width: 100%;
    height: 0.9rem;
    position: absolute;
    top: 78%;
    box-sizing: border-box;
    z-index: 999;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box {
    width: 100%;
    height: 100%;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul {
    height: 0.9rem;
    padding-left: 12px;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li {
    display: inline-block;
    float: left;
    font-family: PingFangSC-Medium;
    font-size: 0.6rem;
    line-height: 0.9rem;
    color: #ffffff;
    overflow: hidden;
    text-align: center;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li .bottom-nav-li-txt {
    display: block;
    padding: 0 0.35rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li .bottom-nav-li-txt span {
    display: inline-block;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li ._this_num {
    display: none;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li ._this_num-txt {
    display: none;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li.select {
    color: #548CE9;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li:last-child {
    padding-right: 0;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse {
    opacity: 0;
    height: 0;
    width: 100%;
    height: 0.9rem;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    z-index: -999;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul {
    display: inline-block;
    height: 0.9rem;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li {
    display: inline-block;
    float: left;
    font-family: PingFangSC-Medium;
    font-size: 0.6rem;
    line-height: 0.9rem;
    color: #ffffff;
    overflow: hidden;
    text-align: center;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li .bottom-nav-li-txt {
    display: block;
    padding: 0 0.35rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li .bottom-nav-li-txt span {
    display: inline-block;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li ._this_num {
    display: none;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li ._this_num-txt {
    display: none;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li.select {
    color: #548CE9;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li:last-child {
    padding-right: 0;
  }
  .album-page .album-page-section .section-wrapper .return {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  /*横屏 css*/
  .album-page {
    width: 100%;
    height: 100%;
    background: #333333;
  }
  .album-page .album-page-section {
    width: 100%;
    height: 100%;
    background: #333333;
  }
  .album-page .album-page-section .section-wrapper {
    width: 100%;
    height: 100%;
    background: #333333;
    position: relative;
  }
  .album-page .album-page-section .section-wrapper .top-txt-vertical {
    display: none;
  }
  .album-page .album-page-section .section-wrapper .top-txt-transverse {
    height: 0.9rem;
    width: 50%;
    position: absolute;
    top: 0.5rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper .top-txt-transverse .top-txt-box {
    display: inline-block;
    height: 100%;
  }
  .album-page .album-page-section .section-wrapper .top-txt-transverse .top-txt-box span {
    display: inline-block;
    float: left;
    height: 0.75rem;
    font-family: PingFangSC-Medium;
    font-size: 0.65rem;
    line-height: 0.75rem;
    color: #FFFFFF;
  }
  .album-page .album-page-section .section-wrapper .top-txt-transverse .top-txt-box .sale-name {
    margin-right: 0.4rem;
  }
  .album-page .album-page-section .section-wrapper .img-box {
    width: 100%;
    height: 100%;
    background: #333333;
    position: relative;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li .pinch-zoom-container {
    height: 100% !important;
    width: 100% !important;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li .pinch-zoom-container .li_box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li .pinch-zoom-container .li_box img {
    height: 100%;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li .pinch-zoom-container .li_box .startUp-btn {
    width: 2.7rem;
    height: 2.7rem;
    background: url(../img/play.png) center center no-repeat;
    background-size: 2.5rem 2.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical {
    opacity: 0;
    height: 0;
    width: 100%;
    height: 0.9rem;
    position: absolute;
    top: 78%;
    box-sizing: border-box;
    z-index: -999;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul {
    height: 0.9rem;
    padding-left: 12px;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li {
    display: inline-block;
    float: left;
    font-family: PingFangSC-Medium;
    font-size: 0.6rem;
    line-height: 0.9rem;
    color: #ffffff;
    overflow: hidden;
    text-align: center;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li .bottom-nav-li-txt {
    display: block;
    padding: 0 0.35rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li .bottom-nav-li-txt span {
    display: inline-block;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li ._this_num {
    display: none;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li ._this_num-txt {
    display: none;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li.select {
    color: #548CE9;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li:last-child {
    padding-right: 0;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse {
    width: 100%;
    height: 0.9rem;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    z-index: 999;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul {
    display: inline-block;
    height: 0.9rem;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li {
    display: inline-block;
    float: left;
    font-family: PingFangSC-Medium;
    font-size: 0.6rem;
    line-height: 0.9rem;
    color: #ffffff;
    overflow: hidden;
    text-align: center;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li .bottom-nav-li-txt {
    display: block;
    padding: 0 0.35rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li .bottom-nav-li-txt span {
    display: inline-block;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li ._this_num {
    display: none;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li ._this_num-txt {
    display: none;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li.select {
    color: #548CE9;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse .bottom-nav-box ul li:last-child {
    padding-right: 0;
  }
  .album-page .album-page-section .section-wrapper .return {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper .return img {
    display: block;
    width: 0.75rem;
    height: 0.75rem;
  }
}
