* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
    color: #999999;
}

::-webkit-input-placeholder {
    color: #999999;
}

:-ms-input-placeholder {
    color: #999999;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;
@media screen and (orientation: portrait) {
    /*竖屏 css*/
    .album-page {
        width: 100%;
        height: 100%;
        background: #333333;
        position: relative;
        .album-page-section {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: #333333;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            position: relative;
            .section-wrapper{
                width: 100%;
                height: 100%;
                position: relative;
                background: #333333;
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                justify-content: center;
                .top-txt-vertical {
                    height: 18/$sc+rem;
                    width: 100%;
                    position: absolute;
                    top: 12%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 999;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .top-txt-box {
                        display: inline-block;
                        height: 100%;
                        span {
                            display: inline-block;
                            float: left;
                            height: 15/$sc+rem;
                            font-family: PingFangSC-Medium;
                            font-size: 13/$sc+rem;
                            line-height: 15/$sc+rem;
                            color: #FFFFFF;
                        }
                        .sale-name {
                            margin-right: 8/$sc+rem;
                        }
                    }
                }
                .top-txt-transverse{
                    display: none;
                }
                .img-box {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    background: #333333;
                    display: flex;
                    flex-direction: column;
                    .img-box-ul{
                        width: 100%;
                        flex: 1;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        li{
                            width: 100%;
                            height: 100%;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .pinch-zoom-container{
                                width: 100%!important;
                                height: auto;
                                overflow:  initial!important;
                                .li_box{
                                    height: auto;
                                    width: 100%!important;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    img{
                                        width: 100%;
                                    }
                                    .startUp-btn{
                                        width: 54/$sc+rem;
                                        height: 54/$sc+rem;
                                        background: url(../img/play.png) center center no-repeat;
                                        background-size: 50/$sc+rem 50/$sc+rem;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        margin: auto;
                                    }
                                }
                            }
                            .img-name{
                                height: 16/$sc+rem;
                                position: absolute;
                                bottom: -8%;
                                left: 0;
                                right: 0;
                                margin: auto ;
                                z-index: 9999;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                span{
                                    display: inline-block;
                                    height: 16/$sc+rem;
                                    line-height: 16/$sc+rem;
                                    background: #000000;
                                    border-radius: 4/$sc+rem;
                                    padding: 0 5/$sc+rem;
                                    font-size: 10/$sc+rem;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                    .bottom-wrapper{
                        height: 8%;
                    }
                }
                .bottom-nav-vertical {
                    width: 100%;
                    height: 18/$sc+rem;
                    position: absolute;
                    top: 78%;
                    box-sizing: border-box;
                    z-index: 999;
                    .bottom-nav-box{
                       width: 100%;
                       height: 100%;
                        ul {
                            height: 18/$sc+rem;
                            padding-left: 12px;
                            li {
                                display: inline-block;
                                float: left;
                                font-family: PingFangSC-Medium;
                                font-size: 12/$sc+rem;
                                line-height: 18/$sc+rem;
                                color: #ffffff;
                                overflow: hidden;
                                text-align: center;
                                .bottom-nav-li-txt{
                                    display: block;
                                    padding: 0 7/$sc+rem;
                                    box-sizing: border-box;
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    span{
                                        display: inline-block;
                                    }
                                }
                                ._this_num{
                                    display: none;
                                }
                                ._this_num-txt{
                                    display: none;
                                }
                            }
                            li.select{
                                color: #548CE9;
                            }
                            li:last-child{
                                padding-right: 0;
                            }
                        } 
                    }
                }
                .bottom-nav-transverse{
                    opacity: 0;
                    height: 0;
                    width: 100%;
                    height: 18/$sc+rem;
                    position: absolute;
                    bottom: 10/$sc+rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    box-sizing: border-box;
                    z-index: -999;
                    .bottom-nav-box{
                       width: 100%;
                       height: 100%;
                       display: flex;
                       justify-content: center;
                       align-items: center;
                        ul {
                            display: inline-block;
                            height: 18/$sc+rem;
                            li {
                                display: inline-block;
                                float: left;
                                font-family: PingFangSC-Medium;
                                font-size: 12/$sc+rem;
                                line-height: 18/$sc+rem;
                                color: #ffffff;
                                overflow: hidden;
                                text-align: center;
                                .bottom-nav-li-txt{
                                    display: block;
                                    padding: 0 7/$sc+rem;
                                    box-sizing: border-box;
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    span{
                                        display: inline-block;
                                    }
                                }
                                ._this_num{
                                    display: none;
                                }
                                ._this_num-txt{
                                    display: none;
                                }
                            }
                            li.select{
                                color: #548CE9;
                            }
                            li:last-child{
                                padding-right: 0;
                            }
                        } 
                    }
                }
                .return{
                    display: none;
                }
            }
        }
    }
}

@media screen and (orientation: landscape) {
    /*横屏 css*/
    .album-page {
        width: 100%;
        height: 100%;
        background: #333333;
        .album-page-section {
            width: 100%;
            height: 100%;
            background: #333333;
            .section-wrapper{
                width: 100%;
                height: 100%;
                background: #333333;
                position: relative;
                .top-txt-vertical {
                    display: none;
                }
                .top-txt-transverse{
                    height: 18/$sc+rem;
                    width: 50%;
                    position: absolute;
                    top: 10/$sc+rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 999;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .top-txt-box {
                        display: inline-block;
                        height: 100%;
                        span {
                            display: inline-block;
                            float: left;
                            height: 15/$sc+rem;
                            font-family: PingFangSC-Medium;
                            font-size: 13/$sc+rem;
                            line-height: 15/$sc+rem;
                            color: #FFFFFF;
                        }
                        .sale-name {
                            margin-right: 8/$sc+rem;
                        }
                    }
                }
                .img-box {
                    width: 100%;
                    height: 100%;
                    background: #333333;
                    position: relative;
                    .img-box-ul{
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        li{
                            width: 100%;
                            height: 100%;
                            position: relative;
                            .pinch-zoom-container{
                                height: 100%!important;
                                width: 100%!important;
                                .li_box{
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    img{
                                        height: 100%;
                                    }
                                    .startUp-btn{
                                        width: 54/$sc+rem;
                                        height: 54/$sc+rem;
                                        background: url(../img/play.png) center center no-repeat;
                                        background-size: 50/$sc+rem 50/$sc+rem;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        margin: auto;
                                    }
                                }
                            }
                        }
                    }
                }
                .bottom-nav-vertical {
                    opacity: 0;
                    height: 0;
                    width: 100%;
                    height: 18/$sc+rem;
                    position: absolute;
                    top: 78%;
                    box-sizing: border-box;
                    z-index: -999;
                    .bottom-nav-box{
                       width: 100%;
                       height: 100%;
                       overflow: auto;
                       -webkit-overflow-scrolling: touch;
                        ul {
                            height: 18/$sc+rem;
                            padding-left: 12px;
                            li {
                                display: inline-block;
                                float: left;
                                font-family: PingFangSC-Medium;
                                font-size: 12/$sc+rem;
                                line-height: 18/$sc+rem;
                                color: #ffffff;
                                overflow: hidden;
                                text-align: center;
                                .bottom-nav-li-txt{
                                    display: block;
                                    padding: 0 7/$sc+rem;
                                    box-sizing: border-box;
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    span{
                                        display: inline-block;
                                    }
                                }
                                ._this_num{
                                    display: none;
                                }
                                ._this_num-txt{
                                    display: none;
                                }
                            }
                            li.select{
                                color: #548CE9;
                            }
                            li:last-child{
                                padding-right: 0;
                            }
                        } 
                    }
                }
                .bottom-nav-transverse{
                    width: 100%;
                    height: 18/$sc+rem;
                    position: absolute;
                    bottom: 10/$sc+rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    box-sizing: border-box;
                    z-index: 999;
                    .bottom-nav-box{
                       width: 100%;
                       height: 100%;
                       overflow: auto;
                       -webkit-overflow-scrolling: touch;
                       display: flex;
                       justify-content: center;
                       align-items: center;
                        ul {
                            display: inline-block;
                            height: 18/$sc+rem;
                            li {
                                display: inline-block;
                                float: left;
                                font-family: PingFangSC-Medium;
                                font-size: 12/$sc+rem;
                                line-height: 18/$sc+rem;
                                color: #ffffff;
                                overflow: hidden;
                                text-align: center;
                                .bottom-nav-li-txt{
                                    display: block;
                                    padding: 0 7/$sc+rem;
                                    box-sizing: border-box;
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    span{
                                        display: inline-block;
                                    }
                                }
                                ._this_num{
                                    display: none;
                                }
                                ._this_num-txt{
                                    display: none;
                                }
                            }
                            li.select{
                                color: #548CE9;
                            }
                            li:last-child{
                                padding-right: 0;
                            }
                        } 
                    }
                }
                .return{
                    display: block;
                    width: 35/$sc+rem;
                    height: 35/$sc+rem;
                    z-index: 999;
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        display: block;
                        width: 15/$sc+rem;
                        height: 15/$sc+rem;
                    }
                }
            }
        }
    }
}