* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
    color: #999999;
}

::-webkit-input-placeholder {
    color: #999999;
}

:-ms-input-placeholder {
    color: #999999;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;
.album-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    .album-page-header {
        width: 100%;
        background: #47464b;
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 17/$sc+rem;
                color: #FFFFFF;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 18/$sc+rem;
                line-height: 18/$sc+rem;
                padding-left: 16/$sc+rem;
                font-size: 17/$sc+rem;
                color: #ffffff;
                background: url(../img/return.png) no-repeat;
                background-size: 9/$sc+rem 16/$sc+rem;
                background-position-x: left;
                background-position-y: 1/$sc+rem;
                position: absolute;
                top: 14/$sc+rem;
                left: 8/$sc+rem;
            }
            .more {
                display: block;
                height: 20/$sc+rem;
                width: 20/$sc+rem;
                background: url(../img/more.png) no-repeat;
                background-size: 20/$sc+rem 20/$sc+rem;
                position: absolute;
                top: 13/$sc+rem;
                right: 8/$sc+rem;
            }
        }
    }
    .album-page-section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #333333;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        .section-wrapper {
            width: 100%;
            height: 100%;
            background: #333333;
            display: -webkit-flex;
            flex-direction: column;
            .top-txt {
                flex: 1;
                -webkit-flex: 1;
                width: 100%;
                display: -webkit-flex;
                justify-content: center;
                align-items: center;
                .top-txt-box {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        font-family: PingFangSC-Medium;
                        font-size: 13/$sc+rem;
                        line-height: 18/$sc+rem;
                        color: #FFFFFF;
                    }
                    .sale-name {
                        margin-right: 8/$sc+rem;
                    }
                }
            }
            .img-box {
                width: 100%;
                height: 210/$sc+rem;
                background: #ffffff;
            }
            .bottom-nav {
                flex: 1.55;
                -webkit-flex: 1.55;
                width: 100%;
                position: relative;
                ul {
                    width: 100%;
                    height: 30/$sc+rem;
                    position: absolute;
                    top: 30%;
                    li {
                        font-family: PingFangSC-Medium;
                        font-size: 12/$sc+rem;
                        line-height: 30/$sc+rem;
                        text-align: center;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}