* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
    color: #999999;
}

::-webkit-input-placeholder {
    color: #999999;
}

:-ms-input-placeholder {
    color: #999999;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;
.album-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background: #333333;
    display: flex;
    flex-direction: column;
    .album-page-header {
        display: none;
    }
    .album-page-section {
        width: 100%;
        height: 100%;
        position: relative;
        background: #333333;
        .section-wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            .top-txt {
                width: 50%;
                height: 18/$sc+rem;
                position: absolute;
                top: 10/$sc+rem;
                left: 0;
                right: 0;
                margin: auto;
                .top-txt-box {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        float: left;
                        font-family: PingFangSC-Medium;
                        font-size: 13/$sc+rem;
                        line-height: 18/$sc+rem;
                        color: #FFFFFF;
                    }
                    .sale-name {
                        padding-right: 8/$sc+rem;
                    }
                }
            }
            .img-box {
                width: 86%;
                height: 100%;
                margin: 0 auto;
                background: red;
            }
            .bottom-nav {
                width: 100%;
                height: 20/$sc+rem;
                position: relative;
                position: absolute;
                bottom: 0;
                ul {
                    width: 100%;
                    height: 16/$sc+rem;
                    position: absolute;
                    top: 25%;
                    li {
                        font-family: PingFangSC-Medium;
                        font-size: 12/$sc+rem;
                        line-height: 16/$sc+rem;
                        text-align: center;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}