@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
  color: #999999;
}

::-webkit-input-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: PingFangSC-Regular;
  background: #FAFAFA;
}

input,
textarea {
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

@media screen and (orientation: portrait) {
  /*竖屏 css*/
  .album-page {
    width: 100%;
    height: 100%;
    background: #333333;
    display: flex;
    flex-direction: column;
  }
  .album-page .album-page-header {
    width: 100%;
    background: #47464b;
  }
  .album-page .album-page-header .title_bar {
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    position: relative;
  }
  .album-page .album-page-header .title_bar .title_txt {
    font-size: 0.85rem;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
  }
  .album-page .album-page-header .title_bar .return {
    display: block;
    height: 0.9rem;
    line-height: 0.9rem;
    padding-left: 0.8rem;
    font-size: 0.85rem;
    color: #ffffff;
    background: url(../img/return.png) no-repeat;
    background-size: 0.45rem 0.8rem;
    background-position-x: left;
    background-position-y: 0.05rem;
    position: absolute;
    top: 0.7rem;
    left: 0.4rem;
  }
  .album-page .album-page-header .title_bar .more {
    display: block;
    height: 1rem;
    width: 1rem;
    background: url(../img/more.png) no-repeat;
    background-size: 1rem 1rem;
    position: absolute;
    top: 0.65rem;
    right: 0.4rem;
  }
  .album-page .album-page-section {
    flex: 1;
    -webkit-flex: 1;
    overflow: hidden;
    background: #333333;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
  }
  .album-page .album-page-section .section-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background: #333333;
    display: flex;
    flex-direction: column;
  }
  .album-page .album-page-section .section-wrapper .top-txt-vertical {
    flex: 1;
    -webkit-flex: 1;
    width: 100%;
  }
  .album-page .album-page-section .section-wrapper .top-txt-vertical .top-txt-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper .top-txt-vertical .top-txt-box span {
    font-family: PingFangSC-Medium;
    font-size: 0.65rem;
    line-height: 0.9rem;
    color: #FFFFFF;
  }
  .album-page .album-page-section .section-wrapper .top-txt-vertical .top-txt-box .sale-name {
    margin-right: 0.4rem;
  }
  .album-page .album-page-section .section-wrapper .top-txt-transverse {
    display: none;
  }
  .album-page .album-page-section .section-wrapper .img-box {
    flex: 3.5;
    -webkit-flex: 3.5;
    width: 100%;
    background: #333333;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul {
    width: 100%;
    height: 100%;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li {
    width: 100%;
    height: 10.5rem;
    position: relative;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li img {
    width: 100%;
  }
  .album-page .album-page-section .section-wrapper .img-box .img-box-ul li .startUp-btn {
    width: 2.5rem;
    height: 2.5rem;
    background: url(../img/play.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical {
    display: none;
    width: 100%;
    height: 0.9rem;
    padding: 0 0.6rem;
    position: absolute;
    bottom: 20%;
    box-sizing: border-box;
    z-index: 999;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box {
    width: 100%;
    height: 100%;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul {
    height: 0.9rem;
    padding-left: 5px;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li {
    display: inline-block;
    float: left;
    padding-right: 0.6rem;
    font-family: PingFangSC-Medium;
    font-size: 0.6rem;
    line-height: 0.9rem;
    text-align: center;
    color: #ffffff;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li.select {
    color: #FF7C00;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-vertical .bottom-nav-box ul li:last-child {
    padding-right: 0;
  }
  .album-page .album-page-section .section-wrapper .bottom-nav-transverse {
    display: none;
  }
  .album-page .album-page-section .section-wrapper .return {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  /*横屏 css*/
  .album-page {
    width: 100%;
    height: 100%;
    background: #333333;
  }
  .album-page .album-page-header {
    display: none;
  }
  .album-page .album-page-section {
    width: 100%;
    height: 100%;
    background: #333333;
  }
  .album-page .album-page-section .section-wrapper-transverse {
    width: 100%;
    height: 100%;
    background: #333333;
    position: relative;
  }
  .album-page .album-page-section .section-wrapper-transverse .top-txt {
    width: 50%;
    position: absolute;
    top: 0.5rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
  }
  .album-page .album-page-section .section-wrapper-transverse .top-txt .top-txt-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper-transverse .top-txt .top-txt-box span {
    font-family: PingFangSC-Medium;
    font-size: 0.65rem;
    line-height: 0.9rem;
    color: #FFFFFF;
  }
  .album-page .album-page-section .section-wrapper-transverse .top-txt .top-txt-box .sale-name {
    padding-right: 0.4rem;
  }
  .album-page .album-page-section .section-wrapper-transverse .img-box {
    width: 100;
    height: 100%;
    margin: 0 auto;
    background: #333333;
  }
  .album-page .album-page-section .section-wrapper-transverse .img-box .img-box-ul {
    width: 100%;
    height: 100%;
  }
  .album-page .album-page-section .section-wrapper-transverse .img-box .img-box-ul li {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper-transverse .img-box .img-box-ul li img {
    height: 100%;
  }
  .album-page .album-page-section .section-wrapper-transverse .img-box .img-box-ul li .startUp-btn {
    width: 2.5rem;
    height: 2.5rem;
    background: url(../img/play.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .album-page .album-page-section .section-wrapper-transverse .bottom-nav {
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    position: absolute;
    bottom: 0.5rem;
    margin: 0 auto;
    z-index: 999;
  }
  .album-page .album-page-section .section-wrapper-transverse .bottom-nav .bottom-nav-box {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .album-page .album-page-section .section-wrapper-transverse .bottom-nav .bottom-nav-box ul {
    width: 100%;
    height: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .album-page .album-page-section .section-wrapper-transverse .bottom-nav .bottom-nav-box ul li {
    display: inline-block;
    float: left;
    padding-right: 0.6rem;
    font-family: PingFangSC-Medium;
    font-size: 0.6rem;
    line-height: 0.9rem;
    text-align: center;
    color: #ffffff;
  }
  .album-page .album-page-section .section-wrapper-transverse .bottom-nav .bottom-nav-box ul li.select {
    color: #FF7C00;
  }
  .album-page .album-page-section .section-wrapper-transverse .bottom-nav .bottom-nav-box ul li:last-child {
    padding-right: 0;
  }
  .album-page .album-page-section .section-wrapper-transverse .return {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .album-page .album-page-section .section-wrapper-transverse .return img {
    width: 0.75rem;
    height: 0.75rem;
  }
  .album-page .album-page-section .section-wrapper-vertical {
    height: 0;
    opacity: 0;
  }
}
