* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: PingFangSC-Regular;
    background: #F4F4F4;
}

li {
    list-style: none;
}

$sc:25;
.container {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    //-----------------头    部----------------------
    .header {
        width: 100%;
        background: #f6f6f6;
        z-index: 10;
        .signal_bar {
            width: 100%;
            height: 20/$sc+rem;
        }
        .property-information {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            box-shadow: 0 1px 0 0 #CCCCCC;
            -webkit-box-shadow: 0 1px 0 0 #CCCCCC;
            .property-information-title {
                font-size: 18/$sc+rem;
                color: #394043;
                text-align: center;
                font-weight: normal;
            }
        }
        .content-nav {
            height: 52/$sc+rem;
            width: 100%;
            overflow: hidden;
            background: #FFFFFF;
            box-shadow: inset 0 -1px 0 0 #EEEEEE;
            -webkit-box-shadow: inset 0 -1px 0 0 #EEEEEE;
            .navsub-ul {
                height: 52/$sc+rem;
                width: 410/$sc+rem;
                padding: 0 12/$sc+rem;
                li {
                    float: left;
                    height: 52/$sc+rem;
                    line-height: 52/$sc+rem;
                    width: 82/$sc+rem;
                    font-size: 14/$sc+rem;
                    text-align: center;
                    color: #394043;
                }
                li.navsub-ul-active {
                    font-size: 16/$sc+rem;
                    color: #0099EB;
                }
            }
        }
    }
    //-----------------内    容----------------------
    .section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #f4f4f4;
        .section-content-body {
            padding-bottom: 32/$sc+rem;
            .section-content-massage {
                .pri-ul {
                    .pri-li {
                        width: 100%;
                        background: #FFFFFF;
                        padding: 0 16/$sc+rem;
                        box-shadow: inset 0 -1px 0 0 #EEEEEE;
                        -webkit-box-shadow: inset 0 -1px 0 0 #EEEEEE;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        display: flex;
                        display: -webkit-flex;
                        flex-direction: row;
                        .firststyle {
                            margin: 16/$sc+rem 0;
                            .style-left {
                                width: 0;
                                height: 75/$sc+rem;
                                float: left;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .style-right {
                                width: 100%;
                                float: left;
                                .style-title {
                                    p {
                                        color: #1B1C00;
                                        line-height: 24/$sc+rem;
                                        font-size: 16/$sc+rem;
                                        -webkit-line-clamp: 2;
                                        display: -webkit-box;
                                        overflow: hidden;
                                        -webkit-box-orient: vertical;
                                        .title-txt {
                                            font-size: 16/$sc+rem;
                                            color: #0099EB;
                                            line-height: 24/$sc+rem;
                                            font-weight: normal;
                                        }
                                        .title-content {
                                            font-size: 16/$sc+rem;
                                            color: #1B1C00;
                                            line-height: 24/$sc+rem;
                                            font-weight: normal;
                                        }
                                    }
                                }
                                .style-img {
                                    display: flex;
                                    justify-content: space-between;
                                    flex-wrap: wrap;
                                    img {
                                        width: 32%;
                                        height: 0;
                                    }
                                }
                                .style-info {
                                    line-height: 16/$sc+rem;
                                    height: 16/$sc+rem;
                                    font-size: 12/$sc+rem;
                                    color: #999999;
                                    margin-top: 12/$sc+rem;
                                    .style-copyright {
                                        float: left;
                                    }
                                    .style-time {
                                        float: right;
                                    }
                                }
                            }
                        }
                        .secondstyle {
                            margin: 16/$sc+rem 0;
                            .style-left {
                                width: 100/$sc+rem;
                                height: 75/$sc+rem;
                                padding-right: 16/$sc+rem;
                                float: left;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .style-right {
                                width: 227/$sc+rem;
                                float: left;
                                .style-title {
                                    p {
                                        color: #1B1C00;
                                        line-height: 24/$sc+rem;
                                        font-size: 16/$sc+rem;
                                        -webkit-line-clamp: 2;
                                        display: -webkit-box;
                                        overflow: hidden;
                                        -webkit-box-orient: vertical;
                                        .title-txt {
                                            font-size: 16/$sc+rem;
                                            color: #0099EB;
                                            line-height: 24/$sc+rem;
                                            font-weight: normal;
                                        }
                                        .title-content {
                                            font-size: 16/$sc+rem;
                                            color: #1B1C00;
                                            line-height: 24/$sc+rem;
                                            font-weight: normal;
                                        }
                                    }
                                }
                                .style-img {
                                    display: flex;
                                    justify-content: space-between;
                                    flex-wrap: wrap;
                                    img {
                                        width: 32%;
                                        height: 0;
                                    }
                                }
                                .style-info {
                                    line-height: 16/$sc+rem;
                                    height: 16/$sc+rem;
                                    font-size: 12/$sc+rem;
                                    color: #999999;
                                    margin-top: 12/$sc+rem;
                                    .style-copyright {
                                        float: left;
                                    }
                                    .style-time {
                                        float: right;
                                    }
                                }
                            }
                        }
                        .thirdstyle {
                            margin: 16/$sc+rem 0;
                            .style-left {
                                width: 0;
                                height: 75/$sc+rem;
                                float: left;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .style-right {
                                width: 100%;
                                float: left;
                                .style-title {
                                    p {
                                        color: #1B1C00;
                                        line-height: 24/$sc+rem;
                                        font-size: 16/$sc+rem;
                                        -webkit-line-clamp: 2;
                                        display: -webkit-box;
                                        overflow: hidden;
                                        -webkit-box-orient: vertical;
                                        .title-txt {
                                            font-size: 16/$sc+rem;
                                            color: #0099EB;
                                            line-height: 24/$sc+rem;
                                            font-weight: normal;
                                        }
                                        .title-content {
                                            font-size: 16/$sc+rem;
                                            color: #1B1C00;
                                            line-height: 24/$sc+rem;
                                            font-weight: normal;
                                        }
                                    }
                                }
                                .style-img {
                                    display: flex;
                                    justify-content: space-between;
                                    flex-wrap: wrap;
                                    img {
                                        width: 30%;
                                        height: 0;
                                    }
                                }
                                .style-info {
                                    line-height: 16/$sc+rem;
                                    height: 16/$sc+rem;
                                    font-size: 12/$sc+rem;
                                    color: #999999;
                                    margin-top: 12/$sc+rem;
                                    .style-copyright {
                                        float: left;
                                    }
                                    .style-time {
                                        float: right;
                                    }
                                }
                            }
                        }
                        .fourthstyle {
                            margin: 16/$sc+rem 0;
                            .style-left {
                                width: 0;
                                height: 75/$sc+rem;
                                float: left;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .style-right {
                                width: 100%;
                                float: left;
                                .style-title {
                                    p {
                                        color: #1B1C00;
                                        line-height: 24/$sc+rem;
                                        font-size: 16/$sc+rem;
                                        -webkit-line-clamp: 2;
                                        display: -webkit-box;
                                        overflow: hidden;
                                        -webkit-box-orient: vertical;
                                        padding-bottom: 4/$sc+rem;
                                        .title-txt {
                                            font-size: 16/$sc+rem;
                                            color: #0099EB;
                                            line-height: 24/$sc+rem;
                                            font-weight: normal;
                                        }
                                        .title-content {
                                            font-size: 16/$sc+rem;
                                            color: #1B1C00;
                                            line-height: 24/$sc+rem;
                                            font-weight: normal;
                                        }
                                    }
                                }
                                .style-img {
                                    margin-top: 8/$sc+rem;
                                    display: flex;
                                    justify-content: space-between;
                                    flex-wrap: wrap;
                                    img {
                                        width: 30%;
                                        height: 80/$sc+rem;
                                    }
                                }
                                .style-info {
                                    line-height: 16/$sc+rem;
                                    height: 16/$sc+rem;
                                    font-size: 12/$sc+rem;
                                    color: #999999;
                                    margin-top: 12/$sc+rem;
                                    .style-copyright {
                                        float: left;
                                    }
                                    .style-time {
                                        float: right;
                                    }
                                }
                            }
                        }
                    }
                    .pri-li:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
    //-----------------底    部----------------------
    .footer {
        width: 100%;
        height: 50/$sc+rem;
        background: #ffffff;
        box-shadow: inset 0 1px 0 0 #DDDDDD;
        -webkit-box-shadow: inset 0 1px 0 0 #DDDDDD;
        .footer-nav {
            height: 100%;
            display: flex;
            display: -webkit-flex;
            .footer-nav-li {
                height: 100%;
                flex: 1;
                a {
                    height: 100%;
                    z-index: 1;
                    i {
                        display: block;
                        width: 22/$sc+rem;
                        height: 22/$sc+rem;
                        margin: 7/$sc+rem auto 4/$sc+rem;
                        img {
                            width: 22/$sc+rem;
                            height: 22/$sc+rem;
                        }
                    }
                    span {
                        display: block;
                        text-align: center;
                        line-height: 14/$sc+rem;
                        font-size: 10/$sc+rem;
                        color: #6C7072;
                    }
                    span.current {
                        color: #0099EB;
                    }
                }
            }
        }
    }
}

.zhezhao {
    width: 100%;
    transition: all .3s;
    opacity: 0;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.article-push {
    width: 100%;
    height: 100%;
    transition: all .3s;
    background: #f4f4f4;
    position: fixed;
    left: 0; //--------------------------------
    top: 0;
    z-index: 20;
    .article-push-box {
        width: 100%;
        height: 100%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        .article-push-header {
            width: 100%;
            background: #f6f6f6;
            box-shadow: 0 1px 0 0 #CCCCCC;
            -webkit-box-shadow: 0 1px 0 0 #CCCCCC;
            z-index: 30;
            .signal_bar {
                width: 100%;
                height: 20/$sc+rem;
            }
            .article-push-header-wrapper {
                width: 100%;
                height: 44/$sc+rem;
                line-height: 44/$sc+rem;
                position: relative;
                .return {
                    display: block;
                    height: 22/$sc+rem;
                    width: 22/$sc+rem;
                    background: url(../img/returnleft.png) no-repeat;
                    background-size: 22/$sc+rem 22/$sc+rem;
                    position: absolute;
                    top: 11/$sc+rem;
                    left: 16/$sc+rem;
                }
                .comment {
                    width: 70/$sc+rem;
                    height: 28/$sc+rem;
                    line-height: 35/$sc+rem;
                    position: absolute;
                    top: 8/$sc+rem;
                    right: 16/$sc+rem;
                    font-size: 12/$sc+rem;
                    color: #F6F6F6;
                    text-align: center;
                    background: url(../img/say.png) no-repeat;
                    background-size: contain;
                }
            }
        }
        .article-push-body {
            flex: 1;
            -webkit-flex: 1;
            overflow: hidden;
            background: #f4f4f4;
            .article-push-wrapper {
                padding-bottom: 32/$sc+rem;
                .article-push-content {
                    background: #f4f4f4;
                    padding: 20/$sc+rem 16/$sc+rem 0;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    .article-push-content-header {
                        background: #f4f4f4;
                        p {
                            display: inline-block;
                            line-height: 28/$sc+rem;
                            font-size: 40px;
                            font-size: 20/$sc+rem;
                            padding-bottom: 4/$sc+rem;
                            color: #1B1C00;
                            -webkit-line-clamp: 2;
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-box-orient: vertical;
                            .title {
                                display: inline-block;
                                line-height: 28/$sc+rem;
                                font-size: 20/$sc+rem;
                                font-weight: normal;
                                color: #0099EB;
                            }
                        }
                        .article-push-article-info {
                            line-height: 16/$sc+rem;
                            height: 16/$sc+rem;
                            font-size: 12/$sc+rem;
                            color: #999999;
                            margin-top: 8/$sc+rem;
                            .copyright {
                                float: left;
                            }
                            .time {
                                float: right;
                            }
                        }
                    }
                    .article-push-content-body {
                        p {
                            margin-top: 20/$sc+rem;
                            font-size: 16/$sc+rem;
                            color: #6C7072;
                            line-height: 28/$sc+rem;
                            text-indent: 2em;
                        }
                        img {
                            width: 100%;
                            margin-top: 20/$sc+rem;
                        }
                        .indent {
                            text-indent: 0;
                            span {
                                display: block;
                                font-size: 16/$sc+rem;
                                color: #394043;
                                line-height: 28/$sc+rem;
                            }
                        }
                        .edit {
                            margin-top: 20/$sc+rem;
                            font-size: 14/$sc+rem;
                            color: #394043;
                        }
                        .share {
                            margin-top: 40/$sc+rem;
                            border-bottom: 1/$sc+rem solid #CCCCCC;
                            position: relative;
                            span {
                                padding: 0 16/$sc+rem;
                                background: #f4f4f4;
                                font-size: 16/$sc+rem;
                                color: #999999;
                                position: absolute;
                                top: -10/$sc+rem;
                                left: 130/$sc+rem;
                            }
                        }
                        .shareway {
                            width: 100%;
                            height: 70/$sc+rem;
                            margin-top: 35/$sc+rem;
                            .way {
                                width: 33.33%;
                                float: left;
                                i {
                                    display: block;
                                    width: 44/$sc+rem;
                                    height: 44/$sc+rem;
                                    margin: 0 auto;
                                }
                                span {
                                    display: block;
                                    font-size: 14/$sc+rem;
                                    margin-top: 9/$sc+rem;
                                    color: #6C7072;
                                    text-align: center;
                                }
                            }
                            .weixin {
                                i {
                                    background: url(../img/weix.png) no-repeat;
                                    background-size: contain;
                                }
                            }
                            .friendcircle {
                                i {
                                    background: url(../img/Circle_friends.png) no-repeat;
                                    background-size: contain;
                                }
                            }
                            .xinlang {
                                i {
                                    background: url(../img/weibo.png) no-repeat;
                                    background-size: contain;
                                }
                            }
                        }
                        .jumpPage {
                            display: flex;
                            display: -webkit-flex;
                            justify-content: space-between;
                            margin: 44/$sc+rem 0;
                            span {
                                display: block;
                                width: 160/$sc+rem;
                                height: 33/$sc+rem;
                                line-height: 33/$sc+rem;
                                text-align: center;
                                font-size: 14/$sc+rem;
                                color: #0099EB;
                                border: 1/$sc+rem solid #8ACDF2;
                                box-sizing: border-box;
                                -webkit-box-sizing: border-box;
                            }
                            .previous {
                                background: url(../img/left.png) no-repeat #ECF4F9;
                                background-position: 14/$sc+rem 10/$sc+rem;
                                background-size: 14/$sc+rem 14/$sc+rem;
                            }
                            .next {
                                background: url(../img/right.png) no-repeat #ECF4F9;
                                background-size: 14/$sc+rem 14/$sc+rem;
                                background-position: 130/$sc+rem 10/$sc+rem;
                            }
                        }
                    }
                }
                .article-push-hotThread {
                    width: 100%;
                    .hotThread-header {
                        padding: 0 16/$sc+rem;
                        margin: 6/$sc+rem 0 18/$sc+rem;
                        font-size: 14/$sc+rem;
                        color: #6C7072;
                        line-height: 24/$sc+rem;
                        font-weight: normal;
                    }
                    .hotThread-ul {
                        width: 100%;
                        .hotThread-li {
                            background: #FFF;
                            padding: 18/$sc+rem;
                            box-shadow: inset 0 -1px 0 0 #EEEEEE;
                            -webkit-box-shadow: inset 0 -1px 0 0 #EEEEEE;
                            box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            .styleone {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                display: -webkit-flex;
                                flex-direction: row;
                                .user-avatar {
                                    width: 32/$sc+rem;
                                    height: 100%;
                                    margin-right: 12/$sc+rem;
                                    position: relative;
                                    .user-avatar-img {
                                        width: 32/$sc+rem;
                                        height: 32/$sc+rem;
                                    }
                                }
                                .user-comments {
                                    flex: 1;
                                    -webkit-flex: 1;
                                    width: 268/$sc+rem;
                                    .user-name {
                                        font-size: 14/$sc+rem;
                                        color: #0099EB;
                                        line-height: 20/$sc+rem;
                                        text-align: left;
                                    }
                                    .user-info {
                                        width: 100%;
                                        height: 16/$sc+rem;
                                        position: relative;
                                        span {
                                            font-size: 12/$sc+rem;
                                            line-height: 16/$sc+rem;
                                            color: #999999;
                                        }
                                        .user-info-from {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                        }
                                        .user-info-time {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                        }
                                    }
                                    .user-say {
                                        margin-top: 18/$sc+rem;
                                        font-size: 16/$sc+rem;
                                        color: #6C7072;
                                        line-height: 28/$sc+rem;
                                    }
                                    .user-say.showmore {
                                        -webkit-line-clamp: 3;
                                        display: -webkit-box;
                                        overflow: hidden;
                                        -webkit-box-orient: vertical;
                                    }
                                    .showall {
                                        display: none;
                                        height: 24/$sc+rem;
                                        width: 100%;
                                        margin-top: 16/$sc+rem;
                                        .showall-wrapper {
                                            float: right;
                                            width: 77/$sc+rem;
                                            height: 24/$sc+rem;
                                            box-sizing: border-box;
                                            -webkit-box-sizing: border-box;
                                            background: #ECF4F9;
                                            border: 1px solid #0099EB;
                                            border-radius: 12/$sc+rem;
                                            position: relative;
                                            .showall-wrapper-txt {
                                                font-size: 12/$sc+rem;
                                                color: #0099EB;
                                                position: absolute;
                                                top: 4/$sc+rem;
                                                left: 10/$sc+rem;
                                            }
                                            .showall-wrapper-img {
                                                display: block;
                                                width: 10/$sc+rem;
                                                height: 10/$sc+rem;
                                                position: absolute;
                                                top: 9/$sc+rem;
                                                right: 4/$sc+rem;
                                                background: url(../img/bottom.png) no-repeat;
                                                background-size: 8/$sc+rem 4/$sc+rem;
                                            }
                                        }
                                    }
                                    .otheruser {
                                        display: none;
                                        background: #F0F0F0;
                                        margin-top: 16/$sc+rem;
                                        padding: 16/$sc+rem;
                                        .otheruser-name {
                                            font-size: 14/$sc+rem;
                                            color: #0099EB;
                                            line-height: 20/$sc+rem;
                                            text-align: left;
                                        }
                                        .otheruser-info {
                                            width: 100%;
                                            height: 16/$sc+rem;
                                            position: relative;
                                            span {
                                                font-size: 12/$sc+rem;
                                                line-height: 16/$sc+rem;
                                                color: #999999;
                                            }
                                            .otheruser-info-from {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                            }
                                            .otheruser-info-time {
                                                position: absolute;
                                                top: 0;
                                                right: 0;
                                            }
                                        }
                                        .otheruser-phone {
                                            font-size: 12/$sc+rem;
                                            line-height: 16/$sc+rem;
                                            color: #999999;
                                        }
                                        .otheruser-say {
                                            margin-top: 18/$sc+rem;
                                            font-size: 16/$sc+rem;
                                            color: #6C7072;
                                            line-height: 28/$sc+rem;
                                        }
                                    }
                                }
                            }
                            .styletwo {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                display: -webkit-flex;
                                flex-direction: row;
                                .user-avatar {
                                    width: 32/$sc+rem;
                                    height: 100%;
                                    margin-right: 12/$sc+rem;
                                    position: relative;
                                    .user-avatar-img {
                                        width: 32/$sc+rem;
                                        height: 32/$sc+rem;
                                    }
                                }
                                .user-comments {
                                    flex: 1;
                                    -webkit-flex: 1;
                                    width: 268/$sc+rem;
                                    .user-name {
                                        font-size: 14/$sc+rem;
                                        color: #0099EB;
                                        line-height: 20/$sc+rem;
                                        text-align: left;
                                    }
                                    .user-info {
                                        width: 100%;
                                        height: 16/$sc+rem;
                                        position: relative;
                                        span {
                                            font-size: 12/$sc+rem;
                                            line-height: 16/$sc+rem;
                                            color: #999999;
                                        }
                                        .user-info-from {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                        }
                                        .user-info-time {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                        }
                                    }
                                    .user-say {
                                        margin-top: 18/$sc+rem;
                                        font-size: 16/$sc+rem;
                                        color: #6C7072;
                                        line-height: 28/$sc+rem;
                                    }
                                    .user-say.showmore {
                                        -webkit-line-clamp: 3;
                                        display: -webkit-box;
                                        overflow: hidden;
                                        -webkit-box-orient: vertical;
                                    }
                                    .showall {
                                        display: none;
                                        height: 24/$sc+rem;
                                        width: 100%;
                                        margin-top: 16/$sc+rem;
                                        .showall-wrapper {
                                            float: right;
                                            width: 77/$sc+rem;
                                            height: 24/$sc+rem;
                                            box-sizing: border-box;
                                            -webkit-box-sizing: border-box;
                                            background: #ECF4F9;
                                            border: 1px solid #0099EB;
                                            border-radius: 12/$sc+rem;
                                            position: relative;
                                            .showall-wrapper-txt {
                                                font-size: 12/$sc+rem;
                                                color: #0099EB;
                                                position: absolute;
                                                top: 4/$sc+rem;
                                                left: 10/$sc+rem;
                                            }
                                            .showall-wrapper-img {
                                                display: block;
                                                width: 10/$sc+rem;
                                                height: 10/$sc+rem;
                                                position: absolute;
                                                top: 9/$sc+rem;
                                                right: 4/$sc+rem;
                                                background: url(../img/bottom.png) no-repeat;
                                                background-size: 8/$sc+rem 4/$sc+rem;
                                            }
                                        }
                                    }
                                    .otheruser {
                                        background: #F0F0F0;
                                        margin-top: 16/$sc+rem;
                                        padding: 16/$sc+rem;
                                        .otheruser-name {
                                            font-size: 14/$sc+rem;
                                            color: #0099EB;
                                            line-height: 20/$sc+rem;
                                            text-align: left;
                                        }
                                        .otheruser-info {
                                            width: 100%;
                                            height: 16/$sc+rem;
                                            position: relative;
                                            span {
                                                font-size: 12/$sc+rem;
                                                line-height: 16/$sc+rem;
                                                color: #999999;
                                            }
                                            .otheruser-info-from {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                            }
                                            .otheruser-info-time {
                                                position: absolute;
                                                top: 0;
                                                right: 0;
                                            }
                                        }
                                        .otheruser-phone {
                                            font-size: 12/$sc+rem;
                                            line-height: 16/$sc+rem;
                                            color: #999999;
                                        }
                                        .otheruser-say {
                                            margin-top: 18/$sc+rem;
                                            font-size: 16/$sc+rem;
                                            color: #6C7072;
                                            line-height: 28/$sc+rem;
                                        }
                                    }
                                }
                            }
                            .stylethree {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                display: -webkit-flex;
                                flex-direction: row;
                                .user-avatar {
                                    width: 32/$sc+rem;
                                    height: 100%;
                                    margin-right: 12/$sc+rem;
                                    position: relative;
                                    .user-avatar-img {
                                        width: 32/$sc+rem;
                                        height: 32/$sc+rem;
                                    }
                                }
                                .user-comments {
                                    flex: 1;
                                    -webkit-flex: 1;
                                    width: 268/$sc+rem;
                                    .user-name {
                                        font-size: 14/$sc+rem;
                                        color: #0099EB;
                                        line-height: 20/$sc+rem;
                                        text-align: left;
                                    }
                                    .user-info {
                                        width: 100%;
                                        height: 16/$sc+rem;
                                        position: relative;
                                        span {
                                            font-size: 12/$sc+rem;
                                            line-height: 16/$sc+rem;
                                            color: #999999;
                                        }
                                        .user-info-from {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                        }
                                        .user-info-time {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                        }
                                    }
                                    .user-say {
                                        margin-top: 18/$sc+rem;
                                        font-size: 16/$sc+rem;
                                        color: #6C7072;
                                        line-height: 28/$sc+rem;
                                    }
                                    .user-say.showmore {
                                        -webkit-line-clamp: 3;
                                        display: -webkit-box;
                                        overflow: hidden;
                                        -webkit-box-orient: vertical;
                                    }
                                    .showall {
                                        height: 24/$sc+rem;
                                        width: 100%;
                                        margin-top: 16/$sc+rem;
                                        .showall-wrapper {
                                            float: right;
                                            width: 77/$sc+rem;
                                            height: 24/$sc+rem;
                                            box-sizing: border-box;
                                            -webkit-box-sizing: border-box;
                                            background: #ECF4F9;
                                            border: 1px solid #0099EB;
                                            border-radius: 12/$sc+rem;
                                            position: relative;
                                            .showall-wrapper-txt {
                                                font-size: 12/$sc+rem;
                                                color: #0099EB;
                                                position: absolute;
                                                top: 4/$sc+rem;
                                                left: 10/$sc+rem;
                                            }
                                            .showall-wrapper-img {
                                                display: block;
                                                width: 10/$sc+rem;
                                                height: 10/$sc+rem;
                                                position: absolute;
                                                top: 9/$sc+rem;
                                                right: 4/$sc+rem;
                                                background: url(../img/bottom.png) no-repeat;
                                                background-size: 8/$sc+rem 4/$sc+rem;
                                            }
                                        }
                                    }
                                    .otheruser {
                                        display: none;
                                        background: #F0F0F0;
                                        margin-top: 16/$sc+rem;
                                        padding: 16/$sc+rem;
                                        .otheruser-name {
                                            font-size: 14/$sc+rem;
                                            color: #0099EB;
                                            line-height: 20/$sc+rem;
                                            text-align: left;
                                        }
                                        .otheruser-info {
                                            width: 100%;
                                            height: 16/$sc+rem;
                                            position: relative;
                                            span {
                                                font-size: 12/$sc+rem;
                                                line-height: 16/$sc+rem;
                                                color: #999999;
                                            }
                                            .otheruser-info-from {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                            }
                                            .otheruser-info-time {
                                                position: absolute;
                                                top: 0;
                                                right: 0;
                                            }
                                        }
                                        .otheruser-phone {
                                            font-size: 12/$sc+rem;
                                            line-height: 16/$sc+rem;
                                            color: #999999;
                                        }
                                        .otheruser-say {
                                            margin-top: 18/$sc+rem;
                                            font-size: 16/$sc+rem;
                                            color: #6C7072;
                                            line-height: 28/$sc+rem;
                                        }
                                    }
                                }
                            }
                        }
                        .hotThread-li:last-child {
                            box-shadow: none;
                        }
                    }
                }
                .article-push-moreAbout {
                    width: 100%;
                    .moreAbout-header {
                        padding: 0 16/$sc+rem;
                        margin: 32/$sc+rem 0 18/$sc+rem;
                        font-size: 14/$sc+rem;
                        color: #6C7072;
                        line-height: 24/$sc+rem;
                        font-weight: normal;
                    }
                    .moreAbout-ul {
                        .moreAbout-li {
                            padding: 18/$sc+rem 0;
                            background: #fff;
                            border-bottom: 1/$sc+rem solid #EEEEEE;
                            p {
                                padding: 0 16/$sc+rem;
                                -webkit-line-clamp: 2;
                                display: -webkit-box;
                                overflow: hidden;
                                -webkit-box-orient: vertical;
                                font-size: 16/$sc+rem;
                                color: #394043;
                                line-height: 24/$sc+rem;
                            }
                            span {
                                display: block;
                                padding: 0 16/$sc+rem;
                                margin-top: 9/$sc+rem;
                                text-align: right;
                                font-size: 12/$sc+rem;
                                line-height: 16/$sc+rem;
                                color: #999999;
                            }
                        }
                        .moreAbout-li:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
        .article-push-footer {
            height: 56/$sc+rem;
            background: #FFFFFF;
            box-shadow: inset 0 1px 0 0 #DDDDDD;
            position: relative;
            z-index: 40;
            .write-reviews {
                float: left;
                width: 272/$sc+rem;
                margin: 10/$sc+rem 16/$sc+rem;
                height: 36/$sc+rem;
                border: 1/$sc+rem;
                background: #FFFFFF;
                border: 1/$sc+rem solid #EEEEEE;
                border-radius: 18/$sc+rem;
                text-align: center;
                span {
                    display: inline-block;
                    padding-left: 20/$sc+rem;
                    font-size: 14/$sc+rem;
                    font-family: PingFang-SC-Medium;
                    line-height: 18/$sc+rem;
                    color: #6C7072;
                    background: url(../img/comment.png) no-repeat;
                    background-size: 15/$sc+rem 15/$sc+rem;
                }
            }
            .show-reviews {
                height: 100%;
                width: 68/$sc+rem;
                float: right;
                position: relative;
                i {
                    position: absolute;
                    top: 22/$sc+rem;
                    left: 0;
                    display: block;
                    width: 22/$sc+rem;
                    height: 16/$sc+rem;
                    background: url(../img/message.png);
                    background-size: contain;
                }
                span {
                    position: absolute;
                    top: 22/$sc+rem;
                    left: 30/$sc+rem;
                    display: block;
                    width: 22/$sc+rem;
                    height: 16/$sc+rem;
                    line-height: 16/$sc+rem;
                    font-size: 12/$sc+rem;
                    color: #0099EB;
                }
            }
        }
    }
}

.writing-box {
    transition: all .3s;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #F5F5F5;
    padding: 0 16/$sc+rem;
    z-index: 60;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    .writing-panel {
        width: 100%;
        height: 170/$sc+rem;
        .writing-panel-header {
            height: 52/$sc+rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            span {
                display: block;
            }
            .cancel {
                flex: 1;
                -webkit-flex: 1;
                line-height: 52/$sc+rem;
                text-align: left;
                font-size: 16/$sc+rem;
                color: #394043;
            }
            .hader-txt {
                flex: 3;
                -webkit-flex: 3;
                line-height: 52/$sc+rem;
                text-align: center;
                font-size: 18/$sc+rem;
                color: #394043;
            }
            .send {
                flex: 1;
                -webkit-flex: 1;
                line-height: 52/$sc+rem;
                text-align: right;
                font-size: 16/$sc+rem;
                color: #0099EB;
            }
        }
        .text-box {
            width: 100%;
            height: 102/$sc+rem;
            background: #FFFFFF;
            border: 1/$sc+rem solid #EEEEEE;
            color: #394043;
            font-size: 12/$sc+rem;
            outline: none;
            padding: 8/$sc+rem;
            resize: none;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }
}