* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
  color: #999999;
}

::-webkit-input-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: PingFangSC-Regular;
  background: #FAFAFA;
}

input,
textarea {
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

.building-info-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

.building-info-container .building-info-header {
  width: 100%;
  background: #47464b;
  z-index: 40;
  box-shadow: 0 1px 0 0 #B2B2B2;
  -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
}

.building-info-container .building-info-header .title_bar {
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  position: relative;
}

.building-info-container .building-info-header .title_bar .title_txt {
  font-size: 0.85rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
}

.building-info-container .building-info-header .title_bar .return {
  display: block;
  height: 0.9rem;
  line-height: 0.9rem;
  padding-left: 0.8rem;
  font-size: 0.85rem;
  color: #ffffff;
  background: url(../img/return.png) no-repeat;
  background-size: 0.45rem 0.8rem;
  background-position-x: left;
  background-position-y: 0.05rem;
  position: absolute;
  top: 0.7rem;
  left: 0.4rem;
}

.building-info-container .building-info-header .title_bar .more {
  display: block;
  height: 1rem;
  width: 1rem;
  background: url(../img/more.png) no-repeat;
  background-size: 1rem 1rem;
  position: absolute;
  top: 0.65rem;
  right: 0.4rem;
}

.building-info-container .building-info-section {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  background: #F4F4F4;
}

.building-info-container .building-info-section .section-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.building-info-container .building-info-section .section-wrapper .building-info-banner {
  width: 100%;
  position: relative;
  background: url(../img/B-info.jpg) no-repeat;
  background-size: 100% 100%;
}

.building-info-container .building-info-section .section-wrapper .building-info-banner .building-content-lable {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.building-info-container .building-info-section .section-wrapper .building-info-banner .building-content-lable li {
  width: 3.35rem;
  height: 1.1rem;
  background: url(../img/Label-b.png) no-repeat;
  background-size: 3.35rem 1.1rem;
  border-radius: 0.15rem;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.building-info-container .building-info-section .section-wrapper .building-info-banner .building-content-lable li .stage {
  display: block;
  width: 2rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.4rem;
  color: #333333;
}

.building-info-container .building-info-section .section-wrapper .building-info-banner .building-content-lable li .state {
  display: block;
  width: 1.35rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.4rem;
  color: #FFFFFF;
}

.building-info-container .building-info-section .section-wrapper .building-info-banner .building-content-lable li.zaishou {
  background: url(../img/Label.png) no-repeat;
  background-size: 3.35rem 1.1rem;
}

.building-info-container .building-info-section .section-wrapper .building-info-banner .building-content-lable li:nth-child(1) {
  top: 30%;
  left: -3%;
}

.building-info-container .building-info-section .section-wrapper .building-info-banner .building-content-lable li:nth-child(2) {
  top: 23%;
  left: 50%;
}

.building-info-container .building-info-section .section-wrapper .building-info-banner .building-content-lable li:nth-child(3) {
  top: 50%;
  left: 40%;
}

.building-info-container .building-info-section .section-wrapper .building-info-banner .building-content-lable li:nth-child(4) {
  top: 50%;
  left: 80%;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch {
  width: 100%;
  height: 8.6rem;
  padding: 1.5rem 1.1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox {
  width: 100%;
  height: 100%;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide {
  width: 100%;
  height: 100%;
  -webkit-flex-shrink: 0;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box {
  height: 100%;
  width: 94.5%;
  margin: 0 auto;
  padding: 0.5rem 0.6rem;
  background: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(193, 193, 193, 0.5);
  border-radius: 0.1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper {
  width: 100%;
  height: 100%;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-title {
  width: 100%;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-title .title {
  width: 100%;
  height: 1rem;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-title .title .title-txt {
  float: left;
  font-family: PingFangSC-Medium;
  font-size: 0.7rem;
  color: #333333;
  line-height: 1rem;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-title .title .title-tags {
  float: left;
  display: inline-block;
  height: 0.55rem;
  line-height: 0.55rem;
  padding: 0 0.15rem;
  margin: 0.2rem 0 0 0.25rem;
  background: #FFFFFF;
  border: 1px solid #979797;
  font-family: PingFangSC-Medium;
  font-size: 0.45rem;
  color: #999999;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-title .time {
  width: 100%;
  margin-top: 0.25rem;
  display: flex;
  flex-direction: row;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-title .time .time-open {
  width: 50%;
  line-height: 0.7rem;
  font-size: 0.5rem;
  color: #999999;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-title .time .time-other {
  width: 50%;
  line-height: 0.7rem;
  font-size: 0.5rem;
  color: #999999;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-info {
  width: 100%;
  margin-top: 0.7rem;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-info .info-top {
  width: 100%;
  height: 0.8rem;
  display: flex;
  flex-direction: row;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-info .info-top span:first-child {
  width: 50%;
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: #333333;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-info .info-top span:last-child {
  width: 50%;
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: #333333;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-info .info-bottom {
  width: 100%;
  display: flex;
  margin-top: 0.25rem;
  flex-direction: row;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-info .info-bottom span:first-child {
  width: 50%;
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: #333333;
}

.building-info-container .building-info-section .section-wrapper .building-info-switch .building-info-switchBox .building-info-switch-ul .swiper-slide .switch-li-box .switch-li-box-wrapper .switch-li-box-info .info-bottom span:last-child {
  width: 50%;
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: #333333;
}

.iScrollVerticalScrollbar {
  width: 0.2rem !important;
  z-index: 1 !important;
}

.iScrollHorizontalScrollbar {
  height: 0.2rem !important;
  z-index: 1 !important;
}
