* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
    color: #999999;
}

::-webkit-input-placeholder {
    color: #999999;
}

:-ms-input-placeholder {
    color: #999999;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;
.building-info-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    .building-info-header {
        width: 100%;
        background: #47464b;
        z-index: 40;
        box-shadow: 0 1px 0 0 #B2B2B2;
        -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 17/$sc+rem;
                color: #FFFFFF;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 18/$sc+rem;
                line-height: 18/$sc+rem;
                padding-left: 16/$sc+rem;
                font-size: 17/$sc+rem;
                color: #ffffff;
                background: url(../img/return.png) no-repeat;
                background-size: 9/$sc+rem 16/$sc+rem;
                background-position-x: left;
                background-position-y: 1/$sc+rem;
                position: absolute;
                top: 14/$sc+rem;
                left: 8/$sc+rem;
            }
            .more {
                display: block;
                height: 20/$sc+rem;
                width: 20/$sc+rem;
                background: url(../img/more.png) no-repeat;
                background-size: 20/$sc+rem 20/$sc+rem;
                position: absolute;
                top: 13/$sc+rem;
                right: 8/$sc+rem;
            }
        }
    }
    .building-info-section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #F4F4F4;
        .section-wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;
            .building-info-banner {
                width: 100%;
                position: relative;
                background: url(../img/B-info.jpg) no-repeat;
                background-size: 100% 100%;
                .building-content-lable {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    li {
                        width: 67/$sc+rem;
                        height: 22/$sc+rem;
                        background: url(../img/Label-b.png) no-repeat;
                        background-size: 67/$sc+rem 22/$sc+rem;
                        border-radius: 3/$sc+rem;
                        display: flex;
                        flex-direction: row;
                        position: absolute;
                        .stage {
                            display: block;
                            width: 40/$sc+rem;
                            height: 20/$sc+rem;
                            line-height: 20/$sc+rem;
                            text-align: center;
                            font-size: 8/$sc+rem;
                            color: #333333;
                        }
                        .state {
                            display: block;
                            width: 27/$sc+rem;
                            height: 20/$sc+rem;
                            line-height: 20/$sc+rem;
                            text-align: center;
                            font-size: 8/$sc+rem;
                            color: #FFFFFF;
                        }
                    }
                    li.zaishou {
                        background: url(../img/Label.png) no-repeat;
                        background-size: 67/$sc+rem 22/$sc+rem;
                    }
                    li:nth-child(1) {
                        top: 30%;
                        left: -3%;
                    }
                    li:nth-child(2) {
                        top: 23%;
                        left: 50%;
                    }
                    li:nth-child(3) {
                        top: 50%;
                        left: 40%;
                    }
                    li:nth-child(4) {
                        top: 50%;
                        left: 80%;
                    }
                }
            }
            .building-info-switch {
                width: 100%;
                height: 172/$sc+rem;
                padding: 30/$sc+rem 22/$sc+rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                .building-info-switchBox {
                    width: 100%;
                    height: 100%;
                    .building-info-switch-ul {
                        width: 100%;
                        height: 100%;
                        display: -webkit-flex;
                        .swiper-slide {
                            width: 100%;
                            height: 100%;
                            -webkit-flex-shrink: 0;
                            .switch-li-box {
                                height: 100%;
                                width: 94.5%;
                                margin: 0 auto;
                                padding: 10/$sc+rem 12/$sc+rem;
                                background: #FFFFFF;
                                box-shadow: 0 1px 4px 0 rgba(193, 193, 193, 0.5);
                                border-radius: 2/$sc+rem;
                                box-sizing: border-box;
                                -webkit-box-sizing: border-box;
                                .switch-li-box-wrapper {
                                    width: 100%;
                                    height: 100%;
                                    .switch-li-box-title {
                                        width: 100%;
                                        .title {
                                            width: 100%;
                                            height: 20/$sc+rem;
                                            .title-txt {
                                                float: left;
                                                font-family: PingFangSC-Medium;
                                                font-size: 14/$sc+rem;
                                                color: #333333;
                                                line-height: 20/$sc+rem;
                                            }
                                            .title-tags {
                                                float: left;
                                                display: inline-block;
                                                height: 11/$sc+rem;
                                                line-height: 11/$sc+rem;
                                                padding: 0 3/$sc+rem;
                                                margin: 4/$sc+rem 0 0 5/$sc+rem;
                                                background: #FFFFFF;
                                                border: 1px solid #979797;
                                                font-family: PingFangSC-Medium;
                                                font-size: 9/$sc+rem;
                                                color: #999999;
                                            }
                                        }
                                        .time {
                                            width: 100%;
                                            margin-top: 5/$sc+rem;
                                            display: flex;
                                            flex-direction: row;
                                            .time-open {
                                                width: 50%;
                                                line-height: 14/$sc+rem;
                                                font-size: 10/$sc+rem;
                                                color: #999999;
                                            }
                                            .time-other {
                                                width: 50%;
                                                line-height: 14/$sc+rem;
                                                font-size: 10/$sc+rem;
                                                color: #999999;
                                            }
                                        }
                                    }
                                    .switch-li-box-info {
                                        width: 100%;
                                        margin-top: 14/$sc+rem;
                                        .info-top {
                                            width: 100%;
                                            height: 16/$sc+rem;
                                            display: flex;
                                            flex-direction: row;
                                            span:first-child {
                                                width: 50%;
                                                line-height: 16/$sc+rem;
                                                font-size: 12/$sc+rem;
                                                color: #333333;
                                            }
                                            span:last-child {
                                                width: 50%;
                                                line-height: 16/$sc+rem;
                                                font-size: 12/$sc+rem;
                                                color: #333333;
                                            }
                                        }
                                        .info-bottom {
                                            width: 100%;
                                            display: flex;
                                            margin-top: 5/$sc+rem;
                                            flex-direction: row;
                                            span:first-child {
                                                width: 50%;
                                                line-height: 16/$sc+rem;
                                                font-size: 12/$sc+rem;
                                                color: #333333;
                                            }
                                            span:last-child {
                                                width: 50%;
                                                line-height: 16/$sc+rem;
                                                font-size: 12/$sc+rem;
                                                color: #333333;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.iScrollVerticalScrollbar {
    width: 4/$sc+rem!important;
    z-index: 1!important;
}

.iScrollHorizontalScrollbar {
    height: 4/$sc+rem!important;
    z-index: 1!important;
}