* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: PingFangSC-Regular;
    background: #F4F4F4;
}

li {
    list-style: none;
}

$sc:25;
.container {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    //-----------------头    部----------------------
    .header {
        width: 100%;
        background: #f6f6f6;
        z-index: 10;
        .signal_bar {
            width: 100%;
            height: 20/$sc+rem;
        }
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            box-shadow: 0 1px 0 0 #CCCCCC;
            -webkit-box-shadow: 0 1px 0 0 #CCCCCC;
            .title_txt {
                font-size: 18/$sc+rem;
                color: #394043;
                letter-spacing: 0;
                text-align: center;
                font-weight: normal;
            }
            .del {
                display: block;
                height: 22/$sc+rem;
                width: 22/$sc+rem;
                background: url(../img/del.png);
                background-size: 22/$sc+rem 22/$sc+rem;
                position: absolute;
                top: 11/$sc+rem;
                left: 16/$sc+rem;
            }
        }
        .current_location {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            background: #FFFFFF;
            padding-left: 16/$sc+rem;
            font-size: 14/$sc+rem;
            color: #394043;
            font-weight: bold;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }
    .section {
        flex: 1;
        -webkit-flex: 1;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background: #f4f4f4;
        .location_content {
            padding-top: 12/$sc+rem;
            padding-bottom: 32/$sc+rem;
            .located {
                display: block;
                width: 100%;
                height: 100%;
                margin-bottom: 12/$sc+rem;
                padding-left: 16/$sc+rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                .located_title {
                    width: 100%;
                    height: 48/$sc+rem;
                    line-height: 48/$sc+rem;
                    font-size: 14/$sc+rem;
                    color: #999999;
                    font-weight: normal;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
                .wraps {
                    .located_city {
                        width: 100/$sc+rem;
                        height: 38/$sc+rem;
                        opacity: 0.6;
                        float: left;
                        background: #FFFFFF;
                        border: 1/$sc+rem solid #CCCCCC;
                        text-align: center;
                        .cityed {
                            display: inline-block;
                            margin-top: 13/$sc+rem;
                            padding-left: 18/$sc+rem;
                            font-size: 14/$sc+rem;
                            color: #6C7072;
                            background: url(../img/positioning.png) no-repeat;
                            background-size: 14/$sc+rem 14/$sc+rem;
                        }
                    }
                    .not_opened {
                        display: block;
                        float: left;
                        height: 100%;
                        line-height: 38/$sc+rem;
                        font-size: 14/$sc+rem;
                        color: #999999;
                        margin-left: 20/$sc+rem;
                    }
                }
            }
            .history_location {
                display: none;
                width: 100%;
                padding-left: 16/$sc+rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                .history_title {
                    width: 100%;
                    height: 48/$sc+rem;
                    line-height: 48/$sc+rem;
                    font-size: 14/$sc+rem;
                    color: #999999;
                    font-weight: normal;
                }
                .wrap {
                    .history_city {
                        width: 100/$sc+rem;
                        height: 38/$sc+rem;
                        line-height: 38/$sc+rem;
                        margin: 0 12/$sc+rem 12/$sc+rem 0;
                        opacity: 0.6;
                        float: left;
                        background: #FFFFFF;
                        border: 1/$sc+rem solid #CCCCCC;
                        text-align: center;
                        font-size: 14/$sc+rem;
                        color: #6C7072;
                    }
                }
            }
            .hot_location {
                width: 100%;
                padding-left: 16/$sc+rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                .hot_title {
                    width: 100%;
                    height: 48/$sc+rem;
                    line-height: 48/$sc+rem;
                    font-size: 14/$sc+rem;
                    color: #999999;
                    font-weight: normal;
                }
                .wrap {
                    .hot_city {
                        width: 100/$sc+rem;
                        height: 38/$sc+rem;
                        line-height: 38/$sc+rem;
                        margin: 0 12/$sc+rem 12/$sc+rem 0;
                        opacity: 0.6;
                        float: left;
                        background: #FFFFFF;
                        border: 1/$sc+rem solid #CCCCCC;
                        text-align: center;
                        font-size: 14/$sc+rem;
                        color: #6C7072;
                    }
                    .hot_city.lick {}
                }
            }
            .letter {
                width: 100%;
                .letter_title {
                    width: 100%;
                    height: 44/$sc+rem;
                    line-height: 44/$sc+rem;
                    margin-left: 16/$sc+rem;
                    font-size: 14/$sc+rem;
                    color: #999999;
                    font-weight: normal;
                }
                .wrap {
                    width: 100%;
                    background: #FFFFFF;
                    .letter_city {
                        height: 44/$sc+rem;
                        line-height: 44/$sc+rem;
                        width: 325/$sc+rem;
                        background: #FFFFFF;
                        font-size: 14/$sc+rem;
                        color: #6C7072;
                        border-bottom: 1/$sc+rem solid #ededed;
                        margin-right: 33/$sc+rem;
                        padding-left: 16/$sc+rem;
                    }
                    .letter_city:last-child {
                        border-bottom: none;
                    }
                    .letter_city.lick {}
                }
            }
        }
    }
}

.location_list {
    width: 20/$sc+rem;
    position: fixed;
    right: 5/$sc+rem;
    top: 164/$sc+rem;
    .classification {
        li {
            width: 100%;
            height: 14/$sc+rem;
            text-align: center;
            font-weight: bold;
            line-height: 14/$sc+rem;
            font-size: 10/$sc+rem;
            a {
                display: block;
                width: 100%;
                height: 100%;
                color: #394043;
            }
        }
    }
}