* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;
.city-position-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    .city-position-header {
        width: 100%;
        background: #47464b;
        box-shadow: 0 1px 0 0 #B2B2B2;
        -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 17/$sc+rem;
                color: #FFFFFF;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 18/$sc+rem;
                line-height: 18/$sc+rem;
                padding-left: 16/$sc+rem;
                font-size: 17/$sc+rem;
                color: #ffffff;
                background: url(../img/return.png) no-repeat;
                background-size: 9/$sc+rem 16/$sc+rem;
                background-position-x: left;
                background-position-y: 1/$sc+rem;
                position: absolute;
                top: 14/$sc+rem;
                left: 8/$sc+rem;
            }
            .more {
                display: block;
                height: 20/$sc+rem;
                width: 20/$sc+rem;
                background: url(../img/more.png) no-repeat;
                background-size: 20/$sc+rem 20/$sc+rem;
                position: absolute;
                top: 13/$sc+rem;
                right: 8/$sc+rem;
            }
        }
    }
    .city-position-section {
        flex: 1;
        -webkit-flex: 1;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background: #fafafa;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        .section-wrapper {
            width: 100%;
            padding-bottom: 32/$sc+rem;
            position: absolute;
            .city {
                width: 100%;
                .title {
                    display: block;
                    width: 100%;
                    height: 34/$sc+rem;
                    line-height: 34/$sc+rem;
                    padding: 0 17/$sc+rem; 
                    background: #F9F9F9;
                    font-weight: normal;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    span{
                        display: block;
                        width: 100%;
                        height: 100%;
                        font-family: PingFangSC-Medium;
                        font-size: 10/$sc+rem;
                        color: #999999;
                    }
                }
                .content{
                    width: 100%;
                    background: #ffffff;
                    padding: 0 25/$sc+rem 0 17/$sc+rem;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    position: relative;
                    .state {
                        display: block;
                        width: 100%;
                        font-size: 13/$sc+rem;
                        color: #333333;
                        height: 44/$sc+rem;
                        line-height: 44/$sc+rem;
                        border-bottom:1px solid #e8e8e8 ;
                    }
                    .refresh {
                        display: block;
                        width: 15/$sc+rem;
                        height: 15/$sc+rem;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 10/$sc+rem;
                        margin: auto;
                        img{
                            display: block;
                            width: 15/$sc+rem;
                            height: 15/$sc+rem;
                        }
                    }
                    .state:last-child{
                        border-bottom:1px solid transparent ;
                    }
                }
            }
            .current-location{
                .content{
                    .state {
                        border-bottom:1px solid transparent ;
                    }
                }
            }
        }
        .section-nav{
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            right: 12/$sc+rem;
            span{
                display: block;
                height: 14/$sc+rem;
                width: 10/$sc+rem;
                margin-top: 1/$sc+rem;
                font-family: PingFangSC-Medium;
                font-size: 10/$sc+rem;
                text-align: center;
                a{
                    color: #333333;   
                }
            }
        }
    }
}
