* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: PingFangSC-Regular;
  background: #FAFAFA;
}

input,
textarea {
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

.city-position-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

.city-position-container .city-position-header {
  width: 100%;
  background: #47464b;
  box-shadow: 0 1px 0 0 #B2B2B2;
  -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
}

.city-position-container .city-position-header .title_bar {
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  position: relative;
}

.city-position-container .city-position-header .title_bar .title_txt {
  font-size: 0.85rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
}

.city-position-container .city-position-header .title_bar .return {
  display: block;
  height: 0.9rem;
  line-height: 0.9rem;
  padding-left: 0.8rem;
  font-size: 0.85rem;
  color: #ffffff;
  background: url(../img/return.png) no-repeat;
  background-size: 0.45rem 0.8rem;
  background-position-x: left;
  background-position-y: 0.05rem;
  position: absolute;
  top: 0.7rem;
  left: 0.4rem;
}

.city-position-container .city-position-header .title_bar .more {
  display: block;
  height: 1rem;
  width: 1rem;
  background: url(../img/more.png) no-repeat;
  background-size: 1rem 1rem;
  position: absolute;
  top: 0.65rem;
  right: 0.4rem;
}

.city-position-container .city-position-section {
  flex: 1;
  -webkit-flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}

.city-position-container .city-position-section .section-wrapper {
  width: 100%;
  padding-bottom: 1.6rem;
  position: absolute;
}

.city-position-container .city-position-section .section-wrapper .city {
  width: 100%;
}

.city-position-container .city-position-section .section-wrapper .city .title {
  display: block;
  width: 100%;
  height: 1.7rem;
  line-height: 1.7rem;
  padding: 0 0.85rem;
  background: #F9F9F9;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.city-position-container .city-position-section .section-wrapper .city .title span {
  display: block;
  width: 100%;
  height: 100%;
  font-family: PingFangSC-Medium;
  font-size: 0.5rem;
  color: #999999;
}

.city-position-container .city-position-section .section-wrapper .city .content {
  width: 100%;
  background: #ffffff;
  padding: 0 1.25rem 0 0.85rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}

.city-position-container .city-position-section .section-wrapper .city .content .state {
  display: block;
  width: 100%;
  font-size: 0.65rem;
  color: #333333;
  height: 2.2rem;
  line-height: 2.2rem;
  border-bottom: 1px solid #e8e8e8;
}

.city-position-container .city-position-section .section-wrapper .city .content .refresh {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.5rem;
  margin: auto;
}

.city-position-container .city-position-section .section-wrapper .city .content .refresh img {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.city-position-container .city-position-section .section-wrapper .city .content .state:last-child {
  border-bottom: 1px solid transparent;
}

.city-position-container .city-position-section .section-wrapper .current-location .content .state {
  border-bottom: 1px solid transparent;
}

.city-position-container .city-position-section .section-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0.6rem;
}

.city-position-container .city-position-section .section-nav span {
  display: block;
  height: 0.7rem;
  width: 0.5rem;
  margin-top: 0.05rem;
  font-family: PingFangSC-Medium;
  font-size: 0.5rem;
  text-align: center;
}

.city-position-container .city-position-section .section-nav span a {
  color: #333333;
}
