* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
    color: #999999;
}

::-webkit-input-placeholder {
    color: #999999;
}

:-ms-input-placeholder {
    color: #999999;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;
.comment-consultation-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    .comment-consultation-header {
        width: 100%;
        background: #47464b;
        z-index: 40;
        box-shadow: 0 1px 0 0 #B2B2B2;
        -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 17/$sc+rem;
                color: #FFFFFF;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 18/$sc+rem;
                line-height: 18/$sc+rem;
                padding-left: 16/$sc+rem;
                font-size: 17/$sc+rem;
                color: #ffffff;
                background: url(../img/return.png) no-repeat;
                background-size: 9/$sc+rem 16/$sc+rem;
                background-position-x: left;
                background-position-y: 1/$sc+rem;
                position: absolute;
                top: 14/$sc+rem;
                left: 8/$sc+rem;
            }
            .more {
                display: block;
                height: 20/$sc+rem;
                width: 20/$sc+rem;
                background: url(../img/more.png) no-repeat;
                background-size: 20/$sc+rem 20/$sc+rem;
                position: absolute;
                top: 13/$sc+rem;
                right: 8/$sc+rem;
            }
        }
    }
    .comment-consultation-textBox{
        width: 100%;
        height: 157/$sc+rem;
        background: #ffffff;
        box-shadow: 0 1px 0 0 #E8E8E8;
        z-index: 2;
        padding: 12/$sc+rem 25/$sc+rem 10/$sc+rem;
        box-sizing: border-box;
        position: relative;
        .textBox_textarea{
            width: 100%;
            height: 100/$sc+rem;
            line-height: 16/$sc+rem;
            background: #F9F9F9;
            font-size: 12/$sc+rem;
            color: #333333;
            padding: 7/$sc+rem;
            outline: none;
            resize: none;
            border: 1px solid #E3E3E3;
            box-sizing: border-box;
        }
        .textBox_submit{
            display: block;
            width: 70/$sc+rem;
            height: 25/$sc+rem;
            line-height: 25/$sc+rem;
            text-align: center;
            float: right;
            font-family: PingFangSC-Medium;
            font-size: 12/$sc+rem;
            color: #ffffff;
            background: #FF7C00;
            border-radius: 2/$sc+rem;
            position: absolute;
            right: 25/$sc+rem;
            bottom: 10/$sc+rem;
        }
    }
    .comment-consultation-section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #fafafa;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        z-index: 1;
        .section-wrapper {
            width: 100%;
            background: #fafafa;
            padding-top: 10/$sc+rem;
            padding-bottom: 7/$sc+rem;
            position: relative;
            .comment-consultation-QA {
                width: 100%;
                background: #FFFFFF;
                .QA-wrapper {
                    width: 100%;
                    padding: 0 12/$sc+rem;
                    box-sizing: border-box;
                    .QA-content {
                        width: 100%;
                        .QA-content-li {
                            width: 100%;
                            padding: 10/$sc+rem 0;
                            box-shadow: 0 -1px 0 0 #e8e8e8;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: row;
                            .QA-content-li-left {
                                width: 27/$sc+rem;
                                padding-right: 8/$sc+rem;
                                .head-portrait {
                                    display: block;
                                    width: 27/$sc+rem;
                                    height: 27/$sc+rem;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    background: lightblue;
                                    img {
                                        display: block;
                                        width: 27/$sc+rem;
                                        height: 27/$sc+rem;
                                    }
                                }
                                .name {
                                    margin-top: 2/$sc+rem;
                                    font-family: PingFangSC-Medium;
                                    font-size: 9/$sc+rem;
                                    color: #3EC0F3;
                                    white-space: nowrap;
                                }
                            }
                            .QA-content-li-right {
                                flex: 1;
                                -webkit-flex: 1;
                                .problem {
                                    width: 100%;
                                    font-size: 12/$sc+rem;
                                    color: #333333;
                                    line-height: 16/$sc+rem;
                                    margin: 3/$sc+rem 0;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                }
                                .answer {
                                    width: 100%;
                                    font-size: 11/$sc+rem;
                                    color: #999999;
                                    line-height: 16/$sc+rem;
                                    margin: 3/$sc+rem 0;
                                }
                                .answer.showall {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                }
                                .full_text {
                                    width: 30/$sc+rem;
                                    font-size: 11/$sc+rem;
                                    color: #89AEEF;
                                    line-height: 16/$sc+rem;
                                    margin: 3/$sc+rem 0;
                                }
                                .send_time {
                                    width: 100%;
                                    font-size: 10/$sc+rem;
                                    color: #999999;
                                    line-height: 16/$sc+rem;
                                    margin: 3/$sc+rem 0;
                                }
                            }
                        }
                        .QA-content-li:first-child{
                            box-shadow: none;
                        }
                    }
                }
                .QA-btn {
                    width: 100%;
                    height: 41/$sc+rem;
                    line-height: 41/$sc+rem;
                    text-align: center;
                    font-size: 11/$sc+rem;
                    box-shadow: 0 -1px 0 0 #e8e8e8;
                    color: #999999;
                }
            }
        }
    }
    .comment-consultation-footer {
        width: 100%;
        height: 42/$sc+rem;
        z-index: 1;
        background: #FFFFFF;
        box-shadow: 0 -1px 0 0 #E8E8E8;
        .footer-ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            .footer-comment {
                width: 66/$sc+rem;
                height: 100%;
                background: #ffffff;
                box-shadow: 1px 0 0 0 #e8e8e8;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    display: inline-block;
                    height: 15/$sc+rem;
                    line-height: 15/$sc+rem;
                    font-size: 13/$sc+rem;
                    color: #666666;
                    padding-left: 20/$sc+rem;
                    background: url(../img/comment.png) no-repeat;
                    background-size: 15/$sc+rem 15/$sc+rem;
                }
            }
            .footer-touristHouse {
                width: 96/$sc+rem;
                height: 100%;
                background: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    display: inline-block;
                    height: 15/$sc+rem;
                    line-height: 15/$sc+rem;
                    font-size: 13/$sc+rem;
                    color: #666666;
                    padding-left: 20/$sc+rem;
                    background: url(../img/Tourist-house.png) no-repeat;
                    background-size: 15/$sc+rem 15/$sc+rem;
                }
            }
            .footer-consultation {
                flex: 1;
                -webkit-flex: 1;
                background: #FF7C00;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    display: inline-block;
                    height: 15/$sc+rem;
                    line-height: 15/$sc+rem;
                    font-size: 13/$sc+rem;
                    color: #ffffff;
                    padding-left: 20/$sc+rem;
                    background: url(../img/Consultation.png) no-repeat;
                    background-size: 15/$sc+rem 15/$sc+rem;
                }
            }
        }
    }
    .comment-consultation-Mask{
        width: 100%;
        height: 100%;
        transition: all .3s;
        background: rgba(0,0,0,.6);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
    }
    .comment-consultation-Mask.show{
        z-index: 35;
        opacity: 1;
    }
    .submit-false{
        width: 160/$sc+rem;
        height: 100/$sc+rem;
        background: #FFFFFF;
        transition: all .3s;
        border-radius: 5/$sc+rem;
        opacity: 0;
        z-index: -1;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        i{
            display: block;
            width: 41/$sc+rem;
            height: 26/$sc+rem;
            margin: 24/$sc+rem auto 0;
            img{
                display: block;
                width: 41/$sc+rem;
                height: 26/$sc+rem;
            }
        }
        p{
            width: 100%;
            margin-top: 10/$sc+rem;
            line-height: 20/$sc+rem;
            text-align: center;
            font-size: 14/$sc+rem;
            color: #666666;
            a{
                line-height: 20/$sc+rem;
                font-size: 14/$sc+rem;
                color: #86D646;
                text-decoration: underline;
                
            }
        }
    }
    .submit-false.show{
        opacity: 1;
        z-index: 40;
    }
    .submit-success{
        width: 160/$sc+rem;
        height: 100/$sc+rem;
        background: #FFFFFF;
        transition: all .3s;
        border-radius: 5/$sc+rem;
        opacity: 0;
        z-index: -1;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        i{
            display: block;
            width: 41/$sc+rem;
            height: 26/$sc+rem;
            margin: 24/$sc+rem auto 0;
            img{
                display: block;
                width: 41/$sc+rem;
                height: 26/$sc+rem;
            }
        }
        p{
            width: 100%;
            margin-top: 10/$sc+rem;
            line-height: 20/$sc+rem;
            text-align: center;
            font-size: 14/$sc+rem;
            color: #666666;
            a{
                line-height: 20/$sc+rem;
                font-size: 14/$sc+rem;
                color: #86D646;
                text-decoration: underline;
                
            }
        }
    }
    .submit-success.show{
        opacity: 1;
        z-index: 40;
    }
}

.iScrollVerticalScrollbar {
    width: 4/$sc+rem!important;
    z-index: 1!important;
}

.iScrollHorizontalScrollbar {
    height: 4/$sc+rem!important;
    z-index: 1!important;
}