*{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

body,
html{
	width: 100%;
	height: 100%;
    overflow: hidden;
    background: #000000;
}

#slider,
.pinch-zoom,
.swiper-slide,
.swiper-wrapper,
.pinch-zoom-container{
	width: 100%;
	height: 100%;
}

.pinch-zoom{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pinch-zoom img{
	width: 100%;
}
