* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
    color: #999999;
}

::-webkit-input-placeholder {
    color: #999999;
}

:-ms-input-placeholder {
    color: #999999;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;
.group-buy-details-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    .group-buy-details-header {
        width: 100%;
        background: #47464b;
        z-index: 40;
        box-shadow: 0 1px 0 0 #B2B2B2;
        -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 17/$sc+rem;
                color: #FFFFFF;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 18/$sc+rem;
                line-height: 18/$sc+rem;
                padding-left: 16/$sc+rem;
                font-size: 17/$sc+rem;
                color: #ffffff;
                background: url(../img/return.png) no-repeat;
                background-size: 9/$sc+rem 16/$sc+rem;
                background-position-x: left;
                background-position-y: 1/$sc+rem;
                position: absolute;
                top: 14/$sc+rem;
                left: 8/$sc+rem;
            }
            .more {
                display: block;
                height: 20/$sc+rem;
                width: 20/$sc+rem;
                background: url(../img/more.png) no-repeat;
                background-size: 20/$sc+rem 20/$sc+rem;
                position: absolute;
                top: 13/$sc+rem;
                right: 8/$sc+rem;
            }
        }
    }
    .group-buy-details-section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #FAFAFA;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        z-index: 1;
        .section-wrapper {
            position: relative;
            box-sizing: border-box;
            .project-info{
                width: 100%;
                background: #FFFFFF;
                padding: 12/$sc+rem 12/$sc+rem 0;
                box-sizing: border-box;
                .project-info-banner{
                    width: 100%;
                    height: 200/$sc+rem;
                    overflow: hidden;
                    border-radius: 10/$sc+rem 10/$sc+rem 0 0;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    span{
                        display: block;
                        height: 21/$sc+rem;
                        line-height: 21/$sc+rem;
                        padding: 0 10/$sc+rem;
                        font-size: 11/$sc+rem;
                        border-radius: 30/$sc+rem;
                        background: rgba(0,0,0,.6);
                        color: #FFFFFF;
                        position: absolute;
                        bottom: 5/$sc+rem;
                        right: 5/$sc+rem;
                    }
                }
                .project-info-ul{
                    width: 100%;
                    .project-info-li{
                        box-shadow: 0 1px 0 0 #E8E8E8;
                    }
                    .sale{
                        width: 100%;
                        height: 36/$sc+rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .tags{
                            display: block;
                            width: 13/$sc+rem;
                            height: 13/$sc+rem;
                            background: #F6747C;
                            margin-right: 4/$sc+rem;
                            border-radius: 2/$sc+rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            span{
                                font-size: 10/$sc+rem;
                                color: #FFFFFF;
                            }
                        }
                        .txt{
                            font-size: 12/$sc+rem;
                            color: #333333;
                        }
                    }
                    .group{
                        width: 100%;
                        height: 36/$sc+rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .tags{
                            display: block;
                            width: 13/$sc+rem;
                            height: 13/$sc+rem;
                            background: #F8926C;
                            margin-right: 4/$sc+rem;
                            border-radius: 2/$sc+rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            span{
                                font-size: 10/$sc+rem;
                                color: #FFFFFF;
                            }
                        }
                        .txt{
                            font-size: 12/$sc+rem;
                            color: #333333;
                        }
                    }
                    .discount{
                        width: 100%;
                        height: 36/$sc+rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .tags{
                            display: block;
                            width: 13/$sc+rem;
                            height: 13/$sc+rem;
                            background: #FFB045;
                            margin-right: 4/$sc+rem;
                            border-radius: 2/$sc+rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            span{
                                font-size: 10/$sc+rem;
                                color: #FFFFFF;
                            }
                        }
                        .txt{
                            font-size: 12/$sc+rem;
                            color: #333333;
                        }
                    }
                    .activity-title{
                        height: 80/$sc+rem;
                        padding: 10/$sc+rem 0;
                        box-sizing: border-box;
                        .activity-title-txt{
                            height: 40/$sc+rem;
                            display: flex;
                            flex-direction: row;
                            .activity-title-txt-left{
                                width: 66.3%;
                                line-height: 20/$sc+rem;
                                font-size: 14/$sc+rem;
                                color: #333333;
                            }
                            .activity-title-txt-right{
                                width: 33.7%;
                                span:first-child{
                                    display: block;
                                    font-family: PingFangSC-Medium;
                                    font-size: 16/$sc+rem;
                                    line-height: 22/$sc+rem;
                                    text-align: right;
                                    color: #F23023;
                                }
                                span:last-child{
                                    display: block;
                                    font-family: PingFangSC-Medium;
                                    font-size: 12/$sc+rem;
                                    line-height: 16/$sc+rem;
                                    margin-top: 3/$sc+rem;
                                    text-align: right;
                                    color: #FF7C00;
                                    
                                }
                            }
                        }
                        .activity-title-address{
                            margin-top: 5/$sc+rem;
                            height: 15/$sc+rem;
                            line-height: 15/$sc+rem;
                            font-size: 11/$sc+rem;
                            color: #999999;
                            padding-left: 13/$sc+rem;
                            background: url(../img/address2.png) left 1/$sc+rem no-repeat;
                            background-size: 10/$sc+rem 12/$sc+rem;
                        }
                    }
                    .activity-join{
                        height: 58/$sc+rem;
                        padding: 12/$sc+rem 0 15/$sc+rem;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                        .activity-join-txt{
                            flex: 1;
                            -webkit-flex: 1;
                            p:first-child{
                                line-height: 12/$sc+rem;
                                font-family: PingFangSC-Medium;
                                font-size: 12/$sc+rem;
                                color: #FF9000;
                            }
                            p:last-child{
                                margin-top: 5/$sc+rem;
                                line-height: 15/$sc+rem;
                                font-size: 11/$sc+rem;
                                color: #666666;
                                letter-spacing: -0.3/$sc+rem;
                                white-space: nowrap;
                                span{
                                    color: red;
                                    margin: 0px -2.8/$sc+rem;
                                }
                            }
                        }
                        .activity-join-btn{
                            width: 85/$sc+rem;
                            height: 30/$sc+rem;
                            line-height: 30/$sc+rem;
                            text-align: center;
                            font-family: PingFangSC-Medium;
                            font-size: 13/$sc+rem;
                            color: #FFFFFF;
                            background: #FF7C00;
                            border-radius: 2/$sc+rem;
                        }
                    }
                    .project-info-li:last-child{
                        box-shadow: none;
                    }
                }
            }
            .project-details{
                width: 100%;
                background: #FFFFFF;
                margin-top: 7/$sc+rem;
                padding: 15/$sc+rem 12/$sc+rem;
                position: relative;
                box-sizing: border-box;
                .details-header{
                    font-family: PingFangSC-Medium;
                    font-size: 13/$sc+rem;
                    line-height: 18/$sc+rem;
                    color: #000000;
                }
                .details-section{
                    width: 100%;
                    p{
                        font-size: 13/$sc+rem;
                        color: #333333;
                        line-height: 20/$sc+rem;
                        padding: 5/$sc+rem 0;
                        text-indent: 2em;
                    }
                    .banner{
                        width: 100%;
                        padding: 5/$sc+rem 0;
                        img{
                            display: block;
                            width: 100%;
                            height: 180/$sc+rem;
                        }
                        span{
                            display: block;
                            margin-top: 5/$sc+rem;
                            font-size: 12/$sc+rem;
                            line-height: 16/$sc+rem;
                            text-align: center;
                            color: #666666;
                        }
                    }
                }
            }
        }
    }
    .group-buy-details-Mask{
        width: 100%;
        height: 100%;
        transition: all .3s;
        background: rgba(0,0,0,.6);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
    }
    .group-buy-details-Mask.show{
        z-index: 2;
        opacity: 1;
    }
    .group-buy-details-Mask.signal_show{
        z-index: 35;
        opacity: 1;
    }
    .sign-up-push{
        width: 218/$sc+rem;
        height: 148/$sc+rem;
        padding: 12/$sc+rem;
        background: #FFFFFF;
        transition: all .3s;
        border-radius: 5/$sc+rem;
        opacity: 0;
        z-index: -1;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        .sign-up-title{
            width: 100%;
            height: 21/$sc+rem;
            text-align: center;
            font-weight: normal;
            line-height: 21/$sc+rem;
            font-size: 15/$sc+rem;
            color: #333333;
        }
        .sign-up-name{
            width: 100%;
            height: 22/$sc+rem;
            padding: 3/$sc+rem 0;
            margin-top: 10/$sc+rem;
            box-shadow: 0 1px 0 0 #E8E8E8;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            span{
                display: inline-block;
                line-height: 16/$sc+rem;
                font-size: 12/$sc+rem;
                color: #666666;
            }
            .name_ipt{
                flex: 1;
                -webkit-flex: 1;
                height: 100%;
                padding: 2/$sc+rem 0;
                background: transparent;
                line-height: 16/$sc+rem;
                font-size: 12/$sc+rem;
                color: #333333;
                box-sizing: border-box;
            }
        }
        .sign-up-contact{
            width: 100%;
            height: 22/$sc+rem;
            padding: 3/$sc+rem 0;
            margin-top: 10/$sc+rem;
            box-shadow: 0 1px 0 0 #E8E8E8;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            span{
                display: inline-block;
                line-height: 16/$sc+rem;
                font-size: 12/$sc+rem;
                color: #666666;
                word-break:keep-all; 
            }
            .contact_ipt{
                flex: 1;
                -webkit-flex: 1;
                height: 100%;
                padding: 2/$sc+rem 0;
                background: transparent;
                line-height: 16/$sc+rem;
                font-size: 12/$sc+rem;
                color: #333333;
                box-sizing: border-box;
            }
        }
        .sign-up-btn{
            margin-top: 15/$sc+rem;
            span{
                display: block;
                width: 85/$sc+rem;
                height: 26/$sc+rem;
                line-height: 26/$sc+rem;
                text-align: center;
                background: #FF7C00;
                font-size: 13/$sc+rem;
                color: #FFFFFF;
                margin: 0 auto;
                border-radius: 2/$sc+rem;
            }
        }
        .sign-up-del{
            width: 33/$sc+rem;
            height: 33/$sc+rem;
            border-radius: 50%;
            position: absolute;
            bottom: -50/$sc+rem;
            left: 0;
            right: 0;
            margin: auto;
            img{
                display: block;
                width: 33/$sc+rem;
                height: 33/$sc+rem;
            }
        }
    }
    .sign-up-push.show{
        opacity: 1;
        z-index: 40;
    }
    .sign-up-false{
        width: 160/$sc+rem;
        height: 100/$sc+rem;
        background: #FFFFFF;
        transition: all .3s;
        border-radius: 5/$sc+rem;
        opacity: 0;
        z-index: -1;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        i{
            display: block;
            width: 41/$sc+rem;
            height: 26/$sc+rem;
            margin: 24/$sc+rem auto 0;
            img{
                display: block;
                width: 41/$sc+rem;
                height: 26/$sc+rem;
            }
        }
        p{
            width: 100%;
            margin-top: 10/$sc+rem;
            line-height: 20/$sc+rem;
            text-align: center;
            font-size: 14/$sc+rem;
            color: #666666;
            a{
                line-height: 20/$sc+rem;
                font-size: 14/$sc+rem;
                color: #86D646;
                text-decoration: underline;
                
            }
        }
    }
    .sign-up-false.show{
        opacity: 1;
        z-index: 40;
    }
    .sign-up-success{
        width: 160/$sc+rem;
        height: 100/$sc+rem;
        background: #FFFFFF;
        transition: all .3s;
        border-radius: 5/$sc+rem;
        opacity: 0;
        z-index: -10;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        i{
            display: block;
            width: 41/$sc+rem;
            height: 26/$sc+rem;
            margin: 24/$sc+rem auto 0;
            img{
                display: block;
                width: 41/$sc+rem;
                height: 26/$sc+rem;
            }
        }
        p{
            width: 100%;
            margin-top: 10/$sc+rem;
            line-height: 20/$sc+rem;
            text-align: center;
            font-size: 14/$sc+rem;
            color: #666666;
            a{
                line-height: 20/$sc+rem;
                font-size: 14/$sc+rem;
                color: #86D646;
                text-decoration: underline;
                
            }
        }
    }
    .sign-up-success.show{
        opacity: 1;
        z-index: 40;
    }
}

.iScrollVerticalScrollbar {
    width: 4/$sc+rem!important;
    z-index: 1!important;
}