* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;
.home-page-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    .home-page-header {
        width: 100%;
        background: #47464b;
        box-shadow: 0 1px 0 0 #B2B2B2;
        -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 17/$sc+rem;
                color: #FFFFFF;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 18/$sc+rem;
                line-height: 18/$sc+rem;
                padding-left: 16/$sc+rem;
                font-size: 17/$sc+rem;
                color: #ffffff;
                background: url(../img/return.png) no-repeat;
                background-size: 9/$sc+rem 16/$sc+rem;
                background-position-x: left;
                background-position-y: 1/$sc+rem;
                position: absolute;
                top: 14/$sc+rem;
                left: 8/$sc+rem;
            }
            .more {
                display: block;
                height: 20/$sc+rem;
                width: 20/$sc+rem;
                background: url(../img/more.png) no-repeat;
                background-size: 20/$sc+rem 20/$sc+rem;
                position: absolute;
                top: 13/$sc+rem;
                right: 8/$sc+rem;
            }
        }
    }
    .home-page-section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #fafafa;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        .section-wrapper {
            width: 100%;
            padding-bottom: 32/$sc+rem;
            .section-banner {
                width: 100%;
                height: 180/$sc+rem;
                position: relative;
                img {
                    display: block;
                    width: 100%;
                    height: 180/$sc+rem;
                }
                .address {
                    width: 70/$sc+rem;
                    height: 28/$sc+rem;
                    background: #FFFFFF;
                    border-radius: 19/$sc+rem;
                    position: absolute;
                    bottom: 5/$sc+rem;
                    left: 20/$sc+rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .address-city {
                        display: inline-block;
                        height: 16/$sc+rem;
                        font-size: 12/$sc+rem;
                        padding-right: 11/$sc+rem;
                        color: #333333;
                        background: url(../img/drop-down.png) no-repeat;
                        background-size: 6/$sc+rem 4/$sc+rem;
                        background-position-x: right;
                        background-position-y: 7/$sc+rem;
                    }
                    .address-city.click {
                        background: url(../img/drop-down-hover.png) no-repeat;
                        background-size: 6/$sc+rem 4/$sc+rem;
                        background-position-x: right;
                        background-position-y: 7/$sc+rem;
                    }
                }
                .search {
                    width: 28/$sc+rem;
                    height: 28/$sc+rem;
                    background: #FFFFFF;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 5/$sc+rem;
                    left: 96/$sc+rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        display: block;
                        width: 12/$sc+rem;
                        height: 12/$sc+rem;
                    }
                }
            }
            .section-nav {
                width: 100%;
                padding: 15/$sc+rem 0 5/$sc+rem;
                background: #FFFFFF;
                .section-nav-ul {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    .section-nav-li {
                        width: 25%;
                        height: 70/$sc+rem;
                        i {
                            display: block;
                            width: 27/$sc+rem;
                            height: 27/$sc+rem;
                            padding-top: 8/$sc+rem;
                            margin: 0 auto;
                            img {
                                display: block;
                                width: 27/$sc+rem;
                                height: 27/$sc+rem;
                            }
                        }
                        span {
                            display: block;
                            line-height: 16/$sc+rem;
                            text-align: center;
                            margin-top: 10/$sc+rem;
                            font-size: 12/$sc+rem;
                            color: #333333;
                        }
                    }
                    .section-nav-li:nth-child(4) {
                        i {
                            display: block;
                            width: 19/$sc+rem;
                            height: 27/$sc+rem;
                            margin-top: 8/$sc+rem;
                            margin: 0 auto;
                            img {
                                display: block;
                                width: 19/$sc+rem;
                                height: 27/$sc+rem;
                            }
                        }
                    }
                }
                .section-nav-headlines {
                    width: 100%;
                    height: 48/$sc+rem;
                    padding: 8/$sc+rem 12/$sc+rem 8/$sc+rem;
                    display: flex;
                    -webkit-display: flex;
                    flex-direction: row;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    .headlines-logo {
                        width: 47/$sc+rem;
                        height: 100%;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        border-right: 1/$sc+rem solid #D8D8D8;
                        background: url(../img/Headlines.png) no-repeat;
                        background-size: 29/$sc+rem 29/$sc+rem;
                        background-position: 3/$sc+rem 2/$sc+rem;
                    }
                    .headlines-content {
                        flex: 1;
                        -webkit-flex: 1;
                        overflow: hidden;
                        padding-left: 15/$sc+rem;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        p {
                            font-size: 11/$sc+rem;
                            line-height: 15/$sc+rem;
                            color: #666666;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        p:last-child {
                            margin-top: 2/$sc+rem;
                        }
                    }
                    .headlines-link{
                        height: 100%;
                        width: 24/$sc+rem;
                        position: relative;
                        img{
                            display: block;
                            width: 14/$sc+rem;
                            height: 14/$sc+rem;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            margin: auto ;
                        }
                    }
                }
            }
            .section-list{
                width: 100%;
                margin-top: 7/$sc+rem;
                padding: 5/$sc+rem;
                background: #FFFFFF;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                .section-list-big{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    li{
                        height: 95/$sc+rem;
                        background: #f9f9f9;
                        .section-list-big-txt{
                            width: 100%;
                            padding: 5/$sc+rem 0 0 12/$sc+rem;
                            box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            .title{
                                font-family: PingFangSC-Medium;
                                font-size: 12/$sc+rem;
                                line-height: 16/$sc+rem;
                                color: #333333;
                            }
                            .txt{
                                margin-top: 2/$sc+rem;
                                font-size: 10/$sc+rem;
                                line-height: 14/$sc+rem;
                                color: #999999;
                            }
                            .connect{
                                margin-top: 2/$sc+rem;
                                font-size: 10/$sc+rem;
                                height: 12/$sc+rem;
                                line-height: 12/$sc+rem;
                                font-size: 9/$sc+rem;
                                color: #151515;
                                span{
                                    height: 100%;
                                    float: left;
                                }
                                .people{
                                    font-size: 9/$sc+rem;
                                    line-height: 12/$sc+rem;
                                    color: #EF1313;
                                }
                                .txt{
                                    margin-top: 0;
                                    font-size: 9/$sc+rem;
                                    line-height: 12/$sc+rem;
                                    color: #151515;
                                }
                                .right{
                                    display: inline-block;
                                    width: 12/$sc+rem;  
                                    height: 12/$sc+rem;  
                                    line-height: 12/$sc+rem; 
                                    background: url(../img/conrentright.png) no-repeat;
                                    background-size: 10/$sc+rem 10/$sc+rem;
                                    background-position-y: 1/$sc+rem;
                                }
                            }
                        }
                    }
                    li:first-child{
                        background: url(../img/Housing-demand-img.png) no-repeat #f9f9f9;
                        background-size: 109/$sc+rem 58/$sc+rem;
                        background-position-x: right;
                        background-position-y: 33/$sc+rem;
                    }
                    li:last-child{
                        background: url(../img/Properties-sale.png) no-repeat #f9f9f9;
                        background-size: 58/$sc+rem 63/$sc+rem;
                        background-position-x: right;
                        background-position-y: 27/$sc+rem;
                    }
                }
                .section-list-small{
                    width: 100%;
                    margin-top: 5/$sc+rem;
                    display: flex;
                    justify-content: space-between;
                    li{
                        height: 110/$sc+rem;
                        background: #f9f9f9;
                        .title{
                            font-family: PingFangSC-Medium;
                            font-size: 12/$sc+rem;
                            line-height: 16/$sc+rem;
                            text-align: center;
                            color: #333333;
                            margin-top: 7/$sc+rem;
                        }
                        .txt{
                            margin-top: 4/$sc+rem;
                            height: 15/$sc+rem;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            span{
                                display: inline-block;
                                height: 13/$sc+rem;
                                padding: 0 4/$sc+rem;
                                background: #FFFFFF;
                                border: 1px solid #666666;
                                line-height: 13/$sc+rem;
                                font-size: 9/$sc+rem;
                                color: #666666;
                            }
                        }
                    }
                    li:first-child{
                        background: url(../img/union.png) no-repeat #f9f9f9;
                        background-size: 70/$sc+rem 65/$sc+rem;
                        background-position-x: center;
                        background-position-y: 45/$sc+rem;
                    }
                    li:nth-child(2){
                        background: url(../img/House-view.png) no-repeat #f9f9f9;
                        background-size: 90/$sc+rem 60/$sc+rem;
                        background-position-x: right;
                        background-position-y: bottom;
                    }
                    li:nth-child(3){
                        background: url(../img/project.png) no-repeat #f9f9f9;
                        background-size: 74/$sc+rem 64/$sc+rem;
                        background-position-x: center;
                        background-position-y: bottom;
                    }
                }
            }
            .section-recommend{
                width: 100%;
                background: #FFFFFF;
                padding: 10/$sc+rem 12/$sc+rem 0;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                .section-recommend-title{
                    height: 40/$sc+rem;
                    width: 100%;
                    padding: 10/$sc+rem 0;
                    font-size: 14/$sc+rem;
                    color: #333333;
                    border-bottom: 1px solid #e8e8e8;
                    font-weight: normal;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    span{
                        display: block;
                        float: right;
                        padding-right: 12/$sc+rem;
                        line-height: 20/$sc+rem;
                        font-size: 11/$sc+rem;
                        color: #666666;
                        background: url(../img/returnright.png) no-repeat;
                        background-size: 10/$sc+rem 10/$sc+rem;
                        background-position-x: right;
                        background-position-y: center;
                    }
                }
                .section-recommend-content{
                    width: 100%;
                    .recommend-content-ul{
                        width: 100%;
                        padding-bottom: 15/$sc+rem;
                        .recommend-content-li{
                            width: 100%;
                            height: 80/$sc+rem;
                            padding: 15/$sc+rem 0;
                            border-bottom: 1px solid #e8e8e8;
                            display: flex;
                            display: -webkit-flex;
                            flex-direction: row;
                            .recommend-content-li-img{
                                width: 110/$sc+rem;
                                height: 80/$sc+rem;
                                padding-right: 12/$sc+rem;
                                img{
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .recommend-content-li-txt{
                                flex: 1;
                                -webkit-flex: 1;
                                height: 100%;
                                .title{
                                    font-size: 14/$sc+rem;
                                    line-height: 20/$sc+rem;
                                    color: #333333;
                                    .title-box{
                                        display: inline-block;
                                        background: #FFFFFF;
                                        height: 12/$sc+rem;
                                        line-height: 10/$sc+rem;
                                        padding: 0 2/$sc+rem;
                                        margin-left: 3/$sc+rem;
                                        border: 1px solid #F23023;
                                        border-radius: 2/$sc+rem;
                                        font-size: 8/$sc+rem;
                                        color: #F23023;
                                        box-sizing: border-box;
                                        -webkit-box-sizing: border-box;
                                    }
                                }
                                .info{
                                    height: 15/$sc+rem;
                                    margin-top: 3/$sc+rem;
                                    span{
                                        float: left;
                                        line-height: 15/$sc+rem;
                                        font-size: 11/$sc+rem;
                                        color: #666666;
                                    }
                                    .line{
                                        margin: 0 4/$sc+rem;
                                    }
                                }
                                .demand{
                                    height: 18/$sc+rem;
                                    margin-top: 3/$sc+rem;
                                    span{
                                        display: block;
                                        float: left;
                                        margin-right: 5/$sc+rem;
                                        padding: 0 6/$sc+rem;
                                        height: 18/$sc+rem;
                                        background: #F3F1FF;
                                        line-height: 18/$sc+rem;
                                        font-size: 9/$sc+rem;
                                        color: #928AEA;
                                    }
                                    span:last-child{
                                        margin-right: 0;
                                    }
                                }
                                .average-price{
                                    margin-top: 3/$sc+rem;
                                    height: 18/$sc+rem;
                                    font-size: 11/$sc+rem;
                                    color: #666666;
                                    span{
                                        font-size: 13/$sc+rem;
                                        color: #FF7C00;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.iScrollVerticalScrollbar {
    width: 4/$sc+rem!important;
    z-index: 1!important;
}