* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;

.container{
    width: 100%;
    height: 100%;
    background: #FAFAFA;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    .header {
        width: 100%;
        background: rgba(51,50,55,0.90);
        box-shadow: 0 1px 0 0 #B2B2B2;
        -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                display: block;
                font-size: 17/$sc+rem;
                color: #FFFFFF;
                text-align: center;
            }
            .return {
                display: block;
                height: 18/$sc+rem;
                line-height: 18/$sc+rem;
                font-size: 17/$sc+rem;
                color: #FFFFFF;
                padding-left: 18/$sc+rem;
                background: url(../img/return.png) no-repeat;
                background-size: 9/$sc+rem 16/$sc+rem;
                background-position-x: left;
                background-position-y: 1/$sc+rem;
                position: absolute;
                top: 13/$sc+rem;
                left: 8/$sc+rem;
            }
            .more{
                display: block;
                height: 20/$sc+rem;
                width: 20/$sc+rem;
                background: url(../img/more.png) no-repeat;
                background-size: 20/$sc+rem 20/$sc+rem;
                position: absolute;
                top: 12/$sc+rem;
                right: 8/$sc+rem;
            }
        }
    }
}
