* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: PingFangSC-Regular;
  background: #FAFAFA;
}

input,
textarea {
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

.home-page-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

.home-page-container .home-page-header {
  width: 100%;
  background: #47464b;
  box-shadow: 0 1px 0 0 #B2B2B2;
  -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
}

.home-page-container .home-page-header .title_bar {
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  position: relative;
}

.home-page-container .home-page-header .title_bar .title_txt {
  font-size: 0.85rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
}

.home-page-container .home-page-header .title_bar .return {
  display: block;
  height: 0.9rem;
  line-height: 0.9rem;
  padding-left: 0.8rem;
  font-size: 0.85rem;
  color: #ffffff;
  background: url(../img/return.png) no-repeat;
  background-size: 0.45rem 0.8rem;
  background-position-x: left;
  background-position-y: 0.05rem;
  position: absolute;
  top: 0.7rem;
  left: 0.4rem;
}

.home-page-container .home-page-header .title_bar .more {
  display: block;
  height: 1rem;
  width: 1rem;
  background: url(../img/more.png) no-repeat;
  background-size: 1rem 1rem;
  position: absolute;
  top: 0.65rem;
  right: 0.4rem;
}

.home-page-container .home-page-section {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  background: #fafafa;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}

.home-page-container .home-page-section .section-wrapper {
  width: 100%;
  padding-bottom: 1.6rem;
}

.home-page-container .home-page-section .section-wrapper .section-banner {
  width: 100%;
  height: 9rem;
  position: relative;
}

.home-page-container .home-page-section .section-wrapper .section-banner img {
  display: block;
  width: 100%;
  height: 9rem;
}

.home-page-container .home-page-section .section-wrapper .section-banner .address {
  width: 3.5rem;
  height: 1.4rem;
  background: #FFFFFF;
  border-radius: 0.95rem;
  position: absolute;
  bottom: 0.25rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-container .home-page-section .section-wrapper .section-banner .address .address-city {
  display: inline-block;
  height: 0.8rem;
  font-size: 0.6rem;
  padding-right: 0.55rem;
  color: #333333;
  background: url(../img/drop-down.png) no-repeat;
  background-size: 0.3rem 0.2rem;
  background-position-x: right;
  background-position-y: 0.35rem;
}

.home-page-container .home-page-section .section-wrapper .section-banner .address .address-city.click {
  background: url(../img/drop-down-hover.png) no-repeat;
  background-size: 0.3rem 0.2rem;
  background-position-x: right;
  background-position-y: 0.35rem;
}

.home-page-container .home-page-section .section-wrapper .section-banner .search {
  width: 1.4rem;
  height: 1.4rem;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  bottom: 0.25rem;
  left: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-container .home-page-section .section-wrapper .section-banner .search img {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
}

.home-page-container .home-page-section .section-wrapper .section-nav {
  width: 100%;
  padding: 0.75rem 0 0.25rem;
  background: #FFFFFF;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-ul {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-ul .section-nav-li {
  width: 25%;
  height: 3.5rem;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-ul .section-nav-li i {
  display: block;
  width: 1.35rem;
  height: 1.35rem;
  padding-top: 0.4rem;
  margin: 0 auto;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-ul .section-nav-li i img {
  display: block;
  width: 1.35rem;
  height: 1.35rem;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-ul .section-nav-li span {
  display: block;
  line-height: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.6rem;
  color: #333333;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-ul .section-nav-li:nth-child(4) i {
  display: block;
  width: 0.95rem;
  height: 1.35rem;
  margin-top: 0.4rem;
  margin: 0 auto;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-ul .section-nav-li:nth-child(4) i img {
  display: block;
  width: 0.95rem;
  height: 1.35rem;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-headlines {
  width: 100%;
  height: 2.4rem;
  padding: 0.4rem 0.6rem 0.4rem;
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-headlines .headlines-logo {
  width: 2.35rem;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-right: 0.05rem solid #D8D8D8;
  background: url(../img/Headlines.png) no-repeat;
  background-size: 1.45rem 1.45rem;
  background-position: 0.15rem 0.1rem;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-headlines .headlines-content {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  padding-left: 0.75rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-headlines .headlines-content p {
  font-size: 0.55rem;
  line-height: 0.75rem;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-headlines .headlines-content p:last-child {
  margin-top: 0.1rem;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-headlines .headlines-link {
  height: 100%;
  width: 1.2rem;
  position: relative;
}

.home-page-container .home-page-section .section-wrapper .section-nav .section-nav-headlines .headlines-link img {
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.home-page-container .home-page-section .section-wrapper .section-list {
  width: 100%;
  margin-top: 0.35rem;
  padding: 0.25rem;
  background: #FFFFFF;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-big {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-big li {
  height: 4.75rem;
  background: #f9f9f9;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-big li .section-list-big-txt {
  width: 100%;
  padding: 0.25rem 0 0 0.6rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-big li .section-list-big-txt .title {
  font-family: PingFangSC-Medium;
  font-size: 0.6rem;
  line-height: 0.8rem;
  color: #333333;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-big li .section-list-big-txt .txt {
  margin-top: 0.1rem;
  font-size: 0.5rem;
  line-height: 0.7rem;
  color: #999999;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-big li .section-list-big-txt .connect {
  margin-top: 0.1rem;
  font-size: 0.5rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.45rem;
  color: #151515;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-big li .section-list-big-txt .connect span {
  height: 100%;
  float: left;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-big li .section-list-big-txt .connect .people {
  font-size: 0.45rem;
  line-height: 0.6rem;
  color: #EF1313;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-big li .section-list-big-txt .connect .txt {
  margin-top: 0;
  font-size: 0.45rem;
  line-height: 0.6rem;
  color: #151515;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-big li .section-list-big-txt .connect .right {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  background: url(../img/conrentright.png) no-repeat;
  background-size: 0.5rem 0.5rem;
  background-position-y: 0.05rem;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-big li:first-child {
  background: url(../img/Housing-demand-img.png) no-repeat #f9f9f9;
  background-size: 5.45rem 2.9rem;
  background-position-x: right;
  background-position-y: 1.65rem;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-big li:last-child {
  background: url(../img/Properties-sale.png) no-repeat #f9f9f9;
  background-size: 2.9rem 3.15rem;
  background-position-x: right;
  background-position-y: 1.35rem;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-small {
  width: 100%;
  margin-top: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-small li {
  height: 5.5rem;
  background: #f9f9f9;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-small li .title {
  font-family: PingFangSC-Medium;
  font-size: 0.6rem;
  line-height: 0.8rem;
  text-align: center;
  color: #333333;
  margin-top: 0.35rem;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-small li .txt {
  margin-top: 0.2rem;
  height: 0.75rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-small li .txt span {
  display: inline-block;
  height: 0.65rem;
  padding: 0 0.2rem;
  background: #FFFFFF;
  border: 1px solid #666666;
  line-height: 0.65rem;
  font-size: 0.45rem;
  color: #666666;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-small li:first-child {
  background: url(../img/union.png) no-repeat #f9f9f9;
  background-size: 3.5rem 3.25rem;
  background-position-x: center;
  background-position-y: 2.25rem;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-small li:nth-child(2) {
  background: url(../img/House-view.png) no-repeat #f9f9f9;
  background-size: 4.5rem 3rem;
  background-position-x: right;
  background-position-y: bottom;
}

.home-page-container .home-page-section .section-wrapper .section-list .section-list-small li:nth-child(3) {
  background: url(../img/project.png) no-repeat #f9f9f9;
  background-size: 3.7rem 3.2rem;
  background-position-x: center;
  background-position-y: bottom;
}

.home-page-container .home-page-section .section-wrapper .section-recommend {
  width: 100%;
  background: #FFFFFF;
  padding: 0.5rem 0.6rem 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-title {
  height: 2rem;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 0.7rem;
  color: #333333;
  border-bottom: 1px solid #e8e8e8;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-title span {
  display: block;
  float: right;
  padding-right: 0.6rem;
  line-height: 1rem;
  font-size: 0.55rem;
  color: #666666;
  background: url(../img/returnright.png) no-repeat;
  background-size: 0.5rem 0.5rem;
  background-position-x: right;
  background-position-y: center;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content {
  width: 100%;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul {
  width: 100%;
  padding-bottom: 0.75rem;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li {
  width: 100%;
  height: 4rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-img {
  width: 5.5rem;
  height: 4rem;
  padding-right: 0.6rem;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt {
  flex: 1;
  -webkit-flex: 1;
  height: 100%;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .title {
  font-size: 0.7rem;
  height: 1rem;
  line-height: 1rem;
  color: #333333;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .title .title-txt {
  float: left;
  font-size: 0.7rem;
  line-height: 1rem;
  color: #333333;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .title .title-box {
  display: inline-block;
  float: left;
  background: #FFFFFF;
  height: 0.6rem;
  line-height: 0.55rem;
  padding: 0 0.1rem;
  margin: 0.2rem 0 0 0.15rem;
  border: 1px solid #F23023;
  border-radius: 0.1rem;
  font-size: 0.4rem;
  color: #F23023;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .info {
  height: 0.75rem;
  margin-top: 0.15rem;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .info span {
  float: left;
  line-height: 0.75rem;
  font-size: 0.55rem;
  color: #666666;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .info .line {
  margin: 0 0.2rem;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .demand {
  height: 0.9rem;
  margin-top: 0.15rem;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .demand span {
  display: block;
  float: left;
  margin-right: 0.25rem;
  padding: 0 0.3rem;
  height: 0.9rem;
  background: #F3F1FF;
  line-height: 0.9rem;
  font-size: 0.45rem;
  color: #928AEA;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .demand span:last-child {
  margin-right: 0;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .average-price {
  margin-top: 0.15rem;
  height: 0.9rem;
  font-size: 0.55rem;
  color: #666666;
}

.home-page-container .home-page-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .average-price span {
  font-size: 0.65rem;
  color: #FF7C00;
}

.iScrollVerticalScrollbar {
  width: 0.2rem !important;
  z-index: 1 !important;
}
