* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: PingFangSC-Regular;
  background: #FAFAFA;
}

input,
textarea {
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container .header {
  width: 100%;
  background: #47464b;
  box-shadow: 0 1px 0 0 #B2B2B2;
  -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
}

.container .header .title_bar {
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  position: relative;
}

.container .header .title_bar .title_txt {
  font-size: 0.85rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
}

.container .header .title_bar .return {
  display: block;
  height: 0.9rem;
  line-height: 0.9rem;
  padding-left: 0.8rem;
  font-size: 0.85rem;
  color: #ffffff;
  background: url(../img/return.png) no-repeat;
  background-size: 0.45rem 0.8rem;
  background-position-x: left;
  background-position-y: 0.05rem;
  position: absolute;
  top: 0.7rem;
  left: 0.4rem;
}

.container .header .title_bar .more {
  display: block;
  height: 1rem;
  width: 1rem;
  background: url(../img/more.png) no-repeat;
  background-size: 1rem 1rem;
  position: absolute;
  top: 0.65rem;
  right: 0.4rem;
}

.container .section {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
}
