* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #F4F4F4;
    font-family: PingFangSC-Regular;
}

input {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
    color: #CCCCCC;
}

::-webkit-input-placeholder {
    color: #CCCCCC;
}

:-ms-input-placeholder {
    color: #cccccc;
}

li {
    list-style: none;
}

$sc:25;
.container {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    //-----------------头    部----------------------
    .header {
        width: 100%;
        background: #f6f6f6;
        box-shadow: 0 1px 0 0 #CCCCCC;
        -webkit-box-shadow: 0 1px 0 0 #CCCCCC;
        z-index: 10;
        .signal_bar {
            width: 100%;
            height: 20/$sc+rem;
        }
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 18/$sc+rem;
                color: #394043;
                letter-spacing: 0;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 22/$sc+rem;
                width: 22/$sc+rem;
                background: url(../img/returnleft.png) no-repeat;
                background-size: 22/$sc+rem 22/$sc+rem;
                position: absolute;
                top: 11/$sc+rem;
                left: 16/$sc+rem;
            }
        }
    }
    //-----------------底    部----------------------
    .section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #f4f4f4;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        .section-wrapper {
            padding-bottom: 32/$sc+rem;
            .banner {
                width: 100%;
                height: 110/$sc+rem;
                .banner_img {
                    width: 100%;
                    height: 100%;
                }
            }
            .information_wrap {
                width: 100%;
                li:nth-child(5) {
                    margin-bottom: 10/$sc+rem;
                    box-shadow: none;
                }
                li {
                    width: 100%;
                    height: 45/$sc+rem;
                    line-height: 45/$sc+rem;
                    background: #fff;
                    box-shadow: inset 0 -1px 0 0 #EEEEEE;
                    .information {
                        height: 100%;
                        margin-left: 16/$sc+rem;
                        float: left;
                        .information_title {
                            display: inline-block;
                            font-size: 14/$sc+rem;
                            margin-right: 8/$sc+rem;
                            color: #394043;
                            letter-spacing: 0;
                            float: left;
                        }
                        .required {
                            display: inline-block;
                            font-size: 12/$sc+rem;
                            color: #0099EB;
                            float: left;
                        }
                    }
                    .name {
                        width: 200/$sc+rem;
                        height: 45/$sc+rem;
                        padding: 12/$sc+rem 0;
                        line-height: 21/$sc+rem;
                        margin-right: 16/$sc+rem;
                        float: right;
                        font-size: 14/$sc+rem;
                        color: #6C7072;
                        text-align: right;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        border: none;
                        background: none;
                    }
                    .returnright {
                        height: 45/$sc+rem;
                        width: 200/$sc+rem;
                        margin-right: 5/$sc+rem;
                        float: right;
                        .selecttxt {
                            height: 45/$sc+rem;
                            line-height: 45/$sc+rem;
                            font-size: 14/$sc+rem;
                            color: #6C7072;
                            letter-spacing: 0;
                            float: right;
                            margin-right: 5/$sc+rem;
                            sup {
                                line-height: 0;
                            }
                        }
                        .txt_wrap {
                            padding: 10/$sc+rem 0 0;
                            .selectwrap {
                                display: block;
                                float: right;
                                height: 22/$sc+rem;
                                padding: 0 5/$sc+rem;
                                margin: 0 5/$sc+rem 12/$sc+rem;
                                line-height: 24/$sc+rem;
                                background: #ECF4F9;
                                border: 1/$sc+rem solid #0099EB;
                                border-radius: 2/$sc+rem;
                                font-size: 12/$sc+rem;
                                color: #0099EB;
                                letter-spacing: 0;
                            }
                        }
                    }
                    .returnright_img {
                        width: 14/$sc+rem;
                        margin-right: 16/$sc+rem;
                        height: 100%;
                        float: right;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        img {
                            width: 14/$sc+rem;
                            height: 14/$sc+rem;
                        }
                    }
                }
            }
        }
    }
    //-----------------底    部----------------------
    .footer {
        width: 100%;
        height: 45/$sc+rem;
        background: #0099EB;
        border-top: 1px solid #0099EB;
        .submit {
            width: 100%;
            height: 100%;
            line-height: 100%;
            background: none;
            border: none;
            font-size: 16/$sc+rem;
            color: #FFFFFF;
            letter-spacing: 0;
        }
    }
}

.bomb_box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s;
    opacity: 0;
    z-index: -1;
    background: rgba(0, 0, 0, .5);
}

.bomb_box.show {
    opacity: 1;
    z-index: 10;
}

.click_sub {
    .success {
        display: none;
        height: 298/$sc+rem;
        width: 320/$sc+rem;
        background: #fff;
        overflow: hidden;
        transition: all 0.3s;
        position: fixed;
        top: 180/$sc+rem;
        left: 27/$sc+rem;
        text-align: center;
        z-index: 999;
        .success_logo {
            width: 96/$sc+rem;
            height: 96/$sc+rem;
            margin: 40/$sc+rem auto 0;
        }
        .congratulations {
            font-size: 16/$sc+rem;
            color: #0099EB;
            margin-bottom: 5/$sc+rem;
        }
        .success_txt {
            font-size: 12/$sc+rem;
            color: #6C7072;
        }
        .know {
            margin: 25/$sc+rem auto 0;
            width: 260/$sc+rem;
            height: 46/$sc+rem;
            line-height: 46/$sc+rem;
            background: #0099EB;
            border-radius: 4/$sc+rem;
            font-size: 16/$sc+rem;
            color: #FFFFFF;
        }
    }
    .fail {
        display: none;
        height: 280/$sc+rem;
        width: 320/$sc+rem;
        background: #fff;
        overflow: hidden;
        transition: all 0.3s;
        position: fixed;
        top: 190/$sc+rem;
        left: 27/$sc+rem;
        text-align: center;
        z-index: 999;
        .fail_logo {
            width: 96/$sc+rem;
            height: 96/$sc+rem;
            margin: 35/$sc+rem auto 0;
        }
        .failsay {
            font-size: 16/$sc+rem;
            color: #0099EB;
            margin-bottom: 5/$sc+rem;
        }
        .fail_txt {
            font-size: 12/$sc+rem;
            color: #6C7072;
        }
        .again {
            margin: 25/$sc+rem auto 0;
            width: 260/$sc+rem;
            height: 46/$sc+rem;
            line-height: 46/$sc+rem;
            background: #0099EB;
            border-radius: 4/$sc+rem;
            font-size: 16/$sc+rem;
            color: #FFFFFF;
        }
    }
}

.bomb_wrap {
    .d_requirement {
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all 0.3s;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 20;
        .d_content {
            width: 100%;
            height: auto;
            background: #fff;
            li {
                width: 100%;
                height: 48/$sc+rem;
                line-height: 48/$sc+rem;
                background: #FFFFFF;
                text-align: center;
                box-shadow: inset 0 -1px 0 0 #EEEEEE;
                font-size: 14/$sc+rem;
                color: #6C7072;
                letter-spacing: 0;
            }
            li.select {
                color: #0099EB;
            }
            .b_tltle {
                height: 70/$sc+rem;
                margin-left: 16/$sc+rem;
                h3 {
                    height: 55/$sc+rem;
                    line-height: 55/$sc+rem;
                    padding-top: 15/$sc+rem;
                    font-size: 16/$sc+rem;
                    color: #394043;
                    letter-spacing: 1.07px;
                    font-weight: normal;
                    float: left;
                    margin-right: 5/$sc+rem;
                }
                span {
                    display: block;
                    height: 55/$sc+rem;
                    line-height: 55/$sc+rem;
                    padding-top: 15/$sc+rem;
                    color: #394043;
                    float: left;
                    font-size: 12/$sc+rem;
                    color: #0099EB;
                    letter-spacing: 0;
                }
            }
            .selectmore {
                height: 277/$sc+rem;
                text-align: center;
                padding-left: 8/$sc+rem;
                span {
                    display: inline-block;
                    float: left;
                    width: 74/$sc+rem;
                    height: 36/$sc+rem;
                    line-height: 36/$sc+rem;
                    margin: 0 8/$sc+rem 16/$sc+rem;
                    font-size: 12/$sc+rem;
                    color: #999999;
                    letter-spacing: 0.8px;
                    background: #F0F0F0;
                    border-radius: 4/$sc+rem;
                    border: 1/$sc+rem solid #F0F0F0;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
                span.on {
                    background: #ECF4F9;
                    border: 1/$sc+rem solid #0099EB;
                    color: #0099EB;
                }
            }
            .btns {
                width: 100%;
                height: 56/$sc+rem;
                background: #FFFFFF;
                box-shadow: inset 0 1px 0 0 #eeeeee;
                text-align: center;
                span {
                    display: inline-block;
                    width: 164/$sc+rem;
                    height: 36/$sc+rem;
                    line-height: 36/$sc+rem;
                    text-align: center;
                    font-size: 14/$sc+rem;
                    margin: 10/$sc+rem 5/$sc+rem 0;
                }
                .reset {
                    background: #E6F7FF;
                    border-radius: 4/$sc+rem;
                    color: #59A7D1;
                }
                .determine {
                    background: #0099EB;
                    border-radius: 4/$sc+rem;
                    color: #FFFFFF;
                }
            }
        }
    }
}