* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #F4F4F4;
  font-family: PingFangSC-Regular;
}

input {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
  color: #CCCCCC;
}

::-webkit-input-placeholder {
  color: #CCCCCC;
}

:-ms-input-placeholder {
  color: #cccccc;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.container .header {
  width: 100%;
  background: #f6f6f6;
  box-shadow: 0 1px 0 0 #CCCCCC;
  -webkit-box-shadow: 0 1px 0 0 #CCCCCC;
  z-index: 10;
}

.container .header .signal_bar {
  width: 100%;
  height: 0.8rem;
}

.container .header .title_bar {
  width: 100%;
  height: 1.76rem;
  line-height: 1.76rem;
  position: relative;
}

.container .header .title_bar .title_txt {
  font-size: 0.72rem;
  color: #394043;
  letter-spacing: 0;
  text-align: center;
  font-weight: normal;
}

.container .header .title_bar .return {
  display: block;
  height: 0.88rem;
  width: 0.88rem;
  background: url(../img/returnleft.png) no-repeat;
  background-size: 0.88rem 0.88rem;
  position: absolute;
  top: 0.44rem;
  left: 0.64rem;
}

.container .section {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  background: #f4f4f4;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container .section .section-wrapper {
  padding-bottom: 1.28rem;
}

.container .section .section-wrapper .banner {
  width: 100%;
  height: 4.4rem;
}

.container .section .section-wrapper .banner .banner_img {
  width: 100%;
  height: 100%;
}

.container .section .section-wrapper .information_wrap {
  width: 100%;
}

.container .section .section-wrapper .information_wrap li:nth-child(5) {
  margin-bottom: 0.4rem;
  box-shadow: none;
}

.container .section .section-wrapper .information_wrap li {
  width: 100%;
  height: 1.8rem;
  line-height: 1.8rem;
  background: #fff;
  box-shadow: inset 0 -1px 0 0 #EEEEEE;
}

.container .section .section-wrapper .information_wrap li .information {
  height: 100%;
  margin-left: 0.64rem;
  float: left;
}

.container .section .section-wrapper .information_wrap li .information .information_title {
  display: inline-block;
  font-size: 0.56rem;
  margin-right: 0.32rem;
  color: #394043;
  letter-spacing: 0;
  float: left;
}

.container .section .section-wrapper .information_wrap li .information .required {
  display: inline-block;
  font-size: 0.48rem;
  color: #0099EB;
  float: left;
}

.container .section .section-wrapper .information_wrap li .name {
  width: 8rem;
  height: 1.8rem;
  padding: 0.48rem 0;
  line-height: 0.84rem;
  margin-right: 0.64rem;
  float: right;
  font-size: 0.56rem;
  color: #6C7072;
  text-align: right;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  background: none;
}

.container .section .section-wrapper .information_wrap li .returnright {
  height: 1.8rem;
  width: 8rem;
  margin-right: 0.2rem;
  float: right;
}

.container .section .section-wrapper .information_wrap li .returnright .selecttxt {
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: 0.56rem;
  color: #6C7072;
  letter-spacing: 0;
  float: right;
  margin-right: 0.2rem;
}

.container .section .section-wrapper .information_wrap li .returnright .selecttxt sup {
  line-height: 0;
}

.container .section .section-wrapper .information_wrap li .returnright .txt_wrap {
  padding: 0.4rem 0 0;
}

.container .section .section-wrapper .information_wrap li .returnright .txt_wrap .selectwrap {
  display: block;
  float: right;
  height: 0.88rem;
  padding: 0 0.2rem;
  margin: 0 0.2rem 0.48rem;
  line-height: 0.96rem;
  background: #ECF4F9;
  border: 0.04rem solid #0099EB;
  border-radius: 0.08rem;
  font-size: 0.48rem;
  color: #0099EB;
  letter-spacing: 0;
}

.container .section .section-wrapper .information_wrap li .returnright_img {
  width: 0.56rem;
  margin-right: 0.64rem;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container .section .section-wrapper .information_wrap li .returnright_img img {
  width: 0.56rem;
  height: 0.56rem;
}

.container .footer {
  width: 100%;
  height: 1.8rem;
  background: #0099EB;
  border-top: 1px solid #0099EB;
}

.container .footer .submit {
  width: 100%;
  height: 100%;
  line-height: 100%;
  background: none;
  border: none;
  font-size: 0.64rem;
  color: #FFFFFF;
  letter-spacing: 0;
}

.bomb_box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all .3s;
  opacity: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}

.bomb_box.show {
  opacity: 1;
  z-index: 10;
}

.click_sub .success {
  display: none;
  height: 11.92rem;
  width: 12.8rem;
  background: #fff;
  overflow: hidden;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 999;
}

.click_sub .success .success_logo {
  width: 3.84rem;
  height: 3.84rem;
  margin: 1.6rem auto 0;
}

.click_sub .success .congratulations {
  font-size: 0.64rem;
  color: #0099EB;
  margin-bottom: 0.2rem;
}

.click_sub .success .success_txt {
  font-size: 0.48rem;
  color: #6C7072;
}

.click_sub .success .know {
  margin: 1rem auto 0;
  width: 10.4rem;
  height: 1.84rem;
  line-height: 1.84rem;
  background: #0099EB;
  border-radius: 0.16rem;
  font-size: 0.64rem;
  color: #FFFFFF;
}

.click_sub .fail {
  display: none;
  height: 11.2rem;
  width: 12.8rem;
  background: #fff;
  overflow: hidden;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 999;
}

.click_sub .fail .fail_logo {
  width: 3.84rem;
  height: 3.84rem;
  margin: 1.4rem auto 0;
}

.click_sub .fail .failsay {
  font-size: 0.64rem;
  color: #0099EB;
  margin-bottom: 0.2rem;
}

.click_sub .fail .fail_txt {
  font-size: 0.48rem;
  color: #6C7072;
}

.click_sub .fail .again {
  margin: 1rem auto 0;
  width: 10.4rem;
  height: 1.84rem;
  line-height: 1.84rem;
  background: #0099EB;
  border-radius: 0.16rem;
  font-size: 0.64rem;
  color: #FFFFFF;
}

.bomb_wrap .d_requirement {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.bomb_wrap .d_requirement .d_content {
  width: 100%;
  height: auto;
  background: #fff;
}

.bomb_wrap .d_requirement .d_content li {
  width: 100%;
  height: 1.92rem;
  line-height: 1.92rem;
  background: #FFFFFF;
  text-align: center;
  box-shadow: inset 0 -1px 0 0 #EEEEEE;
  font-size: 0.56rem;
  color: #6C7072;
  letter-spacing: 0;
}

.bomb_wrap .d_requirement .d_content li.select {
  color: #0099EB;
}

.bomb_wrap .d_requirement .d_content .b_tltle {
  height: 2.8rem;
  margin-left: 0.64rem;
}

.bomb_wrap .d_requirement .d_content .b_tltle h3 {
  height: 2.2rem;
  line-height: 2.2rem;
  padding-top: 0.6rem;
  font-size: 0.64rem;
  color: #394043;
  letter-spacing: 1.07px;
  font-weight: normal;
  float: left;
  margin-right: 0.2rem;
}

.bomb_wrap .d_requirement .d_content .b_tltle span {
  display: block;
  height: 2.2rem;
  line-height: 2.2rem;
  padding-top: 0.6rem;
  color: #394043;
  float: left;
  font-size: 0.48rem;
  color: #0099EB;
  letter-spacing: 0;
}

.bomb_wrap .d_requirement .d_content .selectmore {
  height: 11.08rem;
  text-align: center;
  padding-left: 0.32rem;
}

.bomb_wrap .d_requirement .d_content .selectmore span {
  display: inline-block;
  float: left;
  width: 2.96rem;
  height: 1.44rem;
  line-height: 1.44rem;
  margin: 0 0.32rem 0.64rem;
  font-size: 0.48rem;
  color: #999999;
  letter-spacing: 0.8px;
  background: #F0F0F0;
  border-radius: 0.16rem;
  border: 0.04rem solid #F0F0F0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.bomb_wrap .d_requirement .d_content .selectmore span.on {
  background: #ECF4F9;
  border: 0.04rem solid #0099EB;
  color: #0099EB;
}

.bomb_wrap .d_requirement .d_content .btns {
  width: 100%;
  height: 2.24rem;
  background: #FFFFFF;
  box-shadow: inset 0 1px 0 0 #eeeeee;
  text-align: center;
}

.bomb_wrap .d_requirement .d_content .btns span {
  display: inline-block;
  width: 6.56rem;
  height: 1.44rem;
  line-height: 1.44rem;
  text-align: center;
  font-size: 0.56rem;
  margin: 0.4rem 0.2rem 0;
}

.bomb_wrap .d_requirement .d_content .btns .reset {
  background: #E6F7FF;
  border-radius: 0.16rem;
  color: #59A7D1;
}

.bomb_wrap .d_requirement .d_content .btns .determine {
  background: #0099EB;
  border-radius: 0.16rem;
  color: #FFFFFF;
}
