* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
    color: #999999;
}

::-webkit-input-placeholder {
    color: #999999;
}

:-ms-input-placeholder {
    color: #999999;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;
.housing-demand-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    .housing-demand-header {
        width: 100%;
        background: #47464b;
        z-index: 40;
        box-shadow: 0 1px 0 0 #B2B2B2;
        -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 17/$sc+rem;
                color: #FFFFFF;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 18/$sc+rem;
                line-height: 18/$sc+rem;
                padding-left: 16/$sc+rem;
                font-size: 17/$sc+rem;
                color: #ffffff;
                background: url(../img/return.png) no-repeat;
                background-size: 9/$sc+rem 16/$sc+rem;
                background-position-x: left;
                background-position-y: 1/$sc+rem;
                position: absolute;
                top: 14/$sc+rem;
                left: 8/$sc+rem;
            }
            .more {
                display: block;
                height: 20/$sc+rem;
                width: 20/$sc+rem;
                background: url(../img/more.png) no-repeat;
                background-size: 20/$sc+rem 20/$sc+rem;
                position: absolute;
                top: 13/$sc+rem;
                right: 8/$sc+rem;
            }
        }
    }
    .housing-demand-section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #fafafa;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        z-index: 1;
        .section-wrapper {
            width: 100%;
            background: #FFFFFF;
            position: relative;
            .section-header-guide{
                width: 100%;
                height: 80/$sc+rem;
                padding: 20/$sc+rem 12/$sc+rem 15/$sc+rem;
                box-shadow: 0 1px 0 0 #E8E8E8;
                box-sizing: border-box;
                .guide-imp{
                    font-family: PingFangSC-Medium;
                    font-size: 18/$sc+rem;
                    line-height: 25/$sc+rem;
                    color: #333333;
                }
                .guide-txt{
                    margin-top: 5/$sc+rem;
                    line-height: 16/$sc+rem;
                    font-size: 12/$sc+rem;
                    color: #666666;
                }
            }
            .section-header-demand{
                width: 100%;
                padding: 0 12/$sc+rem 20/$sc+rem;
                box-sizing: border-box;
                form{
                    .intentional-city{
                        width: 100%;
                        padding-bottom: 8/$sc+rem;
                        box-shadow: 0 1px 0 0#E8E8E8;
                        .intentional-city-title{
                            width: 100%;
                            height: 42/$sc+rem;
                            padding: 15/$sc+rem 0 7/$sc+rem;
                            box-sizing: border-box;
                            span{
                                display: inline-block;
                                float: left;
                                font-size: 14/$sc+rem;
                                line-height: 20/$sc+rem;
                                padding-right: 12/$sc+rem;
                                color: #333333;
                                font-weight: normal;
                                background: url(../img/symbol.png) right center no-repeat;
                                background-size: 8/$sc+rem 8/$sc+rem;
                            }
                        }
                        .intentional-city-ul{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            li{
                                width: 25%;
                                height: 32/$sc+rem;
                                display: flex;
                                align-items: center;
                                box-sizing: border-box;
                                input{
                                    opacity: 0;
                                    width: 0;
                                }
                                label{
                                    display: inline-block;
                                    height: 32/$sc+rem;
                                    font-size: 12/$sc+rem;
                                    line-height: 32/$sc+rem;
                                    padding-left: 17/$sc+rem;
                                    color: #333333;
                                    background: url(../img/Housing-demand-Checkbox.png) left center no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;                             
                                }
                                label.select{
                                    background: url(../img/Housing-demand-Check.png) left center no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;
                                }
                            }
                            li:nth-child(4n+1){
                                justify-content: flex-start;
                            }
                            li:nth-child(4n+2){
                                padding-left: 12/$sc+rem;
                            }
                            li:nth-child(4n+3){
                                padding-left: 22/$sc+rem;
                            }
                            li:nth-child(4n){
                                justify-content: flex-end;
                            }
                        }
                    }
                    .house-style{
                        width: 100%;
                        padding-bottom: 8/$sc+rem;
                        box-shadow: 0 1px 0 0#E8E8E8;
                        .house-style-title{
                            width: 100%;
                            height: 42/$sc+rem;
                            padding: 15/$sc+rem 0 7/$sc+rem;
                            box-sizing: border-box;
                            span{
                                display: inline-block;
                                float: left;
                                font-size: 14/$sc+rem;
                                line-height: 20/$sc+rem;
                                padding-right: 12/$sc+rem;
                                color: #333333;
                                font-weight: normal;
                                background: url(../img/symbol.png) right center no-repeat;
                                background-size: 8/$sc+rem 8/$sc+rem;
                            }
                        }
                        .house-style-ul{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            li{
                                width: 33.33%;
                                height: 32/$sc+rem;
                                display: flex;
                                align-items: center;
                                box-sizing: border-box;
                                input{
                                    opacity: 0;
                                    width: 0;
                                }
                                label{
                                    display: inline-block;
                                    height: 32/$sc+rem;
                                    font-size: 12/$sc+rem;
                                    line-height: 32/$sc+rem;
                                    padding-left: 17/$sc+rem;
                                    color: #333333;
                                    background: url(../img/Housing-demand-Checkbox.png) left center no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;
                                }
                                label.select{
                                    background: url(../img/Housing-demand-Check.png) left center no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;
                                }
                            }
                            li:nth-child(3n+1){
                                justify-content: flex-start;
                            }
                            li:nth-child(3n+2){
                                padding-left: 12/$sc+rem;
                            }
                            li:nth-child(3n){
                                justify-content: flex-end;
                            }
                        }
                    }
                    .intentional-layout{
                        width: 100%;
                        padding-bottom: 8/$sc+rem;
                        box-shadow: 0 1px 0 0#E8E8E8;
                        .intentional-layout-title{
                            width: 100%;
                            height: 42/$sc+rem;
                            padding: 15/$sc+rem 0 7/$sc+rem;
                            box-sizing: border-box;
                            span{
                                display: inline-block;
                                float: left;
                                font-size: 14/$sc+rem;
                                line-height: 20/$sc+rem;
                                padding-right: 12/$sc+rem;
                                color: #333333;
                                font-weight: normal;
                                background: url(../img/symbol.png) right center no-repeat;
                                background-size: 8/$sc+rem 8/$sc+rem;
                            }
                        }
                        .intentional-layout-ul{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            li{
                                width: 25%;
                                height: 32/$sc+rem;
                                padding: 8/$sc+rem 0;
                                display: flex;
                                align-items: center;
                                box-sizing: border-box;
                                input{
                                    opacity: 0;
                                    width: 0;
                                }
                                label{
                                    display: inline-block;
                                    font-size: 12/$sc+rem;
                                    line-height: 13/$sc+rem;
                                    padding-left: 17/$sc+rem;
                                    color: #333333;
                                    background: url(../img/Radio-select.png) left top no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;
                                }
                                label.select{
                                    background: url(../img/Radio-selected.png) left top no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;
                                }
                            }
                            li:nth-child(4n+1){
                                justify-content: flex-start;
                            }
                            li:nth-child(4n+2){
                                padding-left: 12/$sc+rem;
                            }
                            li:nth-child(4n+3){
                                padding-left: 22/$sc+rem;
                            }
                            li:nth-child(4n){
                                justify-content: flex-end;
                            }
                        }
                    }
                    .home-area{
                        width: 100%;
                        padding-bottom: 8/$sc+rem;
                        box-shadow: 0 1px 0 0#E8E8E8;
                        .home-area-title{
                            width: 100%;
                            height: 42/$sc+rem;
                            padding: 15/$sc+rem 0 7/$sc+rem;
                            box-sizing: border-box;
                            span{
                                display: inline-block;
                                float: left;
                                font-size: 14/$sc+rem;
                                line-height: 20/$sc+rem;
                                color: #333333;
                                font-weight: normal;
                            }
                        }
                        .home-area-ul{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            li{
                                width: 33.33%;
                                height: 32/$sc+rem;
                                padding: 8/$sc+rem 0;
                                display: flex;
                                align-items: center;
                                box-sizing: border-box;
                                input{
                                    opacity: 0;
                                    width: 0;
                                }
                                label{
                                    display: inline-block;
                                    font-size: 12/$sc+rem;
                                    line-height: 13/$sc+rem;
                                    padding-left: 17/$sc+rem;
                                    color: #333333;
                                    background: url(../img/Radio-select.png) left top no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;
                                }
                                label.select{
                                    background: url(../img/Radio-selected.png) left top no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;
                                }
                            }
                            li:nth-child(3n+1){
                                justify-content: flex-start;
                            }
                            li:nth-child(3n+2){
                                padding-left: 12/$sc+rem;
                            }
                            li:nth-child(3n){
                                padding-left: 18/$sc+rem;
                            }
                        }
                    }
                    .budget-price{
                        width: 100%;
                        padding-bottom: 8/$sc+rem;
                        box-shadow: 0 1px 0 0#E8E8E8;
                        .budget-price-title{
                            width: 100%;
                            height: 42/$sc+rem;
                            padding: 15/$sc+rem 0 7/$sc+rem;
                            box-sizing: border-box;
                            span{
                                display: inline-block;
                                float: left;
                                font-size: 14/$sc+rem;
                                line-height: 20/$sc+rem;
                                color: #333333;
                                font-weight: normal;
                            }
                        }
                        .budget-price-ul{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            li{
                                width: 33.33%;
                                height: 32/$sc+rem;
                                padding: 8/$sc+rem 0;
                                display: flex;
                                align-items: center;
                                box-sizing: border-box;
                                input{
                                    opacity: 0;
                                    width: 0;
                                }
                                label{
                                    display: inline-block;
                                    font-size: 12/$sc+rem;
                                    line-height: 13/$sc+rem;
                                    padding-left: 17/$sc+rem;
                                    color: #333333;
                                    letter-spacing: -0.5/$sc+rem;
                                    background: url(../img/Radio-select.png) left top no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;
                                }
                                label.select{
                                    background: url(../img/Radio-selected.png) left top no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;
                                }
                            }
                            li:nth-child(3n+1){
                                justify-content: flex-start;
                            }
                            li:nth-child(3n+2){
                                padding-left: 5/$sc+rem;
                            }
                            li:nth-child(3n){
                                padding-left: 7/$sc+rem;
                            }
                        }
                    }
                    .renovation-request{
                        width: 100%;
                        padding-bottom: 8/$sc+rem;
                        box-shadow: 0 1px 0 0#E8E8E8;
                        .renovation-request-title{
                            width: 100%;
                            height: 42/$sc+rem;
                            padding: 15/$sc+rem 0 7/$sc+rem;
                            box-sizing: border-box;
                            span{
                                display: inline-block;
                                float: left;
                                font-size: 14/$sc+rem;
                                line-height: 20/$sc+rem;
                                color: #333333;
                                font-weight: normal;
                            }
                        }
                        .renovation-request-ul{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            li{
                                width: 33.33%;
                                height: 32/$sc+rem;
                                padding: 8/$sc+rem 0;
                                display: flex;
                                align-items: center;
                                box-sizing: border-box;
                                input{
                                    opacity: 0;
                                    width: 0;
                                }
                                label{
                                    display: inline-block;
                                    font-size: 12/$sc+rem;
                                    line-height: 13/$sc+rem;
                                    padding-left: 17/$sc+rem;
                                    color: #333333;
                                    letter-spacing: -0.5/$sc+rem;
                                    background: url(../img/Radio-select.png) left top no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;
                                }
                                label.select{
                                    background: url(../img/Radio-selected.png) left top no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;
                                }
                            }
                            li:nth-child(3n+1){
                                justify-content: flex-start;
                            }
                            li:nth-child(3n+2){
                                padding-left: 5/$sc+rem;
                            }
                            li:nth-child(3n){
                                padding-left: 7/$sc+rem;
                            }
                        }
                    }
                    .pc-info{
                        width: 100%;
                        padding-top: 15/$sc+rem;
                        box-sizing: border-box;
                        .pc-info-callName{
                            width: 100%;
                            height: 27/$sc+rem;
                            display: flex;
                            flex-direction: row;
                            .txt{
                                display: inline-block;
                                float: left;
                                font-size: 12/$sc+rem;
                                color: #333333;
                                white-space: nowrap;
                                padding-right: 7/$sc+rem;
                                height: 27/$sc+rem;
                                line-height: 27/$sc+rem;
                                padding-left: 20/$sc+rem;
                                background: url(../img/union-name.png) left center no-repeat;
                                background-size: 14/$sc+rem 15/$sc+rem;
                            }
                            .name_ipt{
                                flex: 1;
                                -webkit-flex: 1;
                                height: 100%;
                                font-size: 12/$sc+rem;
                                line-height: 15/$sc+rem;
                                padding: 5/$sc+rem 5/$sc+rem;
                                border: 1px solid #D8D8D8;
                                box-sizing: border-box;
                            }
                            .radio{
                                height: 100%;
                                display: inline-block;
                                display: flex;
                                align-items: center;
                                box-sizing: border-box;
                                input{
                                    opacity: 0;
                                    width: 0;
                                }
                                label{
                                    display: inline-block;
                                    font-size: 12/$sc+rem;
                                    line-height: 13/$sc+rem;
                                    padding-left: 17/$sc+rem;
                                    color: #333333;
                                    white-space: nowrap;
                                    background: url(../img/Radio-select.png) left top no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;
                                }
                                label.select{
                                    background: url(../img/Radio-selected.png) left top no-repeat;
                                    background-size: 13/$sc+rem 13/$sc+rem;
                                }
                            }
                            .radio-gentleman{
                                padding-left: 15/$sc+rem;
                            }
                            .radio-lady{
                                padding-left: 10/$sc+rem;
                            }
                        }
                        .pc-info-phone{
                            width: 100%;
                            height: 27/$sc+rem;
                            padding-top: 15/$sc+rem;
                            display: flex;
                            flex-direction: row;
                            .txt{
                                display: inline-block;
                                float: left;
                                font-size: 12/$sc+rem;
                                color: #333333;
                                white-space: nowrap;
                                padding-right: 7/$sc+rem;
                                height: 27/$sc+rem;
                                line-height: 27/$sc+rem;
                                padding-left: 20/$sc+rem;
                                background: url(../img/Housing-demand-phone.png) left center no-repeat;
                                background-size: 14/$sc+rem 15/$sc+rem;
                            }
                            .phone_ipt{
                                width: 48%;
                                height: 100%;
                                font-size: 12/$sc+rem;
                                line-height: 15/$sc+rem;
                                padding: 5/$sc+rem 5/$sc+rem;
                                border: 1px solid #D8D8D8;
                                box-sizing: border-box;
                            }
                        }
                        .additional-demand{
                            display: block;
                            width: 90%;
                            height: 100/$sc+rem;
                            padding: 7/$sc+rem;
                            line-height: 15/$sc+rem;
                            background: #F9F9F9;
                            font-size: 12/$sc+rem;
                            color: #333333;
                            resize:none;
                            border: 1px solid #E3E3E3;
                            margin: 20/$sc+rem auto 15/$sc+rem;
                            box-sizing: border-box;
                        }
                        .submit-box{
                            width: 100%;
                            .submit{
                                display: block;
                                width: 140/$sc+rem;
                                height: 25/$sc+rem;
                                line-height: 25/$sc+rem;
                                background: #FF7C00;
                                text-align: center;
                                color: #FFFFFF;
                                font-family: PingFangSC-Medium;
                                font-size: 12/$sc+rem;
                                color: #FFFFFF;
                                margin: 0 auto;
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                border-radius: 2/$sc+rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .housing-demand-Mask{
        width: 100%;
        height: 100%;
        transition: all .3s;
        background: rgba(0,0,0,.6);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
    }
    .housing-demand-Mask.show{
        z-index: 35;
        opacity: 1;
    }
    .sign-up-false{
        width: 160/$sc+rem;
        height: 100/$sc+rem;
        background: #FFFFFF;
        transition: all .3s;
        border-radius: 5/$sc+rem;
        opacity: 0;
        z-index: -1;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        i{
            display: block;
            width: 41/$sc+rem;
            height: 26/$sc+rem;
            margin: 24/$sc+rem auto 0;
            img{
                display: block;
                width: 41/$sc+rem;
                height: 26/$sc+rem;
            }
        }
        p{
            width: 100%;
            margin-top: 10/$sc+rem;
            line-height: 20/$sc+rem;
            text-align: center;
            font-size: 14/$sc+rem;
            color: #666666;
            a{
                line-height: 20/$sc+rem;
                font-size: 14/$sc+rem;
                color: #86D646;
                text-decoration: underline;
                
            }
        }
    }
    .sign-up-false.show{
        opacity: 1;
        z-index: 40;
    }
    .sign-up-success{
        width: 160/$sc+rem;
        height: 100/$sc+rem;
        background: #FFFFFF;
        transition: all .3s;
        border-radius: 5/$sc+rem;
        opacity: 0;
        z-index: -10;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        i{
            display: block;
            width: 41/$sc+rem;
            height: 26/$sc+rem;
            margin: 24/$sc+rem auto 0;
            img{
                display: block;
                width: 41/$sc+rem;
                height: 26/$sc+rem;
            }
        }
        p{
            width: 100%;
            margin-top: 10/$sc+rem;
            line-height: 20/$sc+rem;
            text-align: center;
            font-size: 14/$sc+rem;
            color: #666666;
            a{
                line-height: 20/$sc+rem;
                font-size: 14/$sc+rem;
                color: #86D646;
                text-decoration: underline;
                
            }
        }
    }
    .sign-up-success.show{
        opacity: 1;
        z-index: 40;
    }
}

.iScrollVerticalScrollbar {
    width: 4/$sc+rem!important;
    z-index: 1!important;
}

.iScrollHorizontalScrollbar {
    height: 4/$sc+rem!important;
    z-index: 1!important;
}