* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
  color: #999999;
}

::-webkit-input-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: PingFangSC-Regular;
  background: #FAFAFA;
}

input,
textarea {
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

.Information-page-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

.Information-page-container .Information-page-header {
  width: 100%;
  background: #47464b;
  box-shadow: 0 1px 0 0 #B2B2B2;
  -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
}

.Information-page-container .Information-page-header .title_bar {
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  position: relative;
}

.Information-page-container .Information-page-header .title_bar .title_txt {
  font-size: 0.85rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
}

.Information-page-container .Information-page-header .title_bar .return {
  display: block;
  height: 0.9rem;
  line-height: 0.9rem;
  padding-left: 0.8rem;
  font-size: 0.85rem;
  color: #ffffff;
  background: url(../img/return.png) no-repeat;
  background-size: 0.45rem 0.8rem;
  background-position-x: left;
  background-position-y: 0.05rem;
  position: absolute;
  top: 0.7rem;
  left: 0.4rem;
}

.Information-page-container .Information-page-header .title_bar .more {
  display: block;
  height: 1rem;
  width: 1rem;
  background: url(../img/more.png) no-repeat;
  background-size: 1rem 1rem;
  position: absolute;
  top: 0.65rem;
  right: 0.4rem;
}

.Information-page-container .Information-page-section {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  background: #fafafa;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.Information-page-container .Information-page-section .section-wrapper {
  width: 100%;
  background: #fafafa;
  padding-bottom: 0.5rem;
  position: relative;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-banner {
  width: 100%;
  height: 9.2rem;
  position: relative;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-banner .banner-ul {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-flex;
  z-index: 1 !important;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-banner .banner-ul .banner-li {
  width: 100%;
  height: 100%;
  -webkit-flex-shrink: 0;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-banner .banner-ul .banner-li img {
  width: 100%;
  height: 100%;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-banner .banner-ul .banner-li p {
  height: 1.65rem;
  line-height: 1.65rem;
  font-family: PingFangSC-Medium;
  padding: 0 0.6rem;
  font-size: 0.75rem;
  color: #FFFFFF;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-banner .swiper-pagination {
  width: 3.5rem;
  left: auto;
  right: 0;
  bottom: 0;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-banner .swiper-pagination .swiper-pagination-bullet {
  width: 0.3rem;
  height: 0.3rem;
  margin: 0 0.075rem;
  opacity: 1;
  background: #FFFFFF;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-banner .swiper-pagination .swiper-pagination-bullet-active {
  background: #FF7C00;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-banner .banner-magnifier {
  width: 1.4rem;
  height: 1.4rem;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-banner .banner-magnifier img {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-nav {
  width: 100%;
  background: #FFFFFF;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-nav .nav-ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-nav .nav-ul li {
  width: 25%;
  height: 3.25rem;
  border-bottom: 1px solid #F6F6F6;
  border-right: 1px solid #F6F6F6;
  box-sizing: border-box;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-nav .nav-ul li i {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-nav .nav-ul li i img {
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  margin: 0 auto;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-nav .nav-ul li span {
  display: block;
  margin-top: 0.4rem;
  line-height: 0.75rem;
  font-size: 0.55rem;
  text-align: center;
  color: #333333;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-nav .nav-ul li:nth-child(4n) {
  border-right: none;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-nav .nav-btn {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 0.55rem;
  color: #999999;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-content {
  width: 100%;
  background: #FFFFFF;
  margin-top: 0.5rem;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-content .content-ul {
  width: 100%;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-content .content-ul .content-li {
  width: 100%;
  padding: 0.5rem 0.6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 0 0 #e8e8e8;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-content .content-ul .content-li .content-li-left {
  width: 3.75rem;
  height: 2.5rem;
  padding-right: 0.6rem;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-content .content-ul .content-li .content-li-left img {
  width: 100%;
  height: 100%;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-content .content-ul .content-li .content-li-right {
  flex: 1;
  -webkit-flex: 1;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-content .content-ul .content-li .content-li-right .content-li-right-title {
  width: 100%;
  height: 1.6rem;
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-content .content-ul .content-li .content-li-right .content-li-right-time {
  width: 100%;
  margin-top: 0.15rem;
  height: 0.7rem;
  line-height: 0.7rem;
  font-size: 0.5rem;
  color: #999999;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-content .content-ul .content-li .content-li-right .content-li-right-time .from {
  color: #6ABB46;
}

.Information-page-container .Information-page-section .section-wrapper .Information-page-content .content-ul .content-li:last-child {
  box-shadow: none;
}

.iScrollVerticalScrollbar {
  width: 0.2rem !important;
  z-index: 1 !important;
}

.iScrollHorizontalScrollbar {
  height: 0.2rem !important;
  z-index: 1 !important;
}
