* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
  color: #999999;
}

::-webkit-input-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: PingFangSC-Regular;
  background: #FAFAFA;
}

input,
textarea {
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

.Information-details-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

.Information-details-container .Information-details-header {
  width: 100%;
  background: #47464b;
  box-shadow: 0 1px 0 0 #B2B2B2;
  -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
}

.Information-details-container .Information-details-header .title_bar {
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  position: relative;
}

.Information-details-container .Information-details-header .title_bar .title_txt {
  font-size: 0.85rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
}

.Information-details-container .Information-details-header .title_bar .return {
  display: block;
  height: 0.9rem;
  line-height: 0.9rem;
  padding-left: 0.8rem;
  font-size: 0.85rem;
  color: #ffffff;
  background: url(../img/return.png) no-repeat;
  background-size: 0.45rem 0.8rem;
  background-position-x: left;
  background-position-y: 0.05rem;
  position: absolute;
  top: 0.7rem;
  left: 0.4rem;
}

.Information-details-container .Information-details-header .title_bar .more {
  display: block;
  height: 1rem;
  width: 1rem;
  background: url(../img/more.png) no-repeat;
  background-size: 1rem 1rem;
  position: absolute;
  top: 0.65rem;
  right: 0.4rem;
}

.Information-details-container .Information-details-section {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  background: #ffffff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.Information-details-container .Information-details-section .section-wrapper {
  width: 100%;
  background: #ffffff;
  padding: 0.5rem 0.6rem;
  position: relative;
  box-sizing: border-box;
}

.Information-details-container .Information-details-section .section-wrapper .details-header {
  width: 100%;
  margin-bottom: 0.5rem;
}

.Information-details-container .Information-details-section .section-wrapper .details-header .details-header-title {
  width: 90%;
  font-family: PingFangSC-Medium;
  font-size: 0.85rem;
  color: #333333;
  line-height: 1.05rem;
}

.Information-details-container .Information-details-section .section-wrapper .details-header .details-header-info {
  width: 100%;
  height: 0.8rem;
  margin-top: 0.35rem;
}

.Information-details-container .Information-details-section .section-wrapper .details-header .details-header-info span {
  float: left;
  font-size: 0.6rem;
  line-height: 0.8rem;
  color: #999999;
}

.Information-details-container .Information-details-section .section-wrapper .details-header .details-header-info .from {
  color: #6ABB46;
}

.Information-details-container .Information-details-section .section-wrapper .details-header .details-header-info .read_num {
  margin-left: 0.45rem;
}

.Information-details-container .Information-details-section .section-wrapper .details-section {
  width: 100%;
}

.Information-details-container .Information-details-section .section-wrapper .details-section p {
  font-size: 0.65rem;
  color: #333333;
  line-height: 1rem;
  padding: 0.25rem 0;
  text-indent: 2em;
}

.Information-details-container .Information-details-section .section-wrapper .details-section .banner {
  width: 100%;
  padding: 0.25rem 0;
}

.Information-details-container .Information-details-section .section-wrapper .details-section .banner img {
  display: block;
  width: 100%;
  height: 9rem;
}

.Information-details-container .Information-details-section .section-wrapper .details-section .banner span {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.6rem;
  line-height: 0.8rem;
  text-align: center;
  color: #666666;
}

.Information-details-container .Information-details-section .section-wrapper .details-footer {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem;
  box-sizing: border-box;
}

.Information-details-container .Information-details-section .section-wrapper .details-footer .previous-article {
  width: 100%;
  font-size: 0.6rem;
  color: #3EC0F3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.Information-details-container .Information-details-section .section-wrapper .details-footer .next-article {
  width: 100%;
  margin-top: 0.75rem;
  font-size: 0.6rem;
  color: #3EC0F3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.iScrollVerticalScrollbar {
  width: 0.2rem !important;
  z-index: 1 !important;
}

.iScrollHorizontalScrollbar {
  height: 0.2rem !important;
  z-index: 1 !important;
}
