* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

::-moz-placeholder {
  color: #CCCCCC;
}

::-webkit-input-placeholder {
  color: #CCCCCC;
}

:-ms-input-placeholder {
  color: #cccccc;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: PingFangSC-Regular;
  background: #f4f4f4;
}

input[type="text"] {
  outline: none;
  border: none;
  -webkit-appearance: none;
  background: #F5F5F5;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  display: -webkit-flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.container .header {
  width: 100%;
  background: #f6f6f6;
  box-shadow: 0 1px 0 0 #CCCCCC;
  -webkit-box-shadow: 0 1px 0 0 #CCCCCC;
  z-index: 10;
}

.container .header .signal_bar {
  width: 100%;
  height: 0.8rem;
}

.container .header .title_bar {
  width: 100%;
  height: 1.76rem;
  line-height: 1.76rem;
  position: relative;
}

.container .header .title_bar .title_txt {
  font-size: 0.72rem;
  color: #394043;
  letter-spacing: 0;
  text-align: center;
  font-weight: normal;
}

.container .header .title_bar .return {
  display: block;
  height: 0.88rem;
  width: 0.88rem;
  background: url(../img/returnleft.png) no-repeat;
  background-size: 0.88rem 0.88rem;
  position: absolute;
  top: 0.44rem;
  left: 0.64rem;
}

.container .header .title_bar .Showing {
  display: block;
  height: 0.88rem;
  width: 0.88rem;
  background: url(../img/Showing.png) no-repeat;
  background-size: 0.88rem 0.88rem;
  position: absolute;
  top: 0.44rem;
  right: 0.64rem;
}

.container .section {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  background: #f4f4f4;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}

.container .section .section-map {
  height: 100%;
  width: 100%;
  background: url(../img/map.png) no-repeat;
  background-size: cover;
}

.container .section-map-list {
  width: 100%;
  transition: all .3s;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container .section-map-list .map-list-wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
}

.container .section-map-list .map-list-wrapper .map-list-btn {
  transition: all .3s;
  opacity: 1;
  z-index: 10;
  width: 100%;
  background: #FFFFFF;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container .section-map-list .map-list-wrapper .map-list-btn li {
  width: 33.33%;
  height: 1.76rem;
  float: left;
  text-align: center;
  position: relative;
}

.container .section-map-list .map-list-wrapper .map-list-btn li .btn {
  display: inline-block;
  line-height: 1.76rem;
  padding-left: 0.8rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.56rem;
  color: #394043;
}

.container .section-map-list .map-list-wrapper .map-list-btn li .num {
  display: none;
  width: 0.64rem;
  height: 0.64rem;
  line-height: 0.64rem;
  text-align: center;
  background: #0099EB;
  font-family: PingFang-SC-Medium;
  font-size: 0.4rem;
  color: #F6F6F6;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 70%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container .section-map-list .map-list-wrapper .map-list-btn li:nth-child(1) .btn {
  background: url(../img/region.png) no-repeat;
  background-size: 0.64rem 0.64rem;
  background-position: 0 0.56rem;
}

.container .section-map-list .map-list-wrapper .map-list-btn li:nth-child(2) .btn {
  background: url(../img/screen.png) no-repeat;
  background-size: 0.64rem 0.64rem;
  background-position: 0 0.56rem;
}

.container .section-map-list .map-list-wrapper .map-list-btn li:nth-child(3) .btn {
  background: url(../img/list.png) no-repeat;
  background-size: 0.64rem 0.64rem;
  background-position: 0 0.56rem;
}

.container .section-map-list .map-list-wrapper .map-list-btn.listhide {
  z-index: -10;
  opacity: 0;
  bottom: -1.76rem;
}

.container .section-map-list .map-list-wrapper .map-list-location {
  transition: all .3s;
  width: 1.6rem;
  height: 1.6rem;
  box-shadow: 0 0.08rem 0.16rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.08rem;
  position: absolute;
  bottom: 2.4rem;
  left: 0.64rem;
  background: url(../img/current-location.png) no-repeat #FFFFFF;
  background-size: 0.88rem 0.88rem;
  background-position: 0.36rem 0.36rem;
}

.container .section-map-list .map-list-wrapper .map-list-location.locationhide {
  bottom: 0.64rem;
}

.container .section-map-list .map-list-wrapper .map-list-trand {
  transition: all .3s;
  opacity: 1;
  z-index: 10;
  width: 1.6rem;
  height: 1.6rem;
  box-shadow: 0 0.08rem 0.16rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.08rem;
  position: absolute;
  bottom: 4.64rem;
  left: 0.64rem;
  background: url(../img/trand1.png) no-repeat #FFFFFF;
  background-size: 0.88rem 0.88rem;
  background-position: 0.36rem 0.36rem;
}

.container .section-map-list .map-list-wrapper .map-list-trand.trandhide {
  z-index: -10;
  opacity: 0;
  bottom: 2.88rem;
}

.container .section-map-list .map-list-wrapper .map-list-trand.click {
  background: url(../img/trand2.png) no-repeat #FFFFFF;
  background-size: 0.88rem 0.88rem;
  background-position: 0.36rem 0.36rem;
}

.container .section-map-list .map-list-wrapper .map-list-tranddata {
  transition: all .3s;
  opacity: 0;
  z-index: -10;
  width: 11.48rem;
  height: 1.6rem;
  background: #FFFFFF;
  box-shadow: 0 0.08rem 0.16rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.08rem;
  position: absolute;
  bottom: 2.4rem;
  left: 2.88rem;
  padding: 0.4rem 0.64rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container .section-map-list .map-list-wrapper .map-list-tranddata span {
  display: block;
  font-family: PingFang-SC-Medium;
  color: #0099EB;
  line-height: 0.8rem;
}

.container .section-map-list .map-list-wrapper .map-list-tranddata .regional {
  font-size: 0.56rem;
  float: left;
  margin-right: 0.2rem;
}

.container .section-map-list .map-list-wrapper .map-list-tranddata .price {
  font-size: 0.56rem;
  float: left;
}

.container .section-map-list .map-list-wrapper .map-list-tranddata .rose {
  font-size: 0.48rem;
  float: right;
}

.container .section-map-list .map-list-wrapper .map-list-tranddata.hide {
  opacity: 1;
  z-index: 10;
}

.container .section-map-list .map-list-wrapper .map-list-tranddata.tranddatahide {
  z-index: -10;
  opacity: 0;
  bottom: 0.64rem;
}

.container .section-map-peripheral {
  transition: all .3s;
  z-index: 10;
  opacity: 1;
  width: 100%;
  height: 2.24rem;
  position: absolute;
  bottom: 0;
  left: 15rem;
}

.container .section-map-peripheral .map-peripheral-wrapper {
  width: 100%;
  position: relative;
}

.container .section-map-peripheral .map-peripheral-wrapper .peripheral-ul {
  width: 100%;
  height: 2.24rem;
}

.container .section-map-peripheral .map-peripheral-wrapper .peripheral-ul .peripheral-li {
  background: #FFFFFF;
  width: 20%;
  height: 2.24rem;
  float: left;
}

.container .section-map-peripheral .map-peripheral-wrapper .peripheral-ul .peripheral-li i {
  display: block;
  margin: 0.48rem auto 0;
  width: 0.72rem;
  height: 0.72rem;
  background: url(../img/icon.png);
  background-size: 4rem 2.4rem;
}

.container .section-map-peripheral .map-peripheral-wrapper .peripheral-ul .peripheral-li span {
  display: block;
  margin-top: 0.16rem;
  line-height: 0.64rem;
  font-family: PingFang-SC-Medium;
  font-size: 0.48rem;
  color: #6C7072;
  text-align: center;
}

.container .section-map-peripheral .map-peripheral-wrapper .peripheral-ul .peripheral-li:nth-child(1) i {
  background-position-x: -0.04rem;
  background-position-y: -0.04rem;
}

.container .section-map-peripheral .map-peripheral-wrapper .peripheral-ul .peripheral-li:nth-child(2) i {
  background-position-x: -0.84rem;
  background-position-y: -0.04rem;
}

.container .section-map-peripheral .map-peripheral-wrapper .peripheral-ul .peripheral-li:nth-child(3) i {
  background-position-x: -1.64rem;
  background-position-y: -0.04rem;
}

.container .section-map-peripheral .map-peripheral-wrapper .peripheral-ul .peripheral-li:nth-child(4) i {
  background-position-x: -2.44rem;
  background-position-y: -0.04rem;
}

.container .section-map-peripheral .map-peripheral-wrapper .peripheral-ul .peripheral-li:nth-child(5) i {
  background-position-x: -3.24rem;
  background-position-y: -0.04rem;
}

.container .section-map-peripheral .map-peripheral-wrapper .peripheral-ul .peripheral-li.on i {
  background-position-y: -1.64rem;
}

.container .section-map-peripheral .map-peripheral-wrapper .peripheral-ul .peripheral-li.on span {
  color: #00A9EB;
}

.container .section-map-peripheral .map-peripheral-wrapper .peripheral-return {
  transition: all .3s;
  width: 0.8rem;
  height: 0.8rem;
  opacity: 0;
  background: url(../img/turnleft.png);
  background-size: 0.8rem 0.8rem;
  position: absolute;
  bottom: 2.56rem;
  left: 0.32rem;
}

.container .section-map-peripheral.peripheralhide {
  z-index: 1;
  opacity: 0;
  bottom: -2.24rem;
}

.screen-push {
  width: 100%;
  height: 100%;
  transition: all .3s;
  overflow: hidden;
  z-index: 30;
  position: fixed;
  left: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.screen-push .screen-push-header {
  width: 100%;
  background: #f6f6f6;
  box-shadow: 0 1px 0 0 #CCCCCC;
  -webkit-box-shadow: 0 1px 0 0 #CCCCCC;
  z-index: 10;
}

.screen-push .screen-push-header .signal_bar {
  width: 100%;
  height: 0.8rem;
}

.screen-push .screen-push-header .title_bar {
  width: 100%;
  height: 1.76rem;
  line-height: 1.76rem;
  position: relative;
}

.screen-push .screen-push-header .title_bar .title_txt {
  font-size: 0.72rem;
  color: #394043;
  letter-spacing: 0;
  text-align: center;
  font-weight: normal;
}

.screen-push .screen-push-header .title_bar .return {
  display: block;
  height: 0.88rem;
  width: 0.88rem;
  background: url(../img/returnleft.png) no-repeat;
  background-size: 0.88rem 0.88rem;
  position: absolute;
  top: 0.44rem;
  left: 0.64rem;
}

.screen-push .screen-push-section {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  background: #FFFFFF;
  position: relative;
}

.screen-push .screen-push-section .screen-push-section-wrapper {
  padding: 0.32rem 0.6rem 1.84rem 0.64rem;
  padding-bottom: 1.84rem;
}

.screen-push .screen-push-section .screen-push-section-wrapper .average-price {
  margin-bottom: 0.64rem;
}

.screen-push .screen-push-section .screen-push-section-wrapper .average-price .average-price-title {
  height: 2.16rem;
  line-height: 0.88rem;
  padding: 0.64rem 0;
  font-size: 0.64rem;
  color: #394043;
  letter-spacing: 0.0428rem;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.screen-push .screen-push-section .screen-push-section-wrapper .average-price .average-price-num .select {
  display: block;
  float: left;
  margin-right: 0.64rem;
  background: #F0F0F0;
  border-radius: 0.08rem;
  width: 2.96rem;
  height: 1.44rem;
  line-height: 1.44rem;
  text-align: center;
  font-size: 0.48rem;
  color: #999999;
  letter-spacing: 0.032rem;
  border: 0.04rem solid #F0F0F0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.screen-push .screen-push-section .screen-push-section-wrapper .average-price .average-price-num .select.selected {
  background: #ECF4F9;
  color: #0099eb;
  border: 0.04rem solid #0099eb;
}

.screen-push .screen-push-section .screen-push-section-wrapper .average-price .average-price-num .none {
  margin-right: 0;
}

.screen-push .screen-push-section .screen-push-section-wrapper .average-price .average-price-input {
  margin-top: 0.96rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.screen-push .screen-push-section .screen-push-section-wrapper .average-price .average-price-input input {
  border: none;
  outline: none;
  background: #F0F0F0;
  border-radius: 0.08rem;
  width: 6.52rem;
  height: 1.44rem;
  line-height: 0.56rem;
  padding: 0.4rem 0.32rem;
  font-size: 0.48rem;
  color: #999999;
  letter-spacing: 0.032rem;
  border: 0.04rem solid #F0F0F0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.screen-push .screen-push-section .screen-push-section-wrapper .average-price .average-price-input span {
  display: block;
  width: 0.32rem;
  height: 0.72rem;
  border-bottom: 0.04rem solid #d8d8d8;
}

.screen-push .screen-push-section .screen-push-section-wrapper .house-style {
  margin: 0.32rem 0 0.64rem 0;
}

.screen-push .screen-push-section .screen-push-section-wrapper .house-style .house-style-title {
  height: 2.16rem;
  line-height: 0.88rem;
  padding: 0.64rem 0;
  font-size: 0.64rem;
  color: #394043;
  letter-spacing: 0.0428rem;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.screen-push .screen-push-section .screen-push-section-wrapper .house-style .house-style-content .select {
  display: block;
  float: left;
  background: #F0F0F0;
  border-radius: 0.08rem;
  width: 2.96rem;
  height: 1.44rem;
  margin-right: 0.64rem;
  line-height: 1.44rem;
  text-align: center;
  font-size: 0.48rem;
  color: #999999;
  letter-spacing: 0.032rem;
  border: 0.04rem solid #F0F0F0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.screen-push .screen-push-section .screen-push-section-wrapper .house-style .house-style-content .select.selected {
  background: #ECF4F9;
  color: #0099eb;
  border: 0.04rem solid #0099eb;
}

.screen-push .screen-push-section .screen-push-section-wrapper .house-style .house-style-content span:nth-child(4) {
  margin-right: 0;
}

.screen-push .screen-push-section .screen-push-section-wrapper .house-style .house-style-content span:nth-child(5) {
  margin-top: 0.64rem;
}

.screen-push .screen-push-section .screen-push-section-wrapper .house-style .house-style-content span:nth-child(6) {
  margin-top: 0.64rem;
}

.screen-push .screen-push-section .screen-push-section-wrapper .open-time {
  margin: 0.32rem 0 0.64rem 0;
}

.screen-push .screen-push-section .screen-push-section-wrapper .open-time .open-time-title {
  height: 2.16rem;
  line-height: 0.88rem;
  padding: 0.64rem 0;
  font-size: 0.64rem;
  color: #394043;
  letter-spacing: 0.0428rem;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.screen-push .screen-push-section .screen-push-section-wrapper .open-time .open-time-content .select {
  display: block;
  float: left;
  background: #F0F0F0;
  border-radius: 0.08rem;
  width: 4.16rem;
  height: 1.44rem;
  margin-right: 0.64rem;
  line-height: 1.44rem;
  text-align: center;
  font-size: 0.48rem;
  color: #999999;
  letter-spacing: 0.032rem;
  border: 0.04rem solid #F0F0F0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.screen-push .screen-push-section .screen-push-section-wrapper .open-time .open-time-content .select.selected {
  background: #ECF4F9;
  color: #0099eb;
  border: 0.04rem solid #0099eb;
}

.screen-push .screen-push-section .screen-push-section-wrapper .open-time .open-time-content span:nth-child(3n) {
  margin-right: 0;
}

.screen-push .screen-push-section .screen-push-section-wrapper .open-time .open-time-content span:nth-child(n+4) {
  margin-top: 0.64rem;
}

.screen-push .screen-push-section .screen-push-section-wrapper .characteristic {
  margin: 0.32rem 0 0 0;
}

.screen-push .screen-push-section .screen-push-section-wrapper .characteristic .characteristic-title {
  height: 2.16rem;
  line-height: 0.88rem;
  padding: 0.64rem 0;
  font-size: 0.64rem;
  color: #394043;
  letter-spacing: 0.0428rem;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.screen-push .screen-push-section .screen-push-section-wrapper .characteristic .characteristic-content .select {
  display: block;
  float: left;
  background: #F0F0F0;
  border-radius: 0.08rem;
  width: 2.96rem;
  height: 1.44rem;
  margin-right: 0.64rem;
  line-height: 1.44rem;
  text-align: center;
  font-size: 0.48rem;
  color: #999999;
  letter-spacing: 0.032rem;
  border: 0.04rem solid #F0F0F0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.screen-push .screen-push-section .screen-push-section-wrapper .characteristic .characteristic-content .select.selected {
  background: #ECF4F9;
  color: #0099eb;
  border: 0.04rem solid #0099eb;
}

.screen-push .screen-push-section .screen-push-section-wrapper .characteristic .characteristic-content span:nth-child(4n) {
  margin-right: 0;
}

.screen-push .screen-push-section .screen-push-section-wrapper .characteristic .characteristic-content span:nth-child(n+5) {
  margin-top: 0.64rem;
}

.screen-push .screen-push-footer {
  width: 100%;
  height: 2.24rem;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: inset 0 0.04rem 0 0 #CCCCCC;
  -webkit-box-shadow: inset 0 0.04rem 0 0 #CCCCCC;
}

.screen-push .screen-push-footer span {
  display: block;
  float: left;
  width: 6.56rem;
  height: 1.44rem;
  margin-top: 0.4rem;
  line-height: 1.44rem;
  text-align: center;
  background: #E6F7FF;
  border-radius: 0.08rem;
  font-size: 0.56rem;
  margin-left: 0.64rem;
}

.screen-push .screen-push-footer .empty {
  background: #E6F7FF;
  color: #59A7D1;
}

.screen-push .screen-push-footer .determine {
  background: #0099EB;
  color: #FFFFFF;
}

.region-push {
  width: 100%;
  height: 100%;
  transition: all .3s;
  z-index: 30;
  overflow: hidden;
  position: fixed;
  left: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.region-push .region-push-header {
  width: 100%;
  background: #f6f6f6;
  box-shadow: 0 1px 0 0 #CCCCCC;
  -webkit-box-shadow: 0 1px 0 0 #CCCCCC;
  z-index: 1;
}

.region-push .region-push-header .signal_bar {
  width: 100%;
  height: 0.8rem;
}

.region-push .region-push-header .title_bar {
  width: 100%;
  height: 1.76rem;
  line-height: 1.76rem;
  position: relative;
}

.region-push .region-push-header .title_bar .title_txt {
  font-size: 0.72rem;
  color: #394043;
  letter-spacing: 0;
  text-align: center;
  font-weight: normal;
}

.region-push .region-push-header .title_bar .return {
  display: block;
  height: 0.88rem;
  width: 0.88rem;
  background: url(../img/returnleft.png) no-repeat;
  background-size: 0.88rem 0.88rem;
  position: absolute;
  top: 0.44rem;
  left: 0.64rem;
}

.region-push .region-push-section {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  background: #FFFFFF;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}

.region-push .region-push-section .region-push-section-wrapper {
  height: 100%;
}

.region-push .region-push-section .region-push-section-wrapper div {
  height: 100%;
  float: left;
  padding-left: 0.64rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.region-push .region-push-section .region-push-section-wrapper .regionlist {
  width: 29%;
  background: #FFFFFF;
}

.region-push .region-push-section .region-push-section-wrapper .regionlist .regionlist-ul .regionlist-li {
  width: 100%;
  height: 1.92rem;
  line-height: 1.92rem;
  font-size: 0.56rem;
  color: #6C7072;
  box-shadow: inset 0 -1px 0 0 #EEEEEE;
}

.region-push .region-push-section .region-push-section-wrapper .regionlist .regionlist-ul .regionlist-li.confirmone {
  color: #0099EB;
}

.region-push .region-push-section .region-push-section-wrapper .municipality {
  width: 33%;
  background: #F6F6F6;
}

.region-push .region-push-section .region-push-section-wrapper .municipality .municipality-ul .municipality-li {
  width: 100%;
  height: 1.92rem;
  line-height: 1.92rem;
  font-size: 0.56rem;
  color: #6C7072;
  box-shadow: inset 0 -1px 0 0 #EEEEEE;
}

.region-push .region-push-section .region-push-section-wrapper .municipality .municipality-ul .municipality-li.confirmtwo {
  color: #0099EB;
}

.region-push .region-push-section .region-push-section-wrapper .district {
  width: 38%;
  background: #ECF4F9;
}

.region-push .region-push-section .region-push-section-wrapper .district .district-ul .district-li {
  width: 100%;
  height: 1.92rem;
  line-height: 1.92rem;
  font-size: 0.56rem;
  color: #6C7072;
  box-shadow: inset 0 -1px 0 0 #EEEEEE;
}

.region-push .region-push-section .region-push-section-wrapper .district .district-ul .district-li .check {
  display: block;
  float: right;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.68rem 0.64rem 0 0;
  background: #ECF4F9;
  border: 0.04rem solid #CCCCCC;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.region-push .region-push-section .region-push-section-wrapper .district .district-ul .district-li.confirmthree {
  color: #0099EB;
}

.region-push .region-push-section .region-push-section-wrapper .district .district-ul .district-li.confirmthree .check {
  background: url(../img/select.png);
  background-size: 0.6rem 0.6rem;
  border: none;
}

.region-push .region-push-footer {
  width: 100%;
  height: 2.24rem;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: inset 0 0.04rem 0 0 #CCCCCC;
  -webkit-box-shadow: inset 0 0.04rem 0 0 #CCCCCC;
}

.region-push .region-push-footer span {
  display: block;
  float: left;
  width: 6.56rem;
  height: 1.44rem;
  margin-top: 0.4rem;
  line-height: 1.44rem;
  text-align: center;
  background: #E6F7FF;
  border-radius: 0.08rem;
  font-size: 0.56rem;
  margin-left: 0.64rem;
}

.region-push .region-push-footer .empty {
  background: #E6F7FF;
  color: #59A7D1;
}

.region-push .region-push-footer .determine {
  background: #0099EB;
  color: #FFFFFF;
}
