* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

::-moz-placeholder {
    color: #CCCCCC;
}

::-webkit-input-placeholder {
    color: #CCCCCC;
}

:-ms-input-placeholder {
    color: #cccccc;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #f4f4f4;
}

input{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

li {
    list-style: none;
}

$sc:25;
.container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    display: -webkit-flex;
    flex-direction: column;
    background-color: #f4f4f4;
    //-----------------头    部----------------------
    .header {
        width: 100%;
        background: #f6f6f6;
        box-shadow: 0 1px 0 0 #CCCCCC;
        -webkit-box-shadow: 0 1px 0 0 #CCCCCC;
        z-index: 10;
        .signal_bar {
            width: 100%;
            height: 20/$sc+rem;
        }
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 18/$sc+rem;
                color: #394043;
                letter-spacing: 0;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 22/$sc+rem;
                width: 22/$sc+rem;
                background: url(../img/returnleft.png) no-repeat;
                background-size: 22/$sc+rem 22/$sc+rem;
                position: absolute;
                top: 11/$sc+rem;
                left: 16/$sc+rem;
            }
            .Showing {
                display: block;
                height: 22/$sc+rem;
                width: 22/$sc+rem;
                background: url(../img/Showing.png) no-repeat;
                background-size: 22/$sc+rem 22/$sc+rem;
                position: absolute;
                top: 11/$sc+rem;
                right: 16/$sc+rem;
            }
        }
    }
    //-----------------b o d y----------------------
    .section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #f4f4f4;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        .section-map {
            height: 100%;
            width: 100%;
            background: url(../img/map.png) no-repeat;
            background-size: cover;
        }
    }
    .section-map-list {
        width: 100%;
        transition: all .3s;
        opacity: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        .map-list-wrapper {
            width: 100%;
            position: relative;
            z-index: 1;
            .map-list-btn {
                transition: all .3s;
                opacity: 1;
                z-index: 10;
                width: 100%;
                background: #FFFFFF;
                overflow: hidden;
                position: absolute;
                bottom: 0;
                left: 0;
                li {
                    width: 33.33%;
                    height: 44/$sc+rem;
                    float: left;
                    text-align: center;
                    position: relative;
                    .btn {
                        display: inline-block;
                        line-height: 44/$sc+rem;
                        padding-left: 20/$sc+rem;
                        font-family: PingFang-SC-Medium;
                        font-size: 14/$sc+rem;
                        color: #394043;
                    }
                    .num {
                        display: none;
                        width: 16/$sc+rem;
                        height: 16/$sc+rem;
                        line-height: 16/$sc+rem;
                        text-align: center;
                        background: #0099EB;
                        font-family: PingFang-SC-Medium;
                        font-size: 10/$sc+rem;
                        color: #F6F6F6;
                        border-radius: 50%;
                        position: absolute;
                        top: 10%;
                        left: 70%;
                        padding-right: 1/$sc+rem;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                    }
                }
                li:nth-child(1) {
                    .btn {
                        background: url(../img/region.png) no-repeat;
                        background-size: 16/$sc+rem 16/$sc+rem;
                        background-position: 0 14/$sc+rem;
                    }
                }
                li:nth-child(2) {
                    .btn {
                        background: url(../img/screen.png) no-repeat;
                        background-size: 16/$sc+rem 16/$sc+rem;
                        background-position: 0 14/$sc+rem;
                    }
                }
                li:nth-child(3) {
                    .btn {
                        background: url(../img/list.png) no-repeat;
                        background-size: 16/$sc+rem 16/$sc+rem;
                        background-position: 0 14/$sc+rem;
                    }
                }
            }
            .map-list-btn.listhide {
                z-index: -10;
                opacity: 0;
                bottom: -44/$sc+rem;
            }
            .map-list-location {
                transition: all .3s;
                width: 40/$sc+rem;
                height: 40/$sc+rem;
                box-shadow: 0 2/$sc+rem 4/$sc+rem 0 rgba(0, 0, 0, 0.30);
                border-radius: 2/$sc+rem;
                position: absolute;
                bottom: 60/$sc+rem;
                left: 16/$sc+rem;
                background: url(../img/current-location.png) no-repeat #FFFFFF;
                background-size: 22/$sc+rem 22/$sc+rem;
                background-position: 9/$sc+rem 9/$sc+rem;
            }
            .map-list-location.locationhide {
                bottom: 16/$sc+rem;
            }
            .map-list-trand {
                transition: all .3s;
                opacity: 1;
                z-index: 10;
                width: 40/$sc+rem;
                height: 40/$sc+rem;
                box-shadow: 0 2/$sc+rem 4/$sc+rem 0 rgba(0, 0, 0, 0.30);
                border-radius: 2/$sc+rem;
                position: absolute;
                bottom: 116/$sc+rem;
                left: 16/$sc+rem;
                background: url(../img/trand1.png) no-repeat #FFFFFF;
                background-size: 22/$sc+rem 22/$sc+rem;
                background-position: 9/$sc+rem 9/$sc+rem;
            }
            .map-list-trand.trandhide {
                z-index: -10;
                opacity: 0;
                bottom: 72/$sc+rem;
            }
            .map-list-trand.click {
                background: url(../img/trand2.png) no-repeat #FFFFFF;
                background-size: 22/$sc+rem 22/$sc+rem;
                background-position: 9/$sc+rem 9/$sc+rem;
            }
            .map-list-tranddata {
                transition: all .3s;
                opacity: 0;
                z-index: -10;
                width: 287/$sc+rem;
                height: 40/$sc+rem;
                background: #FFFFFF;
                box-shadow: 0 2/$sc+rem 4/$sc+rem 0 rgba(0, 0, 0, 0.30);
                border-radius: 2/$sc+rem;
                position: absolute;
                bottom: 60/$sc+rem;
                left: 72/$sc+rem;
                padding: 10/$sc+rem 16/$sc+rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                span {
                    display: block;
                    font-family: PingFang-SC-Medium;
                    color: #0099EB;
                    line-height: 20/$sc+rem;
                }
                .regional {
                    font-size: 14/$sc+rem;
                    float: left;
                    margin-right: 5/$sc+rem;
                }
                .price {
                    font-size: 14/$sc+rem;
                    float: left;
                }
                .rose {
                    font-size: 12/$sc+rem;
                    float: right;
                }
            }
            .map-list-tranddata.hide {
                opacity: 1;
                z-index: 10;
            }
            .map-list-tranddata.tranddatahide {
                z-index: -10;
                opacity: 0;
                bottom: 16/$sc+rem;
            }
        }
    }
    .section-map-peripheral {
        transition: all .3s;
        z-index: 10;
        opacity: 1;
        width: 100%;
        height: 56/$sc+rem;
        position: absolute;
        bottom: 0;
        left: 375/$sc+rem;
        .map-peripheral-wrapper {
            width: 100%;
            position: relative;
            .peripheral-ul {
                width: 100%;
                height: 56/$sc+rem;
                .peripheral-li {
                    background: #FFFFFF;
                    width: 20%;
                    height: 56/$sc+rem;
                    float: left;
                    i {
                        display: block;
                        margin: 12/$sc+rem auto 0;
                        width: 18/$sc+rem;
                        height: 18/$sc+rem;
                        background: url(../img/icon.png);
                        background-size: 100/$sc+rem 60/$sc+rem;
                    }
                    span {
                        display: block;
                        margin-top: 4/$sc+rem;
                        line-height: 16/$sc+rem;
                        font-family: PingFang-SC-Medium;
                        font-size: 12/$sc+rem;
                        color: #6C7072;
                        text-align: center;
                    }
                }
                .peripheral-li:nth-child(1) {
                    i {
                        background-position-x: -1/$sc+rem;
                        background-position-y: -1/$sc+rem;
                    }
                }
                .peripheral-li:nth-child(2) {
                    i {
                        background-position-x: -21/$sc+rem;
                        background-position-y: -1/$sc+rem;
                    }
                }
                .peripheral-li:nth-child(3) {
                    i {
                        background-position-x: -41/$sc+rem;
                        background-position-y: -1/$sc+rem;
                    }
                }
                .peripheral-li:nth-child(4) {
                    i {
                        background-position-x: -61/$sc+rem;
                        background-position-y: -1/$sc+rem;
                    }
                }
                .peripheral-li:nth-child(5) {
                    i {
                        background-position-x: -81/$sc+rem;
                        background-position-y: -1/$sc+rem;
                    }
                }
                .peripheral-li.on {
                    i {
                        background-position-y: -41/$sc+rem;
                    }
                    span {
                        color: #00A9EB;
                    }
                }
            }
            .peripheral-return {
                transition: all .3s;
                width: 20/$sc+rem;
                height: 20/$sc+rem;
                opacity: 0;
                background: url(../img/turnleft.png);
                background-size: 20/$sc+rem 20/$sc+rem;
                position: absolute;
                bottom: 64/$sc+rem;
                left: 8/$sc+rem;
            }
        }
    }
    .section-map-peripheral.peripheralhide {
        z-index: 1;
        opacity: 0;
        bottom: -56/$sc+rem;
    }
}

.screen-push {
    width: 100%;
    height: 100%;
    transition: all .3s;
    overflow: hidden;
    z-index: 30;
    position: fixed;
    left: 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    .screen-push-header {
        width: 100%;
        background: #f6f6f6;
        box-shadow: 0 1px 0 0 #CCCCCC;
        -webkit-box-shadow: 0 1px 0 0 #CCCCCC;
        z-index: 10;
        .signal_bar {
            width: 100%;
            height: 20/$sc+rem;
        }
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 18/$sc+rem;
                color: #394043;
                letter-spacing: 0;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 22/$sc+rem;
                width: 22/$sc+rem;
                background: url(../img/returnleft.png) no-repeat;
                background-size: 22/$sc+rem 22/$sc+rem;
                position: absolute;
                top: 11/$sc+rem;
                left: 16/$sc+rem;
            }
        }
    }
    .screen-push-section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #FFFFFF;
        position: relative;
        .screen-push-section-wrapper {
            padding: 8/$sc+rem 15/$sc+rem 46/$sc+rem 16/$sc+rem;
            padding-bottom: 46/$sc+rem;
            .average-price {
                margin-bottom: 16/$sc+rem;
                .average-price-title {
                    height: 54/$sc+rem;
                    line-height: 22/$sc+rem;
                    padding: 16/$sc+rem 0;
                    font-size: 16/$sc+rem;
                    color: #394043;
                    letter-spacing: 1.07/$sc+rem;
                    font-weight: normal;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
                .average-price-num {
                    .select {
                        display: block;
                        float: left;
                        margin-right: 16/$sc+rem;
                        background: #F0F0F0;
                        border-radius: 2/$sc+rem;
                        width: 74/$sc+rem;
                        height: 36/$sc+rem;
                        line-height: 36/$sc+rem;
                        text-align: center;
                        font-size: 12/$sc+rem;
                        color: #999999;
                        letter-spacing: 0.8/$sc+rem;
                        border: 1/$sc+rem solid #F0F0F0;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                    }
                    .select.selected {
                        background: #ECF4F9;
                        color: #0099eb;
                        border: 1/$sc+rem solid #0099eb;
                    }
                    .none {
                        margin-right: 0;
                    }
                }
                .average-price-input {
                    margin-top: 24/$sc+rem;
                    display: flex;
                    display: -webkit-flex;
                    justify-content: space-between;
                    input {
                        border: none;
                        outline: none;
                        background: #F0F0F0;
                        border-radius: 2/$sc+rem;
                        width: 163/$sc+rem;
                        height: 36/$sc+rem;
                        padding: 10/$sc+rem 8/$sc+rem;
                        font-size: 12/$sc+rem;
                        color: #999999;
                        letter-spacing: 0.8/$sc+rem;
                        border: 1/$sc+rem solid #F0F0F0;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                    }
                    span {
                        display: block;
                        width: 8/$sc+rem;
                        height: 18/$sc+rem;
                        border-bottom: 1/$sc+rem solid #d8d8d8;
                    }
                }
            }
            .house-style {
                margin: 8/$sc+rem 0 16/$sc+rem 0;
                .house-style-title {
                    height: 54/$sc+rem;
                    line-height: 22/$sc+rem;
                    padding: 16/$sc+rem 0;
                    font-size: 16/$sc+rem;
                    color: #394043;
                    letter-spacing: 1.07/$sc+rem;
                    font-weight: normal;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
                .house-style-content {
                    .select {
                        display: block;
                        float: left;
                        background: #F0F0F0;
                        border-radius: 2/$sc+rem;
                        width: 74/$sc+rem;
                        height: 36/$sc+rem;
                        margin-right: 16/$sc+rem;
                        line-height: 36/$sc+rem;
                        text-align: center;
                        font-size: 12/$sc+rem;
                        color: #999999;
                        letter-spacing: 0.8/$sc+rem;
                        border: 1/$sc+rem solid #F0F0F0;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                    }
                    .select.selected {
                        background: #ECF4F9;
                        color: #0099eb;
                        border: 1/$sc+rem solid #0099eb;
                    }
                    span:nth-child(4) {
                        margin-right: 0;
                    }
                    span:nth-child(5) {
                        margin-top: 16/$sc+rem;
                    }
                    span:nth-child(6) {
                        margin-top: 16/$sc+rem;
                    }
                }
            }
            .open-time {
                margin: 8/$sc+rem 0 16/$sc+rem 0;
                .open-time-title {
                    height: 54/$sc+rem;
                    line-height: 22/$sc+rem;
                    padding: 16/$sc+rem 0;
                    font-size: 16/$sc+rem;
                    color: #394043;
                    letter-spacing: 1.07/$sc+rem;
                    font-weight: normal;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
                .open-time-content {
                    .select {
                        display: block;
                        float: left;
                        background: #F0F0F0;
                        border-radius: 2/$sc+rem;
                        width: 104/$sc+rem;
                        height: 36/$sc+rem;
                        margin-right: 16/$sc+rem;
                        line-height: 36/$sc+rem;
                        text-align: center;
                        font-size: 12/$sc+rem;
                        color: #999999;
                        letter-spacing: 0.8/$sc+rem;
                        border: 1/$sc+rem solid #F0F0F0;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                    }
                    .select.selected {
                        background: #ECF4F9;
                        color: #0099eb;
                        border: 1/$sc+rem solid #0099eb;
                    }
                    span:nth-child(3n) {
                        margin-right: 0;
                    }
                    span:nth-child(n+4) {
                        margin-top: 16/$sc+rem;
                    }
                }
            }
            .characteristic {
                margin: 8/$sc+rem 0 0 0;
                .characteristic-title {
                    height: 54/$sc+rem;
                    line-height: 22/$sc+rem;
                    padding: 16/$sc+rem 0;
                    font-size: 16/$sc+rem;
                    color: #394043;
                    letter-spacing: 1.07/$sc+rem;
                    font-weight: normal;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
                .characteristic-content {
                    .select {
                        display: block;
                        float: left;
                        background: #F0F0F0;
                        border-radius: 2/$sc+rem;
                        width: 74/$sc+rem;
                        height: 36/$sc+rem;
                        margin-right: 16/$sc+rem;
                        line-height: 36/$sc+rem;
                        text-align: center;
                        font-size: 12/$sc+rem;
                        color: #999999;
                        letter-spacing: 0.8/$sc+rem;
                        border: 1/$sc+rem solid #F0F0F0;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                    }
                    .select.selected {
                        background: #ECF4F9;
                        color: #0099eb;
                        border: 1/$sc+rem solid #0099eb;
                    }
                    span:nth-child(4n) {
                        margin-right: 0;
                    }
                    span:nth-child(n+5) {
                        margin-top: 16/$sc+rem;
                    }
                }
            }
        }
    }
    .screen-push-footer {
        width: 100%;
        height: 56/$sc+rem;
        z-index: 1;
        background: #FFFFFF;
        box-shadow: inset 0 1/$sc+rem 0 0 #CCCCCC;
        -webkit-box-shadow: inset 0 1/$sc+rem 0 0 #CCCCCC;
        span {
            display: block;
            float: left;
            width: 164/$sc+rem;
            height: 36/$sc+rem;
            margin-top: 10/$sc+rem;
            line-height: 36/$sc+rem;
            text-align: center;
            background: #E6F7FF;
            border-radius: 2/$sc+rem;
            font-size: 14/$sc+rem;
            margin-left: 16/$sc+rem;
        }
        .empty {
            background: #E6F7FF;
            color: #59A7D1;
        }
        .determine {
            background: #0099EB;
            color: #FFFFFF;
        }
    }
}

.region-push {
    width: 100%;
    height: 100%;
    transition: all .3s;
    z-index: 30;
    overflow: hidden;
    position: fixed;
    left: 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    .region-push-header {
        width: 100%;
        background: #f6f6f6;
        box-shadow: 0 1px 0 0 #CCCCCC;
        -webkit-box-shadow: 0 1px 0 0 #CCCCCC;
        z-index: 1;
        .signal_bar {
            width: 100%;
            height: 20/$sc+rem;
        }
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 18/$sc+rem;
                color: #394043;
                letter-spacing: 0;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 22/$sc+rem;
                width: 22/$sc+rem;
                background: url(../img/returnleft.png) no-repeat;
                background-size: 22/$sc+rem 22/$sc+rem;
                position: absolute;
                top: 11/$sc+rem;
                left: 16/$sc+rem;
            }
        }
    }
    .region-push-section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #FFFFFF;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: relative;
        .region-push-section-wrapper {
            height: 100%;
            div {
                height: 100%;
                float: left;
                padding-left: 16/$sc+rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }
            .regionlist {
                width: 29%;
                background: #FFFFFF;
                .regionlist-ul {
                    .regionlist-li {
                        width: 100%;
                        height: 48/$sc+rem;
                        line-height: 48/$sc+rem;
                        font-size: 14/$sc+rem;
                        color: #6C7072;
                        box-shadow: inset 0 -1px 0 0 #EEEEEE;
                    }
                    .regionlist-li.confirmone {
                        color: #0099EB;
                    }
                }
            }
            .municipality {
                width: 33%;
                background: #F6F6F6;
                .municipality-ul {
                    .municipality-li {
                        width: 100%;
                        height: 48/$sc+rem;
                        line-height: 48/$sc+rem;
                        font-size: 14/$sc+rem;
                        color: #6C7072;
                        box-shadow: inset 0 -1px 0 0 #EEEEEE;
                    }
                    .municipality-li.confirmtwo {
                        color: #0099EB;
                    }
                }
            }
            .district {
                width: 38%;
                background: #ECF4F9;
                .district-ul {
                    .district-li {
                        width: 100%;
                        height: 48/$sc+rem;
                        line-height: 48/$sc+rem;
                        font-size: 14/$sc+rem;
                        color: #6C7072;
                        box-shadow: inset 0 -1px 0 0 #EEEEEE;
                        .check {
                            display: block;
                            float: right;
                            width: 15/$sc+rem;
                            height: 15/$sc+rem;
                            margin: 17/$sc+rem 16/$sc+rem 0 0;
                            background: #ECF4F9;
                            border: 1/$sc+rem solid #CCCCCC;
                            box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                        }
                    }
                    .district-li.confirmthree {
                        color: #0099EB;
                        .check {
                            background: url(../img/select.png);
                            background-size: 15/$sc+rem 15/$sc+rem;
                            border: none;
                        }
                    }
                }
            }
        }
    }
    .region-push-footer {
        width: 100%;
        height: 56/$sc+rem;
        z-index: 1;
        background: #FFFFFF;
        box-shadow: inset 0 1/$sc+rem 0 0 #CCCCCC;
        -webkit-box-shadow: inset 0 1/$sc+rem 0 0 #CCCCCC;
        span {
            display: block;
            float: left;
            width: 164/$sc+rem;
            height: 36/$sc+rem;
            margin-top: 10/$sc+rem;
            line-height: 36/$sc+rem;
            text-align: center;
            background: #E6F7FF;
            border-radius: 2/$sc+rem;
            font-size: 14/$sc+rem;
            margin-left: 16/$sc+rem;
        }
        .empty {
            background: #E6F7FF;
            color: #59A7D1;
        }
        .determine {
            background: #0099EB;
            color: #FFFFFF;
        }
    }
}