* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
  color: #999999;
}

::-webkit-input-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: PingFangSC-Regular;
  background: #FAFAFA;
}

input,
textarea {
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

.property-list-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
}

.property-list-container .property-list-header {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.property-list-container .property-list-header .title_bar {
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  position: relative;
}

.property-list-container .property-list-header .title_bar .title_txt {
  font-size: 0.85rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
}

.property-list-container .property-list-header .title_bar .return {
  display: block;
  height: 2.2rem;
  width: 2.2rem;
  background: url(../img/leftt.png) center center no-repeat;
  background-size: 0.8rem 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
}

.property-list-container .property-list-header .title_bar .more {
  display: block;
  height: 2.2rem;
  width: 2.2rem;
  background: url(../img/more.png) center center no-repeat;
  background-size: 1rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.property-list-container .property-list-section {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  background: #F6F6F6;
  position: relative;
}

.property-list-container .property-list-section .section-wrapper {
  width: 100%;
  padding: 0.5rem 0.5rem 1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.property-list-container .property-list-section .section-wrapper .property-list-details {
  width: 100%;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li {
  width: 100%;
  overflow: hidden;
  margin-top: 0.75rem;
  background: #FFFFFF;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 0.3rem;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-banner {
  width: 100%;
  height: 9rem;
  position: relative;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-banner img {
  width: 100%;
  height: 100%;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-banner .tags {
  width: 2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  background: #FF4444;
  text-align: center;
  font-size: 0.5rem;
  color: #FFFFFF;
  border-radius: 0 0.15rem 0.15rem 0;
  position: absolute;
  top: 0.8rem;
  left: 0;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-banner .txt {
  width: 100%;
  height: 0.75rem;
  line-height: 0.75rem;
  padding-left: 1.1rem;
  padding-right: 0.4rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 0.55rem;
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  bottom: 0.15rem;
  left: 0;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-info {
  width: 100%;
  position: relative;
  padding: 0.4rem 0.5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-info .title {
  font-size: 0.7rem;
  color: #4A4A4A;
  font-weight: normal;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-info .info-ul {
  width: 100%;
  margin-top: 0.1rem;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-info .info-ul li {
  width: 100%;
  margin-top: 0.2rem;
  line-height: 0.6rem;
  padding-left: 0.7rem;
  font-size: 0.5rem;
  color: #999999;
  box-sizing: border-box;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-info .info-ul li:nth-child(2) {
  color: #FF4444;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-info .price {
  display: inline-block;
  line-height: 0.9rem;
  font-size: 0.4rem;
  color: #999999;
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-info .price span {
  font-family: PingFangSC-Semibold;
  font-size: 0.65rem;
  line-height: 0.9rem;
  color: #FF4444;
  margin-right: 0.1rem;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-tags {
  width: 100%;
  height: 1rem;
  padding-bottom: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-tags .electron {
  width: 4rem;
  height: 100%;
  background: #FF4444;
  border-radius: 0 0.5rem 0.5rem 0;
  box-shadow: -2px 2px 8px 0 rgba(255, 68, 68, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-tags .electron a {
  display: inline-block;
  line-height: 0.7rem;
  padding-left: 0.75rem;
  font-family: PingFangSC-Medium;
  font-size: 0.5rem;
  color: #FFFFFF;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-tags .phone {
  width: 5.5rem;
  height: 100%;
  background: #FF4444;
  border-radius: 0.5rem;
  box-shadow: -2px 2px 8px 0 rgba(255, 68, 68, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-tags .phone a {
  display: inline-block;
  line-height: 0.7rem;
  padding-left: 0.75rem;
  font-family: PingFangSC-Medium;
  font-size: 0.5rem;
  color: #FFFFFF;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-tags .immediately {
  width: 4rem;
  height: 100%;
  background: #FF4444;
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: -2px 2px 8px 0 rgba(255, 68, 68, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li .details-li-tags .immediately a {
  display: inline-block;
  line-height: 0.7rem;
  padding-left: 0.75rem;
  font-family: PingFangSC-Medium;
  font-size: 0.5rem;
  color: #FFFFFF;
}

.property-list-container .property-list-section .section-wrapper .property-list-details .details-li:first-child {
  margin-top: 0;
}

.property-list-container .property-list-footer {
  width: 100%;
  height: 2rem;
  background: #FFFFFF;
  box-shadow: 0 -1px 2px 0 #E8E8E8;
  z-index: 1;
}

.property-list-container .property-list-footer .footer-ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.property-list-container .property-list-footer .footer-ul li {
  height: 100%;
}

.property-list-container .property-list-footer .footer-ul .footer-li:first-child {
  flex: 3;
  -webkit-flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-list-container .property-list-footer .footer-ul .footer-li:first-child span {
  height: 1rem;
  line-height: 1rem;
  padding-left: 1.3rem;
  font-size: 0.55rem;
  color: #666666;
  background: url(../img/more.png) right center no-repeat;
  background-size: 0.9rem 0.9rem;
}

.property-list-container .property-list-footer .footer-ul .footer-li:nth-child(2) {
  flex: 2;
  -webkit-flex: 2;
  position: relative;
}

.property-list-container .property-list-footer .footer-ul .footer-li:nth-child(2) span {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 0.45rem;
  padding-top: 1.9rem;
  color: #FFFFFF;
  text-align: center;
  line-height: 0.6rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-image: linear-gradient(-219deg, #FF8044 0%, #F14545 50%);
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  top: -0.75rem;
  left: 0;
  right: 0;
  margin: auto;
}

.property-list-container .property-list-footer .footer-ul .footer-li:last-child {
  flex: 3;
  -webkit-flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-list-container .property-list-footer .footer-ul .footer-li:last-child span {
  height: 1rem;
  line-height: 1rem;
  padding-left: 1.3rem;
  font-size: 0.55rem;
  color: #666666;
  background: url(../img/more.png) right center no-repeat;
  background-size: 0.9rem 0.9rem;
}

.iScrollVerticalScrollbar {
  width: 0.2rem !important;
  z-index: 1 !important;
}
