* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
    color: #999999;
}

::-webkit-input-placeholder {
    color: #999999;
}

:-ms-input-placeholder {
    color: #999999;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;
.property-list-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    .property-list-header {
        width: 100%;
        background: rgba(0, 0, 0, 0.70);
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 17/$sc+rem;
                color: #FFFFFF;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 44/$sc+rem;
                width: 44/$sc+rem;
                background: url(../img/leftt.png) center center no-repeat;
                background-size: 16/$sc+rem 16/$sc+rem;
                position: absolute;
                top: 0;
                left: 0;
            }
            .more {
                display: block;
                height: 44/$sc+rem;
                width: 44/$sc+rem;
                background: url(../img/more.png) center center no-repeat;
                background-size: 20/$sc+rem 20/$sc+rem;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    .property-list-section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #F6F6F6;
        position: relative;
        .section-wrapper {
            width: 100%;
            padding: 10/$sc+rem 10/$sc+rem 20/$sc+rem;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            .property-list-details{
                width: 100%;
                .details-li{
                    width: 100%;
                    overflow: hidden;
                    margin-top: 15/$sc+rem;
                    background: #FFFFFF;
                    box-shadow: 0 4/$sc+rem 8/$sc+rem 0 rgba(0,0,0,0.08);
                    border-radius: 6/$sc+rem;
                    .details-li-banner{
                        width: 100%;
                        height: 180/$sc+rem;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        .tags{
                            width: 40/$sc+rem;
                            height: 16/$sc+rem;
                            line-height: 16/$sc+rem;
                            background: #FF4444;
                            text-align: center;
                            font-size: 10/$sc+rem;
                            color: #FFFFFF;
                            border-radius: 0 3/$sc+rem 3/$sc+rem 0;
                            position: absolute;
                            top: 16/$sc+rem;
                            left: 0;
                        }
                        .txt{
                            width: 100%;
                            height: 15/$sc+rem;
                            line-height: 15/$sc+rem;
                            padding-left: 22/$sc+rem;
                            padding-right: 8/$sc+rem;
                            box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            font-size: 11/$sc+rem;
                            color: #FFFFFF;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            position: absolute;
                            bottom: 3/$sc+rem;
                            left: 0;
                        }
                    }
                    .details-li-info{
                        width: 100%;
                        position: relative;
                        padding: 8/$sc+rem 10/$sc+rem;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        .title{
                            font-size: 14/$sc+rem;
                            color: #4A4A4A;
                            font-weight: normal;
                        }
                        .info-ul{
                            width: 100%;
                            margin-top: 2/$sc+rem;
                            li{
                                width: 100%;
                                margin-top: 4/$sc+rem;
                                line-height: 12/$sc+rem;
                                padding-left: 14/$sc+rem;
                                font-size: 10/$sc+rem;
                                color: #999999;
                                box-sizing: border-box;
                            }
                            li:nth-child(2){
                                a{
                                    color: #FF4444;
                                }
                            }
                        }
                        .price{
                            display: inline-block;
                            line-height: 18/$sc+rem;
                            font-size: 8/$sc+rem;
                            color: #999999;
                            position: absolute;
                            top: 4/$sc+rem;
                            right: 10/$sc+rem;
                            span{
                                font-family: PingFangSC-Semibold;
                                font-size: 13/$sc+rem;
                                line-height: 18/$sc+rem;
                                color: #FF4444;
                                margin-right: 2/$sc+rem;
                            }
                        }
                    }
                    .details-li-tags{
                        width: 100%;
                        height: 20/$sc+rem;
                        padding-bottom: 8/$sc+rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .electron{
                            width: 80/$sc+rem;
                            height: 100%;
                            background: #FF4444;
                            border-radius: 0 10/$sc+rem 10/$sc+rem 0;
                            box-shadow: -2px 2px 8px 0 rgba(255,68,68,0.60);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a{
                                display: inline-block;
                                line-height: 14/$sc+rem;
                                padding-left: 15/$sc+rem;
                                font-family: PingFangSC-Medium;
                                font-size: 10/$sc+rem;
                                color: #FFFFFF;
                            }
                        }
                        .phone{
                            width: 110/$sc+rem;
                            height: 100%;
                            background: #FF4444;
                            border-radius: 10/$sc+rem;
                            box-shadow: -2px 2px 8px 0 rgba(255,68,68,0.60);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a{
                                display: inline-block;
                                line-height: 14/$sc+rem;
                                padding-left: 15/$sc+rem;
                                font-family: PingFangSC-Medium;
                                font-size: 10/$sc+rem;
                                color: #FFFFFF;
                            }
                        }
                        .immediately{
                            width: 80/$sc+rem;
                            height: 100%;
                            background: #FF4444;
                            border-radius: 10/$sc+rem 0 0 10/$sc+rem;
                            box-shadow: -2px 2px 8px 0 rgba(255,68,68,0.60);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a{
                                display: inline-block;
                                line-height: 14/$sc+rem;
                                padding-left: 15/$sc+rem;
                                font-family: PingFangSC-Medium;
                                font-size: 10/$sc+rem;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
                .details-li:first-child{
                    margin-top: 0;
                }
            }
        }
    }
    .property-list-footer {
        width: 100%;
        height: 40/$sc+rem;
        background: #FFFFFF;
        box-shadow: 0 -1px 2px 0 #E8E8E8;
        z-index: 1;
        .footer-ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            li {
                height: 100%;
            }
            .footer-li:first-child {
                flex: 3;
                -webkit-flex: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    height: 20/$sc+rem;
                    line-height: 20/$sc+rem;
                    padding-left: 26/$sc+rem;
                    font-size: 11/$sc+rem;
                    color: #666666;
                    background: url(../img/more.png) right center no-repeat;
                    background-size: 18/$sc+rem 18/$sc+rem;
                }
            }
            .footer-li:nth-child(2) {
                flex: 2;
                -webkit-flex: 2;
                position: relative;
                a{
                    display: block;
                    width: 80/$sc+rem;
                    height: 80/$sc+rem;
                    border-radius: 50%;
                    font-size: 9/$sc+rem;
                    padding-top: 38/$sc+rem;
                    color: #FFFFFF;
                    text-align: center;
                    line-height: 12/$sc+rem;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    background-image: linear-gradient(-219deg, #FF8044 0%, #F14545 50%);
                    box-shadow: 0 8/$sc+rem 8/$sc+rem 0 rgba(0,0,0,0.12);
                    position: absolute;
                    top: -15/$sc+rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
            .footer-li:last-child {
                flex: 3;
                -webkit-flex: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    height: 20/$sc+rem;
                    line-height: 20/$sc+rem;
                    padding-left: 26/$sc+rem;
                    font-size: 11/$sc+rem;
                    color: #666666;
                    background: url(../img/more.png) right center no-repeat;
                    background-size: 18/$sc+rem 18/$sc+rem;
                }
            }
        }
    }
}
.iScrollVerticalScrollbar {
    width: 4/$sc+rem!important;
    z-index: 1!important;
}