* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
  color: #999999;
}

::-webkit-input-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: PingFangSC-Regular;
  background: #FAFAFA;
}

input,
textarea {
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

.rental-list-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

.rental-list-container .rental-list-header {
  width: 100%;
  background: #47464b;
  z-index: 40;
  box-shadow: 0 1px 0 0 #B2B2B2;
  -webkit-box-shadow: 0 1px 0 0 #B2B2B2;
}

.rental-list-container .rental-list-header .title_bar {
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  position: relative;
}

.rental-list-container .rental-list-header .title_bar .title_txt {
  font-size: 0.85rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
}

.rental-list-container .rental-list-header .title_bar .return {
  display: block;
  height: 0.9rem;
  line-height: 0.9rem;
  padding-left: 0.8rem;
  font-size: 0.85rem;
  color: #ffffff;
  background: url(../img/return.png) no-repeat;
  background-size: 0.45rem 0.8rem;
  background-position-x: left;
  background-position-y: 0.05rem;
  position: absolute;
  top: 0.7rem;
  left: 0.4rem;
}

.rental-list-container .rental-list-header .title_bar .more {
  display: block;
  height: 1rem;
  width: 1rem;
  background: url(../img/more.png) no-repeat;
  background-size: 1rem 1rem;
  position: absolute;
  top: 0.65rem;
  right: 0.4rem;
}

.rental-list-container .rental-list-column {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 1px 0 0 #E8E8E8;
  -webkit-box-shadow: 0 1px 0 0 #E8E8E8;
  z-index: 3;
}

.rental-list-container .rental-list-column .rental-list-search {
  width: 100%;
  height: 2.2rem;
  padding: 0.5rem 0.6rem;
  background: #FFFFFF;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.rental-list-container .rental-list-column .rental-list-search .B_search {
  flex: 1;
  -webkit-flex: 1;
  line-height: 0.6rem;
  font-size: 0.55rem;
  color: #333333;
  caret-color: #ff7c00;
  padding: 0.3rem 0 0.3rem 1.7rem;
  border-radius: 0.6rem;
  background: url(../img/Home-search.png) no-repeat #F0F0F0;
  background-size: 0.6rem 0.6rem;
  background-position-x: 0.75rem;
  background-position-y: center;
}

.rental-list-container .rental-list-column .rental-list-search .Sign-up {
  display: block;
  width: 0.75rem;
  height: 1.2rem;
  padding-left: 0.6rem;
  background: url(../img/Sign-up.png) no-repeat;
  background-size: 0.75rem 0.75rem;
  background-position-x: right;
  background-position-y: center;
}

.rental-list-container .rental-list-column .rental-list-search .Sign-up.select {
  background: url(../img/Sign-up-visit.png) no-repeat;
  background-size: 0.75rem 0.75rem;
  background-position-x: right;
  background-position-y: center;
}

.rental-list-container .rental-list-column .rental-list-demand {
  width: 100%;
  height: 2rem;
  background: #FFFFFF;
  position: relative;
}

.rental-list-container .rental-list-column .rental-list-demand .rental-list-demand-ul {
  width: 100%;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
}

.rental-list-container .rental-list-column .rental-list-demand .rental-list-demand-ul .demand-li {
  flex: 1;
  -webkit-flex: 1;
  height: 2rem;
  padding: 0.6rem 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rental-list-container .rental-list-column .rental-list-demand .rental-list-demand-ul .demand-li span {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.6rem;
  border-right: 1px solid #e8e8e8;
  color: #333333;
  box-sizing: border-box;
}

.rental-list-container .rental-list-column .rental-list-demand .rental-list-demand-ul .demand-li:last-child span {
  border-right: none;
}

.rental-list-container .rental-list-column .rental-list-demand .rental-list-demand-ul .demand-li.select span {
  color: #FF7C00;
}

.rental-list-container .rental-list-column .rental-list-demand .rental-list-demand-ul .drop-down {
  width: 2rem;
  height: 2rem;
}

.rental-list-container .rental-list-column .rental-list-demand .rental-list-demand-ul .drop-down span {
  display: block;
  width: 2rem;
  height: 1rem;
  border-left: 1px solid #d8d8d8;
  margin: 0.5rem 0;
  box-sizing: border-box;
  background: url(../img/sort.png) center center no-repeat;
  background-size: 0.5rem 0.6rem;
}

.rental-list-container .rental-list-column .rental-list-demand .rental-list-demand-ul .drop-down.select span {
  background: url(../img/sort-hover.png) center center no-repeat;
  background-size: 0.5rem 0.6rem;
}

.rental-list-container .rental-list-column .rental-list-demand .rental-list-demand-ul.select {
  background: #F9F9F9;
}

.rental-list-container .rental-list-column .rental-list-demand .found-for-you {
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: all .6s;
  height: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 0.1rem 0.1rem;
  position: absolute;
  top: 2rem;
  left: 0;
}

.rental-list-container .rental-list-column .rental-list-demand .found-for-you span {
  display: block;
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  font-size: 0.55rem;
  text-align: center;
}

.rental-list-container .rental-list-section {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  background: #fafafa;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.rental-list-container .rental-list-section .section-wrapper {
  width: 100%;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend {
  width: 100%;
  background: #FFFFFF;
  padding: 0 0.6rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content {
  width: 100%;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul {
  width: 100%;
  padding-bottom: 0.75rem;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li {
  width: 100%;
  height: 4rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-img {
  width: 5.5rem;
  height: 4rem;
  padding-right: 0.6rem;
  position: relative;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt {
  flex: 1;
  -webkit-flex: 1;
  height: 100%;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .title {
  font-size: 0.7rem;
  height: 1rem;
  line-height: 1rem;
  color: #333333;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .title .title-txt {
  float: left;
  font-size: 0.7rem;
  line-height: 1rem;
  color: #333333;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .title .title-date {
  font-size: 0.45rem;
  padding-left: 0.6rem;
  color: #999999;
  margin-left: 0.5rem;
  background: url(../img/Date.png) left center no-repeat;
  background-size: 0.5rem 0.5rem;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .title .tags1 {
  color: #F23023;
  border: 1px solid #F23023;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .title .tags2 {
  color: #86D646;
  border: 1px solid #86D646;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .title .tags3 {
  color: #FF5D00;
  border: 1px solid #FF5D00;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .title .tags4 {
  color: #FF0079;
  border: 1px solid #FF0079;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .info {
  height: 0.75rem;
  margin-top: 0.15rem;
  white-space: nowrap;
  overflow: hidden;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .info span {
  float: left;
  line-height: 0.75rem;
  font-size: 0.55rem;
  color: #666666;
  letter-spacing: -0.015rem;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .info span:first-child {
  letter-spacing: -0.025rem;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .info .line {
  margin: 0 0.15rem;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .demand {
  height: 0.9rem;
  margin-top: 0.15rem;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .demand span {
  display: block;
  float: left;
  margin-right: 0.25rem;
  padding: 0 0.3rem;
  height: 0.9rem;
  background: #F3F1FF;
  line-height: 0.9rem;
  font-size: 0.45rem;
  color: #928AEA;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .demand span:last-child {
  margin-right: 0;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .demand .state1 {
  color: #928AEA;
  background: #F3F1FF;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .demand .state2 {
  color: #5FA6EB;
  background: #ECF5FF;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .demand .state3 {
  color: #8B9FEC;
  background: #EEF3FF;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .average-price {
  margin-top: 0.15rem;
  height: 0.9rem;
  font-size: 0.55rem;
  color: #666666;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .average-price .price {
  font-size: 0.65rem;
  color: #FF7C00;
}

.rental-list-container .rental-list-section .section-wrapper .section-recommend .section-recommend-content .recommend-content-ul .recommend-content-li .recommend-content-li-txt .average-price .acreage {
  font-size: 0.55rem;
  color: #666666;
}

.rental-list-container .rental-list-Mask {
  width: 100%;
  height: 100%;
  transition: all .3s;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.rental-list-container .rental-list-Mask.show {
  z-index: 2;
  opacity: 1;
}

.rental-list-container .rental-list-Mask.signal_show {
  z-index: 35;
  opacity: 1;
}

.rental-list-container .sign-up-push {
  width: 10.9rem;
  height: 9.1rem;
  padding: 0.6rem;
  background: #FFFFFF;
  transition: all .3s;
  border-radius: 0.25rem;
  opacity: 0;
  z-index: -1;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.rental-list-container .sign-up-push .sign-up-title {
  width: 100%;
  height: 1.05rem;
  text-align: center;
  font-weight: normal;
  line-height: 1.05rem;
  font-size: 0.75rem;
  color: #333333;
}

.rental-list-container .sign-up-push .sign-up-name {
  width: 100%;
  height: 1.1rem;
  padding: 0.15rem 0;
  margin-top: 0.5rem;
  box-shadow: 0 1px 0 0 #E8E8E8;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.rental-list-container .sign-up-push .sign-up-name span {
  display: inline-block;
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: #666666;
}

.rental-list-container .sign-up-push .sign-up-name .name_ipt {
  flex: 1;
  -webkit-flex: 1;
  height: 100%;
  padding: 0.1rem 0;
  background: transparent;
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: #333333;
  box-sizing: border-box;
}

.rental-list-container .sign-up-push .sign-up-contact {
  width: 100%;
  height: 1.1rem;
  padding: 0.15rem 0;
  margin-top: 0.5rem;
  box-shadow: 0 1px 0 0 #E8E8E8;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.rental-list-container .sign-up-push .sign-up-contact span {
  display: inline-block;
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: #666666;
  word-break: keep-all;
}

.rental-list-container .sign-up-push .sign-up-contact .contact_ipt {
  flex: 1;
  -webkit-flex: 1;
  height: 100%;
  padding: 0.1rem 0;
  background: transparent;
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: #333333;
  box-sizing: border-box;
}

.rental-list-container .sign-up-push .sign-up-intention {
  width: 100%;
  height: 1.1rem;
  padding: 0.15rem 0;
  margin-top: 0.5rem;
  box-shadow: 0 1px 0 0 #E8E8E8;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.rental-list-container .sign-up-push .sign-up-intention span {
  display: inline-block;
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: #666666;
  word-break: keep-all;
}

.rental-list-container .sign-up-push .sign-up-intention .intention_ipt {
  flex: 1;
  -webkit-flex: 1;
  height: 100%;
  padding: 0.1rem 0;
  background: transparent;
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: #333333;
  box-sizing: border-box;
}

.rental-list-container .sign-up-push .sign-up-btn {
  margin-top: 0.75rem;
}

.rental-list-container .sign-up-push .sign-up-btn span {
  display: block;
  width: 4.25rem;
  height: 1.3rem;
  line-height: 1.3rem;
  text-align: center;
  background: #FF7C00;
  font-size: 0.65rem;
  color: #FFFFFF;
  margin: 0 auto;
  border-radius: 0.1rem;
}

.rental-list-container .sign-up-push .sign-up-del {
  width: 1.65rem;
  height: 1.65rem;
  border-radius: 50%;
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  right: 0;
  margin: auto;
}

.rental-list-container .sign-up-push .sign-up-del img {
  display: block;
  width: 1.65rem;
  height: 1.65rem;
}

.rental-list-container .sign-up-push.show {
  opacity: 1;
  z-index: 40;
}

.rental-list-container .sign-up-false {
  width: 8rem;
  height: 5rem;
  background: #FFFFFF;
  transition: all .3s;
  border-radius: 0.25rem;
  opacity: 0;
  z-index: -1;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.rental-list-container .sign-up-false i {
  display: block;
  width: 2.05rem;
  height: 1.3rem;
  margin: 1.2rem auto 0;
}

.rental-list-container .sign-up-false i img {
  display: block;
  width: 2.05rem;
  height: 1.3rem;
}

.rental-list-container .sign-up-false p {
  width: 100%;
  margin-top: 0.5rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.7rem;
  color: #666666;
}

.rental-list-container .sign-up-false p a {
  line-height: 1rem;
  font-size: 0.7rem;
  color: #86D646;
  text-decoration: underline;
}

.rental-list-container .sign-up-false.show {
  opacity: 1;
  z-index: 40;
}

.rental-list-container .sign-up-success {
  width: 8rem;
  height: 5rem;
  background: #FFFFFF;
  transition: all .3s;
  border-radius: 0.25rem;
  opacity: 0;
  z-index: -10;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.rental-list-container .sign-up-success i {
  display: block;
  width: 2.05rem;
  height: 1.3rem;
  margin: 1.2rem auto 0;
}

.rental-list-container .sign-up-success i img {
  display: block;
  width: 2.05rem;
  height: 1.3rem;
}

.rental-list-container .sign-up-success p {
  width: 100%;
  margin-top: 0.5rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.7rem;
  color: #666666;
}

.rental-list-container .sign-up-success p a {
  line-height: 1rem;
  font-size: 0.7rem;
  color: #86D646;
  text-decoration: underline;
}

.rental-list-container .sign-up-success.show {
  opacity: 1;
  z-index: 40;
}

.iScrollVerticalScrollbar {
  width: 0.2rem !important;
  z-index: 1 !important;
}
