* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
  color: #B2B5B8;
}

::-webkit-input-placeholder {
  color: #B2B5B8;
}

:-ms-input-placeholder {
  color: #B2B5B8;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: PingFangSC-Regular;
  background: #FAFAFA;
}

input,
textarea {
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

.report-info-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.report-info-container .report-info-header {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.report-info-container .report-info-header .title_bar {
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  position: relative;
}

.report-info-container .report-info-header .title_bar .title_txt {
  font-size: 0.85rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
}

.report-info-container .report-info-header .title_bar .return {
  display: block;
  height: 2.2rem;
  width: 2.2rem;
  background: url(../img/leftt.png) center center no-repeat;
  background-size: 0.8rem 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
}

.report-info-container .report-info-header .title_bar .more {
  display: block;
  height: 2.2rem;
  width: 2.2rem;
  background: url(../img/more.png) center center no-repeat;
  background-size: 1rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.report-info-container .report-info-section {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  background: #ffffff;
  position: relative;
}

.report-info-container .report-info-section .section-wrapper {
  width: 100%;
  padding: 0.9rem 1.35rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div {
  width: 100%;
  background: #FFFFFF;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #EEEEEE;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-title {
  width: 100%;
  height: 0.75rem;
  color: #4A4A4A;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-title span:first-child {
  float: left;
  line-height: 0.75rem;
  font-family: PingFangSC-Semibold;
  font-size: 0.7rem;
  color: #4A4A4A;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-title span:last-child {
  float: right;
  line-height: 0.75rem;
  font-family: PingFangSC-Regular;
  font-size: 0.5rem;
  color: #B2B5B8;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar {
  width: 100%;
  height: 2.5rem;
  margin-top: 1rem;
  position: relative;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .enter {
  display: block;
  width: 0.25rem;
  height: 0.5rem;
  background: red;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .step-bar-ul {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 0.125rem;
  padding: 0 1rem 0 0.5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .step-bar-ul .step-bar-li {
  flex: 1;
  -webkit-flex: 1;
  background: #EEEEEE;
  position: relative;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .step-bar-ul .step-bar-li i {
  display: none;
  width: 0.95rem;
  height: 1.05rem;
  background: red;
  position: absolute;
  bottom: 0.4rem;
  right: -0.475rem;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .step-bar-ul .step-bar-li span {
  display: block;
  width: 0.385rem;
  height: 0.385rem;
  border-radius: 50%;
  background: #EEEEEE;
  font-size: 0.5rem;
  color: #B2B5B8;
  display: flex;
  justify-content: center;
  line-height: 2.2rem;
  white-space: nowrap;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -0.1925rem;
  margin: auto;
  z-index: 1;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .step-bar-ul .null {
  width: 0;
  position: relative;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .step-bar-ul .null i {
  display: none;
  width: 0.95rem;
  height: 1.05rem;
  background: red;
  position: absolute;
  bottom: 0.4rem;
  right: -0.475rem;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .step-bar-ul .null span {
  display: block;
  width: 0.385rem;
  height: 0.385rem;
  border-radius: 50%;
  background: #EEEEEE;
  font-size: 0.5rem;
  color: #B2B5B8;
  display: flex;
  justify-content: center;
  line-height: 2.2rem;
  white-space: nowrap;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -0.1925rem;
  margin: auto;
  z-index: 1;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .first_step li:nth-child(-n+1) {
  background: #61D4C3;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .first_step li:nth-child(-n+1) span {
  background: #61D4C3;
  color: #4A4A4A;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .first_step li:nth-child(1) i {
  display: block;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .second_step li:nth-child(-n+2) {
  background: #61D4C3;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .second_step li:nth-child(-n+2) span {
  background: #61D4C3;
  color: #4A4A4A;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .second_step li:nth-child(2) i {
  display: block;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .third_step li:nth-child(-n+3) {
  background: #61D4C3;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .third_step li:nth-child(-n+3) span {
  background: #61D4C3;
  color: #4A4A4A;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .third_step li:nth-child(3) i {
  display: block;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .fourth_step li:nth-child(-n+4) {
  background: #61D4C3;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .fourth_step li:nth-child(-n+4) span {
  background: #61D4C3;
  color: #4A4A4A;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .fourth_step li:nth-child(4) i {
  display: block;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .fifth_step li:nth-child(-n+5) {
  background: #61D4C3;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .fifth_step li:nth-child(-n+5) span {
  background: #61D4C3;
  color: #4A4A4A;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .step-bar .fifth_step li:nth-child(5) i {
  display: block;
}

.report-info-container .report-info-section .section-wrapper .report-schedule-div .report-overdue {
  text-align: center;
  line-height: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.5rem;
  color: #9EA3A7;
}

.report-info-container .report-info-section .section-wrapper .take-looker {
  width: 100%;
  padding: 0.75rem 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 1px solid #EEEEEE;
}

.report-info-container .report-info-section .section-wrapper .take-looker p {
  width: 100%;
  height: 0.6rem;
  margin-top: 0.45rem;
}

.report-info-container .report-info-section .section-wrapper .take-looker p span {
  float: left;
  font-size: 0.6rem;
  line-height: 0.6rem;
}

.report-info-container .report-info-section .section-wrapper .take-looker p span:first-child {
  text-align: right;
  width: 3.75rem;
  color: #9EA3A7;
}

.report-info-container .report-info-section .section-wrapper .take-looker p span:last-child {
  color: #4A4A4A;
}

.report-info-container .report-info-section .section-wrapper .take-looker p:first-child {
  margin-top: 0;
}

.report-info-container .report-info-section .section-wrapper .report-customer {
  width: 100%;
  padding: 0.75rem 0 0.75rem 1.4rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.report-info-container .report-info-section .section-wrapper .report-customer li {
  width: 100%;
  margin-top: 0.75rem;
}

.report-info-container .report-info-section .section-wrapper .report-customer li p:first-child {
  width: 100%;
  line-height: 0.6rem;
  font-size: 0.6rem;
  color: #4A4A4A;
  height: 0.85rem;
}

.report-info-container .report-info-section .section-wrapper .report-customer li p:first-child .tags {
  display: inline-block;
  width: 1.7rem;
  height: 0.85rem;
  line-height: 0.85rem;
  text-align: center;
  font-size: 0.5rem;
  color: #FF8D91;
  background: #FFF3F3;
  border-radius: 0.85rem;
}

.report-info-container .report-info-section .section-wrapper .report-customer li p:last-child {
  width: 100%;
  margin-top: 0.15rem;
  line-height: 0.5rem;
  font-size: 0.5rem;
  color: #B2B5B8;
}

.report-info-container .report-info-section .section-wrapper .report-customer li:first-child {
  margin-top: 0;
}

.iScrollVerticalScrollbar {
  width: 0.2rem !important;
  z-index: 1 !important;
}
