* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
    color: #B2B5B8;
}

::-webkit-input-placeholder {
    color: #B2B5B8;
}

:-ms-input-placeholder {
    color: #B2B5B8;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;
.report-customer-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    .report-customer-header {
        width: 100%;
        background: rgba(0, 0, 0, 0.70);
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 17/$sc+rem;
                color: #FFFFFF;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 44/$sc+rem;
                width: 44/$sc+rem;
                background: url(../img/leftt.png) center center no-repeat;
                background-size: 16/$sc+rem 16/$sc+rem;
                position: absolute;
                top: 0;
                left: 0;
            }
            .more {
                display: block;
                height: 44/$sc+rem;
                width: 44/$sc+rem;
                background: url(../img/more.png) center center no-repeat;
                background-size: 20/$sc+rem 20/$sc+rem;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    .report-customer-section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #F6F6F6;
        position: relative;
        .section-wrapper {
            width: 100%;
            padding: 18/$sc+rem 14/$sc+rem;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            .salesperson-info{
                width: 100%;
                background: #FFFFFF;
                padding: 7/$sc+rem 14/$sc+rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-shadow: 0 3px 10px 0 rgba(143,143,143,0.15);
                border-radius: 7/$sc+rem;
                .salesperson-info-wrapper{
                    width: 100%;
                    li{
                        width: 100%;
                        height: 42/$sc+rem;
                        overflow: hidden;
                        border-bottom: 1px solid #EEEEEE;
                        display: flex;
                        flex-direction: row;
                        input{
                            flex: 1;
                            -webkit-flex: 1;
                            height: 100%;
                            line-height: 14/$sc+rem;
                            font-size: 12/$sc+rem;
                            color: #4A4A4A;
                            padding: 12/$sc+rem 0 16/$sc+rem 34/$sc+rem;
                            box-sizing: border-box;
                        }
                    }
                    li:last-child{
                        border-bottom: none;
                    }
                }
            }
            .property-info{
                width: 100%;
                margin-top: 14/$sc+rem;
                background: #FFFFFF;
                overflow: hidden;
                padding: 7/$sc+rem 14/$sc+rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-shadow: 0 3px 10px 0 rgba(143,143,143,0.15);
                border-radius: 7/$sc+rem;
                .property-info-wrapper{
                    width: 100%;
                    .time{
                        width: 100%;
                        height: 42/$sc+rem;
                        line-height: 14/$sc+rem;
                        font-size: 12/$sc+rem;
                        color: #4A4A4A;
                        padding: 12/$sc+rem 0 16/$sc+rem 34/$sc+rem;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                    }
                    .property{
                        width: 100%;
                        height: 42/$sc+rem;
                        line-height: 14/$sc+rem;
                        font-size: 12/$sc+rem;
                        color: #4A4A4A;
                        padding: 12/$sc+rem 0 16/$sc+rem 34/$sc+rem;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                    }
                    .tags-box{
                        width: 100%;
                        height: 66/$sc+rem;
                        padding: 0;
                        .tags-box-ul{
                            display: inline-block;
                            padding-left: 2px;
                            li{
                                float: left;
                                padding: 0;
                                position: relative;
                                margin-top: 5/$sc+rem;
                                padding-right: 11/$sc+rem;
                                width: 110/$sc+rem;
                                height: 54/$sc+rem;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 4/$sc+rem;
                                }
                                .title{
                                    padding-left: 7/$sc+rem;
                                    line-height: 20/$sc+rem;
                                    font-size: 10/$sc+rem;
                                    color: #FFFFFF;
                                    box-sizing: border-box;
                                    -webkit-box-sizing: border-box;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                }
                                .delete{
                                    display: block;
                                    width: 17/$sc+rem;
                                    height: 17/$sc+rem;
                                    border-radius: 50%;
                                    background: red;
                                    position: absolute;
                                    top: -5/$sc+rem;
                                    right: 6/$sc+rem;
                                }
                            }
                            li:last-child{
                                padding-right: 0;
                                .delete{
                                    display: block;
                                    width: 17/$sc+rem;
                                    height: 17/$sc+rem;
                                    border-radius: 50%;
                                    background: red;
                                    position: absolute;
                                    top: -5/$sc+rem;
                                    right: -5/$sc+rem;
                                }
                            }
                        }
                    }
                    li:first-child{
                        border-bottom: 1px solid #EEEEEE;
                    }
                }
            }
            .customer-phone{
                width: 100%;
                margin-top: 14/$sc+rem;
                .customer-phone-wrapper{
                    width: 100%;
                    .customer-phone-li{
                        width: 100%;
                        background: #FFFFFF;
                        margin-top: 32/$sc+rem;
                        position: relative;
                        padding: 7/$sc+rem 14/$sc+rem;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-shadow: 0 3px 10px 0 rgba(143,143,143,0.15);
                        border-radius: 7/$sc+rem;
                        .customer-phone-li-box{
                            width: 100%;
                            li{
                                width: 100%;
                                height: 42/$sc+rem;
                                overflow: hidden;
                                border-bottom: 1px solid #EEEEEE;
                                display: flex;
                                flex-direction: row;
                                input{
                                    flex: 1;
                                    -webkit-flex: 1;
                                    height: 100%;
                                    line-height: 14/$sc+rem;
                                    font-size: 12/$sc+rem;
                                    color: #4A4A4A;
                                    padding: 12/$sc+rem 0 16/$sc+rem 34/$sc+rem;
                                    box-sizing: border-box;
                                }
                            }
                            li:last-child{
                                border-bottom: none;
                            }
                        }
                        .add-btn{
                            width: 34/$sc+rem;
                            height: 34/$sc+rem;
                            position: absolute;
                            bottom: -17/$sc+rem;
                            left: 0;
                            right: 0;
                            margin: auto;
                            background-image: linear-gradient(-90deg, #F7C328 0%, #FAD860 100%);
                            box-shadow: 0 3px 10px 0 rgba(246,188,23,0.40);
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            span{
                                font-family: PingFangSC-Medium;
                                font-size: 12/$sc+rem;
                                color: #FFFFFF;
                            }
                        }
                        .del-btn{
                            width: 34/$sc+rem;
                            height: 34/$sc+rem;
                            position: absolute;
                            bottom: -17/$sc+rem;
                            left: 0;
                            right: 0;
                            margin: auto;
                            background-image: linear-gradient(-224deg, #6BCEFF 0%, #1DB0FF 99%);
                            box-shadow: 0 3px 10px 0 rgba(35,179,255,0.40);
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            span{
                                font-family: PingFangSC-Medium;
                                font-size: 12/$sc+rem;
                                color: #FFFFFF;
                            }
                        }
                    }
                    .customer-phone-li:first-child{
                        margin-top: 0;
                    }
                }
            }
            .customer-info{
                width: 100%;
                background: #FFFFFF;
                margin-top: 32/$sc+rem;
                padding: 7/$sc+rem 14/$sc+rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-shadow: 0 3px 10px 0 rgba(143,143,143,0.15);
                border-radius: 7/$sc+rem;
                .customer-info-wrapper{
                    width: 100%;
                    li{
                        width: 100%;
                        height: 42/$sc+rem;
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        input{
                            flex: 1;
                            -webkit-flex: 1;
                            height: 100%;
                            line-height: 14/$sc+rem;
                            font-size: 12/$sc+rem;
                            color: #4A4A4A;
                            padding: 12/$sc+rem 0 16/$sc+rem 34/$sc+rem;
                            box-sizing: border-box;
                        }
                    }
                }
            }
            .submit-btn{
                width: 100%;
                height: 42/$sc+rem;
                line-height: 42/$sc+rem;
                color: #ffffff;
                text-align: center;
                font-size: 17/$sc+rem;
                margin-top: 39/$sc+rem;
                background-image: linear-gradient(90deg, #F04444 1%, #EB3038 100%);
                box-shadow: 0 3px 10px 0 rgba(235,48,56,0.50);
                border-radius: 21/$sc+rem;
            }
        }
    }
}
.iScrollVerticalScrollbar {
    width: 4/$sc+rem!important;
    z-index: 1!important;
}