* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
    color: #B2B5B8;
}

::-webkit-input-placeholder {
    color: #B2B5B8;
}

:-ms-input-placeholder {
    color: #B2B5B8;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;
.report-info-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    .report-info-header {
        width: 100%;
        background: rgba(0, 0, 0, 0.70);
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 17/$sc+rem;
                color: #FFFFFF;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 44/$sc+rem;
                width: 44/$sc+rem;
                background: url(../img/leftt.png) center center no-repeat;
                background-size: 16/$sc+rem 16/$sc+rem;
                position: absolute;
                top: 0;
                left: 0;
            }
            .more {
                display: block;
                height: 44/$sc+rem;
                width: 44/$sc+rem;
                background: url(../img/more.png) center center no-repeat;
                background-size: 20/$sc+rem 20/$sc+rem;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    .report-info-section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #ffffff;
        position: relative;
        .section-wrapper {
            width: 100%;
            padding: 18/$sc+rem 27/$sc+rem;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            .report-schedule-div {
                width: 100%;
                background: #FFFFFF;
                padding-bottom: 15/$sc+rem;
                border-bottom: 1px solid #EEEEEE;
                .step-title {
                    width: 100%;
                    height: 15/$sc+rem;
                    color: #4A4A4A;
                    span:first-child {
                        float: left;
                        line-height: 15/$sc+rem;
                        font-family: PingFangSC-Semibold;
                        font-size: 14/$sc+rem;
                        color: #4A4A4A;
                    }
                    span:last-child {
                        float: right;
                        line-height: 15/$sc+rem;
                        font-family: PingFangSC-Regular;
                        font-size: 10/$sc+rem;
                        color: #B2B5B8;
                    }
                }
                .step-bar {
                    width: 100%;
                    height: 50/$sc+rem;
                    margin-top: 20/$sc+rem;
                    position: relative;
                    .enter {
                        display: block;
                        width: 5/$sc+rem;
                        height: 10/$sc+rem;
                        background: red;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        margin: auto;
                    }
                    .step-bar-ul {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 100%;
                        height: 2.5/$sc+rem;
                        padding: 0 20/$sc+rem 0 10/$sc+rem;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                        .step-bar-li {
                            flex: 1;
                            -webkit-flex: 1;
                            background: #EEEEEE;
                            position: relative;
                            i {
                                display: none;
                                width: 19/$sc+rem;
                                height: 21/$sc+rem;
                                background: red;
                                position: absolute;
                                bottom: 8/$sc+rem;
                                right: -9.5/$sc+rem;
                            }
                            span {
                                display: block;
                                width: 7.7/$sc+rem;
                                height: 7.7/$sc+rem;
                                border-radius: 50%;
                                background: #EEEEEE;
                                font-size: 10/$sc+rem;
                                color: #B2B5B8;
                                display: flex;
                                justify-content: center;
                                line-height: 44/$sc+rem;
                                white-space: nowrap;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                right: -3.85/$sc+rem;
                                margin: auto;
                                z-index: 1;
                            }
                        }
                        .null {
                            width: 0;
                            position: relative;
                            i {
                                display: none;
                                width: 19/$sc+rem;
                                height: 21/$sc+rem;
                                background: red;
                                position: absolute;
                                bottom: 8/$sc+rem;
                                right: -9.5/$sc+rem;
                            }
                            span {
                                display: block;
                                width: 7.7/$sc+rem;
                                height: 7.7/$sc+rem;
                                border-radius: 50%;
                                background: #EEEEEE;
                                font-size: 10/$sc+rem;
                                color: #B2B5B8;
                                display: flex;
                                justify-content: center;
                                line-height: 44/$sc+rem;
                                white-space: nowrap;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                right: -3.85/$sc+rem;
                                margin: auto;
                                z-index: 1;
                            }
                        }
                    }
                    .first_step {
                        li:nth-child(-n+1) {
                            background: #61D4C3;
                            span {
                                background: #61D4C3;
                                color: #4A4A4A;
                            }
                        }
                        li:nth-child(1) {
                            i {
                                display: block
                            }
                        }
                    }
                    .second_step {
                        li:nth-child(-n+2) {
                            background: #61D4C3;
                            span {
                                background: #61D4C3;
                                color: #4A4A4A;
                            }
                        }
                        li:nth-child(2) {
                            i {
                                display: block
                            }
                        }
                    }
                    .third_step {
                        li:nth-child(-n+3) {
                            background: #61D4C3;
                            span {
                                background: #61D4C3;
                                color: #4A4A4A;
                            }
                        }
                        li:nth-child(3) {
                            i {
                                display: block
                            }
                        }
                    }
                    .fourth_step {
                        li:nth-child(-n+4) {
                            background: #61D4C3;
                            span {
                                background: #61D4C3;
                                color: #4A4A4A;
                            }
                        }
                        li:nth-child(4) {
                            i {
                                display: block
                            }
                        }
                    }
                    .fifth_step {
                        li:nth-child(-n+5) {
                            background: #61D4C3;
                            span {
                                background: #61D4C3;
                                color: #4A4A4A;
                            }
                        }
                        li:nth-child(5) {
                            i {
                                display: block
                            }
                        }
                    }
                }
                .report-overdue{
                    text-align: center;
                    line-height: 10/$sc+rem;
                    margin-top: 10/$sc+rem;
                    font-size: 10/$sc+rem;
                    color: #9EA3A7;
                }
            }
            .take-looker{
                width: 100%;
                padding: 15/$sc+rem 0;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                border-bottom: 1px solid #EEEEEE;
                p{
                    width: 100%;
                    height: 12/$sc+rem;
                    margin-top: 9/$sc+rem;
                    span{
                        float: left;
                        font-size: 12/$sc+rem;
                        line-height: 12/$sc+rem;
                    }
                    span:first-child{
                        text-align: right;
                        width: 75/$sc+rem;
                        color: #9EA3A7;
                    }
                    span:last-child{
                        color: #4A4A4A;
                    }
                }
                p:first-child{
                    margin-top: 0;
                }
            }
            .report-customer{
                width: 100%;
                padding: 15/$sc+rem 0 15/$sc+rem 28/$sc+rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                li{
                    width: 100%;
                    margin-top: 15/$sc+rem;
                    p:first-child{
                        width: 100%;
                        line-height: 12/$sc+rem;
                        font-size: 12/$sc+rem;
                        color: #4A4A4A;
                        height: 17/$sc+rem;
                        .tags{
                            display: inline-block;
                            width: 34/$sc+rem;
                            height: 17/$sc+rem;
                            line-height: 17/$sc+rem;
                            text-align: center;
                            font-size: 10/$sc+rem;
                            color: #FF8D91;
                            background: #FFF3F3;
                            border-radius: 17/$sc+rem;
                        }
                    }
                    p:last-child{
                        width: 100%;
                        margin-top: 3/$sc+rem;
                        line-height: 10/$sc+rem;
                        font-size: 10/$sc+rem;
                        color: #B2B5B8;
                    }
                }
                li:first-child{
                    margin-top: 0;
                }
            }
        }
    }
}

.iScrollVerticalScrollbar {
    width: 4/$sc+rem!important;
    z-index: 1!important;
}