* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

::-moz-placeholder {
    color: rgba(178,181,184,.8);
}

::-webkit-input-placeholder {
    color: rgba(178,181,184,.8);
}

:-ms-input-placeholder {
    color: rgba(178,181,184,.8);
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: PingFangSC-Regular;
    background: #FAFAFA;
}

input,
textarea {
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none;
}

$sc:20;
.report-property-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    .report-property-header {
        width: 100%;
        background: rgba(0, 0, 0, 0.70);
        .title_bar {
            width: 100%;
            height: 44/$sc+rem;
            line-height: 44/$sc+rem;
            position: relative;
            .title_txt {
                font-size: 17/$sc+rem;
                color: #FFFFFF;
                text-align: center;
                font-weight: normal;
            }
            .return {
                display: block;
                height: 44/$sc+rem;
                width: 44/$sc+rem;
                background: url(../img/leftt.png) center center no-repeat;
                background-size: 16/$sc+rem 16/$sc+rem;
                position: absolute;
                top: 0;
                left: 0;
            }
            .more {
                display: block;
                height: 44/$sc+rem;
                width: 44/$sc+rem;
                background: url(../img/more.png) center center no-repeat;
                background-size: 20/$sc+rem 20/$sc+rem;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    .report-property-search{
        width: 100%;
        background: #FFFFFF;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 11/$sc+rem 14/$sc+rem 0;
        box-shadow: inset 0 -1px 0 0 #EEEEEE;
        .search-box{
            width: 100%;
            height: 34/$sc+rem;
            background: #FFFFFF;
            padding: 10/$sc+rem 5/$sc+rem;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-shadow: 0 3px 10px 0 rgba(143,143,143,0.15);
            border-radius: 17/$sc+rem;
            display: flex;
            flex-direction: row;
            span{
                width: 80/$sc+rem;
                font-size: 12/$sc+rem;
                line-height: 14/$sc+rem;
                text-align: center;
                color: #EB3038;
                border-right: 1px solid #EAEAEA;
            }
            .search_ipt{
                flex: 1;
                -webkit-flex: 1;
                padding-left: 60/$sc+rem;
                line-height: 14/$sc+rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                font-size: 12/$sc+rem;
                color: #4A4A4A;
            }
        }
        .content-nav{
            width: 100%;
            height: 40/$sc+rem;
            .content-nav-ul{
                width: 100%;
                height: 100%;
                padding: 0 10/$sc+rem;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                .content-nav-li{
                    width: 50%;
                    text-align: center;
                    line-height: 40/$sc+rem;
                    font-size: 12/$sc+rem;
                    color: #9EA3A7;
                    position: relative;
                }
                .content-nav-li.select{
                    color: #EB3038;
                    &::before{
                        content: "";
                        width: 68/$sc+rem;
                        height: 3.5/$sc+rem;
                        background-image: linear-gradient(-90deg, #F7C328 0%, #FAD860 100%);
                        box-shadow: 0 3px 10px 0 rgba(247,189,26,0.50);
                        border-radius: 2/$sc+rem;
                        position: absolute;
                        bottom: -1/$sc+rem;
                        left: 0;
                        right: 0;
                        margin: auto;
                        z-index: 999;
                    }
                }
            }
        }
    }
    .report-property-section {
        flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        background: #F6F6F6;
        position: relative;
        .section-wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            display: -webkit-flex;
            .section-wrapper-personally{
                width: 100%;
                height: 100%;
                -webkit-flex-shrink: 0;
                .report-property-personally{
                    width: 100%;
                    padding: 16/$sc+rem 14/$sc+rem 20/$sc+rem;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    .report-property-li{
                        width: 100%;
                        margin-top: 14/$sc+rem;
                        padding: 10/$sc+rem 0 10/$sc+rem 14/$sc+rem;
                        background: #FFFFFF;
                        position: relative;
                        box-shadow: 0 3px 10px 0 rgba(143,143,143,0.15);
                        border-radius: 12/$sc+rem;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                        .report-property-li-left{
                            width: 55%;
                            .title{
                                line-height: 12/$sc+rem;
                                font-size: 12/$sc+rem;
                                color: #4A4A4A;
                                font-weight: normal;
                            }
                            .term{
                                display: block;
                                margin-top: 8/$sc+rem;
                                line-height: 10/$sc+rem;
                                font-size: 10/$sc+rem;
                                color: #9EA3A7;
                            }
                            .advance{
                                display: block;
                                margin-top: 6/$sc+rem;
                                line-height: 10/$sc+rem;
                                font-size: 10/$sc+rem;
                                color: #EB3038;
                            }
                            .other{
                                display: block;
                                margin-top: 4/$sc+rem;
                                line-height: 10/$sc+rem;
                                font-size: 10/$sc+rem;
                                color: #EB3038;
                            }
                        }
                        .report-property-li-right{
                            width: 45%;
                            .commission{
                                display: block;
                                line-height: 12/$sc+rem;
                                font-size: 10/$sc+rem;
                                color: #FF8D91;
                                padding-left: 14/$sc+rem;
                                box-sizing: border-box;
                                -webkit-box-sizing: border-box;
                            }
                            .state{
                                display: block;
                                margin-top: 6/$sc+rem;
                                line-height: 10/$sc+rem;
                                font-size: 10/$sc+rem;
                                color: #9EA3A7;
                            }
                        }
                        .report-property-li-btn{
                            width: 14/$sc+rem;
                            height: 14/$sc+rem;
                            background: #FFFFFF;
                            border: 1px solid #B2B5B8;
                            border-radius: 6/$sc+rem;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 10/$sc+rem;
                            margin: auto;
                        }
                        .report-property-li-btn.select{
                            background: #EB3038;
                            border: 1px solid #EB3038;
                            box-shadow: 0 3px 10px 0 rgba(235,48,56,0.50);
                        }
                    }
                    .report-property-li:first-child{
                        margin-top: 0;
                    }
                }
            }
            .section-wrapper-ground{
                width: 100%;
                height: 100%;
                .report-property-ground{
                    width: 100%;
                    padding: 16/$sc+rem 14/$sc+rem 20/$sc+rem;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    .report-property-li{
                        width: 100%;
                        margin-top: 14/$sc+rem;
                        padding: 10/$sc+rem 0 10/$sc+rem 14/$sc+rem;
                        background: #FFFFFF;
                        position: relative;
                        box-shadow: 0 3px 10px 0 rgba(143,143,143,0.15);
                        border-radius: 12/$sc+rem;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                        .report-property-li-left{
                            width: 55%;
                            .title{
                                line-height: 12/$sc+rem;
                                font-size: 12/$sc+rem;
                                color: #4A4A4A;
                                font-weight: normal;
                            }
                            .term{
                                display: block;
                                margin-top: 8/$sc+rem;
                                line-height: 10/$sc+rem;
                                font-size: 10/$sc+rem;
                                color: #9EA3A7;
                            }
                            .advance{
                                display: block;
                                margin-top: 6/$sc+rem;
                                line-height: 10/$sc+rem;
                                font-size: 10/$sc+rem;
                                color: #EB3038;
                            }
                            .other{
                                display: block;
                                margin-top: 4/$sc+rem;
                                line-height: 10/$sc+rem;
                                font-size: 10/$sc+rem;
                                color: #EB3038;
                            }
                        }
                        .report-property-li-right{
                            width: 45%;
                            .commission{
                                display: block;
                                line-height: 12/$sc+rem;
                                font-size: 10/$sc+rem;
                                color: #FF8D91;
                                padding-left: 14/$sc+rem;
                                box-sizing: border-box;
                                -webkit-box-sizing: border-box;
                            }
                            .state{
                                display: block;
                                margin-top: 6/$sc+rem;
                                line-height: 10/$sc+rem;
                                font-size: 10/$sc+rem;
                                color: #9EA3A7;
                            }
                        }
                        .report-property-li-btn{
                            width: 14/$sc+rem;
                            height: 14/$sc+rem;
                            background: #FFFFFF;
                            border: 1px solid #B2B5B8;
                            border-radius: 6/$sc+rem;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 10/$sc+rem;
                            margin: auto;
                        }
                        .report-property-li-btn.select{
                            background: #EB3038;
                            border: 1px solid #EB3038;
                            box-shadow: 0 3px 10px 0 rgba(235,48,56,0.50);
                        }
                    }
                    .report-property-li:first-child{
                        margin-top: 0;
                    }
                }
            }
        }
    }
    .report-property-footer {
        width: 100%;
        height: 40/$sc+rem;
        background: #FFFFFF;
        box-shadow: 0 -1px 2px 0 #E8E8E8;
        z-index: 1;
        .footer-ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            li {
                height: 100%;
            }
            .footer-li:first-child {
                flex: 3;
                -webkit-flex: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    height: 20/$sc+rem;
                    line-height: 20/$sc+rem;
                    padding-left: 26/$sc+rem;
                    font-size: 11/$sc+rem;
                    color: #666666;
                    background: url(../img/more.png) right center no-repeat;
                    background-size: 18/$sc+rem 18/$sc+rem;
                }
            }
            .footer-li:nth-child(2) {
                flex: 2;
                -webkit-flex: 2;
                position: relative;
                span{
                    display: block;
                    width: 80/$sc+rem;
                    height: 80/$sc+rem;
                    border-radius: 50%;
                    font-size: 9/$sc+rem;
                    padding-top: 38/$sc+rem;
                    color: #FFFFFF;
                    text-align: center;
                    line-height: 12/$sc+rem;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    background-image: linear-gradient(-219deg, #FF8044 0%, #F14545 50%);
                    box-shadow: 0 8/$sc+rem 8/$sc+rem 0 rgba(0,0,0,0.12);
                    position: absolute;
                    top: -15/$sc+rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
            .footer-li:last-child {
                flex: 3;
                -webkit-flex: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    height: 20/$sc+rem;
                    line-height: 20/$sc+rem;
                    padding-left: 26/$sc+rem;
                    font-size: 11/$sc+rem;
                    color: #666666;
                    background: url(../img/more.png) right center no-repeat;
                    background-size: 18/$sc+rem 18/$sc+rem;
                }
            }
        }
    }
}
.iScrollVerticalScrollbar {
    width: 4/$sc+rem!important;
    z-index: 1!important;
}