* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: PingFangSC-Regular;
  background: #f4f4f4;
}

input {
  outline: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.container .header {
  width: 100%;
  background: #F6F6F6;
  z-index: 10;
  box-shadow: 0 1px 0 0 #CCCCCC;
  -webkit-box-shadow: 0 1px 0 0 #CCCCCC;
}

.container .header .signal_bar {
  width: 100%;
  height: 0.8rem;
}

.container .header .Search_bar {
  width: 100%;
  height: 1.76rem;
}

.container .header .Search_bar .Search-form {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}

.container .header .Search_bar .Search-form .Search-inpt-box {
  width: 11.8rem;
  height: 1.28rem;
  position: absolute;
  top: 0.24rem;
  left: 0.64rem;
  border-radius: 0.16rem;
}

.container .header .Search_bar .Search-form .Search-inpt-box .Search-inpt-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 0.16rem;
  position: relative;
  background: #FFFFFF;
}

.container .header .Search_bar .Search-form .Search-inpt-box .Search-inpt-wrapper .Search-inpt {
  display: block;
  float: left;
  width: 80%;
  height: 100%;
  padding: 0.32rem 0 0.32rem 0;
  font-size: 0.48rem;
  line-height: 0.64rem;
  border-radius: 0.16rem;
  color: #394043;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container .header .Search_bar .Search-form .Search-inpt-box .Search-inpt-wrapper .Search-inpt::-moz-placeholder {
  color: #CCCCCC;
}

.container .header .Search_bar .Search-form .Search-inpt-box .Search-inpt-wrapper .Search-inpt::-webkit-input-placeholder {
  color: #CCCCCC;
}

.container .header .Search_bar .Search-form .Search-inpt-box .Search-inpt-wrapper .Search-inpt:-ms-input-placeholder {
  color: #CCCCCC;
}

.container .header .Search_bar .Search-form .Search-inpt-box .Search-inpt-wrapper .fdj {
  display: block;
  float: left;
  width: 10%;
  height: 1.28rem;
  background: url(../img/fdj1.png) no-repeat;
  background-size: 0.48rem 0.48rem;
  background-position: 0.48rem 0.44rem;
}

.container .header .Search_bar .Search-form .Search-inpt-box .Search-inpt-wrapper .delect {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 1.28rem;
  background: url(../img/empty.png) no-repeat;
  background-size: 0.8rem 0.8rem;
  background-position: 0.2rem 0.24rem;
}

.container .header .Search_bar .Search-form .cancle {
  display: block;
  width: 1.28rem;
  height: 0.88rem;
  line-height: 0.88rem;
  color: #6C7072;
  font-size: 0.64rem;
  position: absolute;
  top: 0.4rem;
  right: 0.64rem;
  background-size: 0.88rem 0.88rem;
}

.container .search-section {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  background: #f4f4f4;
}

.container .search-section .search-section-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}

.container .search-section .search-section-wrapper .search-section-box {
  width: 100%;
  padding-bottom: 1.28rem;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info {
  width: 100%;
  background: #FFFFFF;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul {
  width: 100%;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li {
  width: 100%;
  padding: 0.64rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0 -0.04rem 0 0 #EEEEEE;
  -webkit-box-shadow: inset 0 -0.04rem 0 0 #EEEEEE;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch {
  width: 100%;
  height: 3.2rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch .section-info-img {
  width: 4.32rem;
  height: 100%;
  position: relative;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch .section-info-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch .section-info-img .biaoqian {
  display: block;
  width: 1.2rem;
  height: 0.88rem;
  position: absolute;
  top: 0;
  left: -0.16rem;
  background: url(../img/biaoqian.png) no-repeat;
  background-size: 1.2rem 0.88rem;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch .section-info-img .ghtxt {
  display: inline-block;
  font-size: 0.4rem;
  line-height: 0.56rem;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  right: 0.16rem;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch .section-info-txt {
  flex: 1;
  -webkit-flex: 1;
  padding-left: 0.64rem;
  height: 0.8rem;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch .section-info-txt .title {
  display: block;
  height: 0.8rem;
  line-height: 0.8rem;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch .section-info-txt .title .position {
  font-size: 0.64rem;
  line-height: 0.8rem;
  float: left;
  color: #394043;
  margin-right: 0.2rem;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch .section-info-txt .title .region {
  font-size: 0.48rem;
  line-height: 0.8rem;
  float: left;
  color: #0099EB;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch .section-info-txt .address {
  display: block;
  font-size: 0.48rem;
  color: #9B9B9B;
  letter-spacing: 0.0084rem;
  line-height: 0.8rem;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch .section-info-txt .openprice {
  display: block;
  font-size: 0.48rem;
  color: #9B9B9B;
  letter-spacing: 0.0084rem;
  line-height: 0.8rem;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch .section-info-txt .averageprice {
  display: block;
  height: 0.8rem;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch .section-info-txt .averageprice .averag {
  display: block;
  line-height: 0.8rem;
  font-size: 0.48rem;
  float: left;
  color: #9B9B9B;
}

.container .search-section .search-section-wrapper .search-section-box .search-section-info .section-info-data-ul .section-info-data-li .datasearch .section-info-txt .averageprice .price {
  line-height: 0.8rem;
  display: block;
  float: left;
  font-size: 0.64rem;
  color: #EE5C44;
}

.container .search-section .search-section-wrapper .search-section-box .section-load {
  margin: 0.64rem auto 0;
  width: 13.72rem;
  height: 1.76rem;
  background: #FFFFFF;
  border: 0.04rem solid #EEEEEE;
  border-radius: 0.08rem;
  text-align: center;
  line-height: 1.68rem;
  font-size: 0.56rem;
  color: #999999;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container .search-section .search-section-wrapper .search-section-box .section-loading {
  margin: 0.64rem auto 0;
  width: 13.72rem;
  height: 1.76rem;
  background: #FFFFFF;
  border: 0.04rem solid #EEEEEE;
  border-radius: 0.08rem;
  box-sizing: border-box;
  text-align: center;
  line-height: 1.68rem;
  font-size: 0.56rem;
  color: #999999;
  position: relative;
  -webkit-box-sizing: border-box;
}

.container .search-section .search-section-wrapper .search-section-box .section-loading i {
  display: inline-block;
  width: 0.64rem;
  height: 0.64rem;
  transform-origin: center center;
  position: absolute;
  top: 0.52rem;
  left: 34%;
  background: url(../img/waiting.png) no-repeat;
  background-size: 0.64rem 0.64rem;
}

.container .search-section .search-section-wrapper .search-section-box .section-loading span {
  line-height: 0.8rem;
  position: absolute;
  top: 0.44rem;
  left: 40%;
}

.container .search-section .search-section-wrapper .search-section-box .section-loadnone {
  margin: 0.64rem auto 0;
  width: 13.72rem;
  height: 1.76rem;
  background: #FFFFFF;
  border: 0.04rem solid #EEEEEE;
  border-radius: 0.08rem;
  box-sizing: border-box;
  text-align: center;
  line-height: 1.68rem;
  font-size: 0.56rem;
  color: #999999;
  -webkit-box-sizing: border-box;
}

.container .search-section .search-section-waiting {
  display: none;
  background: #FFFFFF;
  position: relative;
}

.container .search-section .search-section-waiting i {
  display: block;
  width: 1.28rem;
  height: 1.28rem;
  position: absolute;
  top: 40%;
  left: 48%;
  background: url(../img/waiting.png) no-repeat;
}

.container .search-section .search-section-fail {
  display: none;
  background: #FFFFFF;
  position: relative;
}

.container .search-section .search-section-fail i {
  display: block;
  width: 3.84rem;
  height: 3.84rem;
  margin: 0 auto;
  padding-top: 8rem;
  background: url(../img/fail.png) no-repeat;
  background-position-y: bottom;
  background-size: 3.84rem 3.84rem;
}

.container .search-section .search-section-fail p {
  font-size: 0.64rem;
  margin-top: 0.64rem;
  text-align: center;
  color: #6C7072;
}

.container .search-section .search-section-none {
  display: none;
  background: #FFFFFF;
  position: relative;
}

.container .search-section .search-section-none i {
  display: block;
  width: 3.84rem;
  height: 3.84rem;
  margin: 0 auto;
  padding-top: 8rem;
  background: url(../img/fail.png) no-repeat;
  background-position-y: bottom;
  background-size: 3.84rem 3.84rem;
}

.container .search-section .search-section-none p {
  font-size: 0.64rem;
  margin-top: 0.64rem;
  text-align: center;
  color: #6C7072;
}

.container .search-section .search-section-state {
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 0.4rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container .search-section .search-section-state .section-state-box {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.container .search-section .search-section-state .section-state-box .hot-search {
  background: #FFFFFF;
  margin-bottom: 0.4rem;
}

.container .search-section .search-section-state .section-state-box .hot-search .hot-search-title {
  width: 100%;
  height: 1.76rem;
  padding: 0.48rem 0.64rem;
  background: #FFFFFF;
  box-shadow: inset 0 -1px 0 0 #EEEEEE;
  -webkit-box-shadow: inset 0 -1px 0 0 #EEEEEE;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container .search-section .search-section-state .section-state-box .hot-search .hot-search-title .title-txt {
  display: block;
  float: left;
  font-size: 0.56rem;
  margin-right: 0.2rem;
  line-height: 0.8rem;
  color: #999999;
}

.container .search-section .search-section-state .section-state-box .hot-search .hot-search-title .title-hot {
  display: block;
  float: left;
  width: 1.08rem;
  height: 0.8rem;
  background: url(../img/hot.png) no-repeat;
  background-size: 1.08rem 0.48rem;
  background-position-y: 0.16rem;
}

.container .search-section .search-section-state .section-state-box .hot-search .hot-search-title .title-load {
  display: block;
  float: right;
  width: 0.88rem;
  height: 0.88rem;
  transform-origin: center center;
  background: url(../img/git.png) no-repeat;
  background-size: 0.88rem 0.88rem;
}

.container .search-section .search-section-state .section-state-box .hot-search .hot-search-label {
  width: 100%;
  padding: 0.4rem 0.4rem;
  background: #FFFFFF;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container .search-section .search-section-state .section-state-box .hot-search .hot-search-label span {
  display: inline-block;
  float: left;
  padding: 0 0.48rem;
  font-size: 0.56rem;
  height: 1.28rem;
  line-height: 1.28rem;
  border-radius: 0.08rem;
  margin: 0.24rem;
  opacity: 0.6;
  background: #E6F7FF;
  color: #0099EB;
  border: 1px solid rgba(0, 153, 235, 0.6);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container .search-section .search-section-state .section-state-box .history-search {
  flex: 1;
  -webkit-flex: 1;
  background: #FFFFFF;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.container .search-section .search-section-state .section-state-box .history-search .history-search-title {
  width: 100%;
  height: 1.76rem;
  padding: 0.48rem 0.64rem;
  background: #FFFFFF;
  box-shadow: inset 0 -1px 0 0 #EEEEEE;
  -webkit-box-shadow: inset 0 -1px 0 0 #EEEEEE;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container .search-section .search-section-state .section-state-box .history-search .history-search-title .title-txt {
  display: block;
  float: left;
  font-size: 0.56rem;
  margin-right: 0.2rem;
  line-height: 0.8rem;
  color: #999999;
}

.container .search-section .search-section-state .section-state-box .history-search .history-search-title .title-Trash {
  display: block;
  float: right;
  width: 0.88rem;
  height: 0.88rem;
  transform-origin: center center;
  background: url(../img/Trash.png) no-repeat;
  background-size: 0.88rem 0.88rem;
}

.container .search-section .search-section-state .section-state-box .history-search .history-search-no {
  display: none;
  height: 2.08rem;
  line-height: 0.8rem;
  padding: 0.64rem;
  font-size: 0.56rem;
  color: #6C7072;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container .search-section .search-section-state .section-state-box .history-search .history-search-body {
  flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  background: #FFFFFF;
}

.container .search-section .search-section-state .section-state-box .history-search .history-search-body .history-search-ul {
  width: 100%;
}

.container .search-section .search-section-state .section-state-box .history-search .history-search-body .history-search-ul .history-search-li {
  height: 1.92rem;
  padding: 0.56rem 1.52rem;
  background: url(../img/time.png) no-repeat;
  background-size: 0.56rem 0.56rem;
  background-position: 0.68rem 0.68rem;
  box-shadow: inset 0 -1px 0 0 #EEEEEE;
  -webkit-box-shadow: inset 0 -1px 0 0 #EEEEEE;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container .search-section .search-section-state .section-state-box .history-search .history-search-body .history-search-ul .history-search-li span:nth-child(1) {
  display: block;
  float: left;
  line-height: 0.8rem;
  font-size: 0.56rem;
  color: #6C7072;
}

.container .search-section .search-section-state .section-state-box .history-search .history-search-body .history-search-ul .history-search-li span:nth-child(2) {
  display: block;
  float: left;
  margin: 0.04rem 0.2rem 0;
  line-height: 0.8rem;
  font-size: 0.52rem;
  color: #CCCCCC;
}

.container .search-section .search-section-state .section-state-box .history-search .history-search-body .history-search-ul .history-search-li span:nth-child(3) {
  display: block;
  float: left;
  line-height: 0.8rem;
  font-size: 0.48rem;
  color: #CCCCCC;
}
