* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

html,
body {
    width: 100%;
    font-family: PingFangSC-Regular;
}

input {
    outline: none;
    border: none;
}

li {
    list-style: none;
}

$sc:25;
.container {
    width: 100%;
    position: relative;
    background-color: #f4f4f4;
    .header {
        width: 100%;
        background: #F6F6F6;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        box-shadow: 0 1px 0 0 #CCCCCC;
        -webkit-box-shadow: 0 1px 0 0 #CCCCCC;
        .signal_bar {
            width: 100%;
            height: 20/$sc+rem;
        }
        .Search_bar {
            width: 100%;
            height: 44/$sc+rem;
            .Search-form {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                position: relative;
                .Search-inpt-box{
                    width: 295/$sc+rem;
                    height: 32/$sc+rem;
                    position: absolute;
                    top: 6/$sc+rem;
                    left: 16/$sc+rem;
                    border-radius: 4/$sc+rem;
                    .Search-inpt-wrapper{
                        width: 100%;
                        height: 100%;
                        border-radius: 4/$sc+rem;
                        position: relative;
                        background: #FFFFFF;
                        .Search-inpt {
                            display: block;
                            float: left;
                            width: 80%;
                            height: 100%;
                            padding: 8/$sc+rem 0 8/$sc+rem 0;
                            font-size: 12/$sc+rem;
                            line-height: 16/$sc+rem;
                            border-radius: 4/$sc+rem;
                            color: #394043;
                            box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                        }
                        .Search-inpt::-moz-placeholder {
                            color: #CCCCCC;
                        }
                        .Search-inpt::-webkit-input-placeholder {
                            color: #CCCCCC;
                        }
                        .Search-inpt:-ms-input-placeholder {
                            color: #CCCCCC;
                        }
                        .fdj{
                            display: block;
                            float: left;
                            width: 10%;
                            height: 32/$sc+rem;
                            background: url(../img/fdj1.png) no-repeat;
                            background-size: 12/$sc+rem 12/$sc+rem;
                            background-position: 12/$sc+rem 11/$sc+rem;
                        }
                        .delect{
                            display: none;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 10%;
                            height: 32/$sc+rem;
                            background: url(../img/empty.png) no-repeat;
                            background-size: 20/$sc+rem 20/$sc+rem;
                            background-position: 5/$sc+rem 6/$sc+rem;
                        }
                    }
                }
                .cancle {
                    display: block;
                    width: 32/$sc+rem;
                    height: 22/$sc+rem;
                    line-height: 22/$sc+rem;
                    color: #6C7072;
                    font-size: 16/$sc+rem;
                    position: absolute;
                    top: 10/$sc+rem;
                    right: 16/$sc+rem;
                    background-size: 22/$sc+rem 22/$sc+rem;
                }
            }
        }
    }
    .partition {
        width: 100%;
        height: 64/$sc+rem;
    }
    //-----------------内    容----------------------
    .search-section {
        background: #f4f4f4;
        .search-section-wrapper{
            width: 100%;
            padding-bottom: 32/$sc+rem;
            .search-section-info {
                width: 100%;
                background: #FFFFFF;
                .section-info-data-ul {
                    width: 100%;
                    .section-info-data-li {
                        width: 100%;
                        padding: 16/$sc+rem;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-shadow: inset 0 -1/$sc+rem 0 0 #EEEEEE;
                        -webkit-box-shadow: inset 0 -1/$sc+rem 0 0 #EEEEEE;
                        .datasearch {
                            width: 100%;
                            height: 80/$sc+rem;
                            display: flex;
                            display: -webkit-flex;
                            flex-direction: row;
                            .section-info-img {
                                width: 108/$sc+rem;
                                height: 100%;
                                position: relative;
                                img {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                                .biaoqian {
                                    display: block;
                                    width: 30/$sc+rem;
                                    height: 22/$sc+rem;
                                    position: absolute;
                                    top: 0;
                                    left: -4/$sc+rem;
                                    background: url(../img/biaoqian.png) no-repeat;
                                    background-size: 30/$sc+rem 22/$sc+rem;
                                }
                                .ghtxt {
                                    display: inline-block;
                                    font-size: 10/$sc+rem;
                                    line-height: 14/$sc+rem;
                                    color: #FFFFFF;
                                    position: absolute;
                                    bottom: 0;
                                    right: 4/$sc+rem;
                                }
                            }
                            .section-info-txt {
                                flex: 1;
                                -webkit-flex: 1;
                                padding-left: 16/$sc+rem;
                                height: 20/$sc+rem;
                                h3 {
                                    height: 20/$sc+rem;
                                    .position {
                                        font-size: 16/$sc+rem;
                                        float: left;
                                        color: #394043;
                                        margin-right: 5/$sc+rem;
                                    }
                                    .region {
                                        font-size: 12/$sc+rem;
                                        line-height: 20/$sc+rem;
                                        float: left;
                                        color: #0099EB;
                                    }
                                }
                                .address {
                                    display: block;
                                    font-size: 12/$sc+rem;
                                    color: #9B9B9B;
                                    letter-spacing: 0.21/$sc+rem;
                                    line-height: 20/$sc+rem;
                                }
                                .openprice {
                                    display: block;
                                    font-size: 12/$sc+rem;
                                    color: #9B9B9B;
                                    letter-spacing: 0.21/$sc+rem;
                                    line-height: 20/$sc+rem;
                                }
                                .averageprice {
                                    display: block;
                                    height: 20/$sc+rem;
                                    .averag {
                                        display: block;
                                        line-height: 20/$sc+rem;
                                        font-size: 12/$sc+rem;
                                        float: left;
                                        color: #9B9B9B;
                                    }
                                    .price {
                                        line-height: 20/$sc+rem;
                                        display: block;
                                        float: left;
                                        font-size: 16/$sc+rem;
                                        color: #EE5C44;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .section-load {
                margin: 16/$sc+rem auto 32/$sc+rem;
                width: 343/$sc+rem;
                height: 44/$sc+rem;
                background: #FFFFFF;
                border: 1/$sc+rem solid #EEEEEE;
                border-radius: 2/$sc+rem;
                text-align: center;
                line-height: 42/$sc+rem;
                font-size: 14/$sc+rem;
                color: #999999;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }
            .section-loading {
                margin: 16/$sc+rem auto 32/$sc+rem;
                width: 343/$sc+rem;
                height: 44/$sc+rem;
                background: #FFFFFF;
                border: 1/$sc+rem solid #EEEEEE;
                border-radius: 2/$sc+rem;
                box-sizing: border-box;
                text-align: center;
                line-height: 42/$sc+rem;
                font-size: 14/$sc+rem;
                color: #999999;
                position: relative;
                -webkit-box-sizing: border-box;
                i{
                    display: inline-block;
                    width: 16/$sc+rem;
                    height: 16/$sc+rem;
                    transform-origin: center center;
                    position: absolute;
                    top: 13/$sc+rem;
                    left: 34%;
                    background: url(../img/waiting.png) no-repeat;
                    background-size: 16/$sc+rem 16/$sc+rem;
                }
                span{
                    line-height: 20/$sc+rem;
                    position: absolute;
                    top: 11/$sc+rem;
                    left: 40%;
                }
            }
            .section-loadnone {
                margin: 16/$sc+rem auto 32/$sc+rem;
                width: 343/$sc+rem;
                height: 44/$sc+rem;
                background: #FFFFFF;
                border: 1/$sc+rem solid #EEEEEE;
                border-radius: 2/$sc+rem;
                box-sizing: border-box;
                text-align: center;
                line-height: 42/$sc+rem;
                font-size: 14/$sc+rem;
                color: #999999;
                -webkit-box-sizing: border-box;
            }
        }
        .search-section-waiting{
            display: none;
            background: #FFFFFF;
            position: relative;
            i{
                display: block;
                width: 32/$sc+rem;
                height: 32/$sc+rem;
                position: absolute;
                top: 40%;
                left: 48%;
                background: url(../img/waiting.png) no-repeat;
            }
        }
        .search-section-fail{
            display: none;
            background: #FFFFFF;
            position: relative;
            i{
                display: block;
                width: 96/$sc+rem;
                height: 96/$sc+rem;
                margin: 0 auto;
                padding-top: 200/$sc+rem;
                background: url(../img/fail.png) no-repeat;
                background-position-y: bottom;
                background-size: 96/$sc+rem 96/$sc+rem;
            }
            p{
                font-size: 16/$sc+rem;
                margin-top: 16/$sc+rem;
                text-align: center;
                color: #6C7072;
            }
        }
        .search-section-none{
            display: none;
            background: #FFFFFF;
            position: relative;
            i{
                display: block;
                width: 96/$sc+rem;
                height: 96/$sc+rem;
                margin: 0 auto;
                padding-top: 200/$sc+rem;
                background: url(../img/fail.png) no-repeat;
                background-position-y: bottom;
                background-size: 96/$sc+rem 96/$sc+rem;
            }
            p{
                font-size: 16/$sc+rem;
                margin-top: 16/$sc+rem;
                text-align: center;
                color: #6C7072;
            }
        }
        .search-section-state{
            display: none;
            height: 100%;
            .hot-search{
                height: 152/$sc+rem;
                background: #FFFFFF;
                margin-top: 10/$sc+rem;
                .hot-search-title{
                    width: 100%;
                    height: 44/$sc+rem;
                    padding: 12/$sc+rem 16/$sc+rem;
                    background: #FFFFFF;
                    box-shadow: inset 0 -1px 0 0 #EEEEEE;
                    -webkit-box-shadow: inset 0 -1px 0 0 #EEEEEE;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    .title-txt{
                        display: block;
                        float: left;
                        font-size: 14/$sc+rem;
                        margin-right: 5/$sc+rem;
                        line-height: 20/$sc+rem;
                        color: #999999;
                    }
                    .title-hot{
                        display: block;
                        float: left;
                        width: 27/$sc+rem;
                        height: 20/$sc+rem;
                        background: url(../img/hot.png) no-repeat;
                        background-size: 27/$sc+rem 12/$sc+rem ;
                        background-position-y: 4/$sc+rem;
                    }
                    .title-load{
                        display: block;
                        float: right;
                        width: 22/$sc+rem;
                        height: 22/$sc+rem;
                        transform-origin: center center; 
                        background: url(../img/git.png) no-repeat;
                        background-size: 22/$sc+rem 22/$sc+rem ;
                    }
                }
                .hot-search-label{
                    width: 100%;
                    padding: 10/$sc+rem 10/$sc+rem;
                    background: #FFFFFF;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    span{
                        display: inline-block;
                        float: left;
                        padding: 0 12/$sc+rem;
                        font-size: 14/$sc+rem;
                        height: 32/$sc+rem;
                        line-height: 32/$sc+rem;
                        border-radius: 2/$sc+rem;
                        margin: 6/$sc+rem;
                        opacity: 0.6;
                        background: #E6F7FF;
                        color: #0099EB;
                        border: 1px solid rgba(0,153,235,.6);
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                    }
                }
            }
            .history-search{
                height: 152/$sc+rem;
                background: #FFFFFF;
                margin-top: 10/$sc+rem;
                .history-search-title{
                    width: 100%;
                    height: 44/$sc+rem;
                    padding: 12/$sc+rem 16/$sc+rem;
                    background: #FFFFFF;
                    box-shadow: inset 0 -1px 0 0 #EEEEEE;
                    -webkit-box-shadow: inset 0 -1px 0 0 #EEEEEE;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    .title-txt{
                        display: block;
                        float: left;
                        font-size: 14/$sc+rem;
                        margin-right: 5/$sc+rem;
                        line-height: 20/$sc+rem;
                        color: #999999;
                    }
                    .title-Trash{
                        display: block;
                        float: right;
                        width: 22/$sc+rem;
                        height: 22/$sc+rem;
                        transform-origin: center center; 
                        background: url(../img/Trash.png) no-repeat;
                        background-size: 22/$sc+rem 22/$sc+rem ;
                    }
                }
                .history-search-no{
                    display: none;
                    height: 52/$sc+rem;
                    line-height: 20/$sc+rem ;
                    padding: 16/$sc+rem ;
                    font-size: 14/$sc+rem;
                    color: #6C7072;
                    text-align: center;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
                .history-search-ul{
                    width: 100%;
                    .history-search-li{
                        height: 48/$sc+rem;
                        padding: 14/$sc+rem 38/$sc+rem;
                        background:url(../img/time.png) no-repeat;
                        background-size: 14/$sc+rem 14/$sc+rem;
                        background-position: 17/$sc+rem 17/$sc+rem;
                        box-shadow: inset 0 -1px 0 0 #EEEEEE;
                        -webkit-box-shadow: inset 0 -1px 0 0 #EEEEEE;
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        span:nth-child(1){
                            display: block;
                            float: left;
                            line-height: 20/$sc+rem;
                            font-size: 14/$sc+rem;
                            color: #6C7072;
                        }
                        span:nth-child(2){
                            display: block;
                            float: left;
                            margin: 1/$sc+rem 5/$sc+rem 0;
                            line-height: 20/$sc+rem;
                            font-size: 13/$sc+rem;
                            color: #CCCCCC;
                        }
                        span:nth-child(3){
                            display: block;
                            float: left;
                            line-height: 20/$sc+rem;
                            font-size: 12/$sc+rem;
                            color: #CCCCCC;
                        }
                    }
                }
            }
        }
    }
}